#mob-popper {
    /*必要css属性*/
    width: max-content;
    position: absolute;
    top: 0;
    left: 0;


    /*background: #222;*/
    /*color: white;*/
    /*font-weight: bold;*/
    /*padding: 5px;*/
    /*border-radius: 4px;*/
    /*font-size: 90%;*/

    display: none;
    height: 0;
    background: #222;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 4px;
    font-size: 90%;
    transition: height .3s ease-in-out;
}

#arrow {
    position: absolute;
    background: #222;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
}
