h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    color: #1f2f3d;
    margin: 0;
    padding: 0;
}

.mob-doc h2 {
    margin: 0;
}

.mob-doc h3 {
    margin: 55px 0 20px;
}

.mob-doc {
    width: 100%;
    height: 100%;
}

.mob-doc.content {
    box-sizing: border-box;
    padding-top: 20px;
}

.mob-demo-block {
    border-radius: 4px;
    border: 1px solid #ededed;
}

.mob-demo-example {
    padding: 24px;
}

.mob-demo-block .meta {
    width: 100%;
    border-top: 1px solid #ededed;
    background-color: #fafafa;
}

.mob-demo-example-child {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.mob-demo-example-child > * {
    margin-right: 5px;
}

.child-title {
    min-width: 50px;
    margin-right: 15px;
}

.code-tag {
    background-color: #fafafa;
    padding: 2px 4px;
    border-radius: 4px;
    border: 1px solid var(--mob-border-color);
}

code:not(.source-code) {
    padding: 4px 10px;
    background-color: rgba(255, 220, 220, 0.61);
    /*background-color: #f5f7fa;*/
    border-radius: 4px;
}

.tips {
    box-sizing: border-box;
    padding: 40px 20px;
    border-left: 4px solid;
    border-top: none;
    border-right: none;
    border-bottom: none;
}

.tips-success {
    background-color: #f0f9eb;
    border-color: #67c23a;
}

.tips-success code:not(.source-code) {
    background-color: #e1f3d8;
}


.tips-warning {
    background-color: #fdf6ec;
    border-color: #e6a23c;
}

.tips-warning code:not(.source-code) {
    background-color: #faecd8;
}


.tips-danger {
    background-color: #fef0f0;
    border-color: #f56c6c;
}

.tips-danger code:not(.source-code) {
    background-color: #fde2e2;
}

