
/* select */


.mob-select {
    width: 100%;
    position: relative;
    font-size: 14px;
    /* display: inline-block; */
    vertical-align: middle;
    transition: border-color var(--mob-transition-duration) cubic-bezier(.645, .045, .355, 1);
    --mob-input-icon-color: var(--mob-text-color-placeholder)
}

.mob-select .mob-select__wrapper:focus-within {
    outline: none;
    border-color: var(--mob-active-border-color)
}
.mob-select .mob-select__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    transition: border-color var(--mob-transition-duration) cubic-bezier(.645, .045, .355, 1);
    color: var(--mob-input-color);
    padding: 0 15px;
    cursor: pointer;
    box-shadow: 0 0 0 1px var(--el-border-color) inset;
    cursor: pointer;
}

.mob-select .mob-select__selection{
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
}

.mob-select .mob-select__selected-item.is-hidden{
    width: 1px;
    overflow: hidden;
    z-index: 0;
    height: 40px;

}
.mob-select .mob-select__selected-item {
    position: relative;
    width: 100%;
    background-color: #fff;
    height: 40px;
    line-height: 40px;
    z-index: 1;
}
.mob-select .mob-input__inner {
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    color: var(--mob-input-color);
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: none;
    width: 1px;
    /*width: 100%;*/
}
.mob-select .mob-select__selected-item span{
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    white-space: nowrap;
}

.mob-select .mob-select__suffix{
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    flex-shrink: 0;
    flex-wrap: nowrap;
    height: 100%;
    text-align: center;
    color: var(--mob-text-color-placeholder);
    transition: all var(--mob-transition-duration);
}
.mob-select .mob-select__suffix-inner{
    position: relative;
}
.mob-select  .mob-select__suffix .is_hidden{
    display: none;
}
.mob-select .mob-icon__down-arrow.is_popper .mob-icon{
    transform: rotate(180deg);
}
.mob-select .mob-select__wrapper__clearable:hover .mob-icon__clean{
    display: inline-flex;
}

.mob-select .mob-select-popper {
    position: absolute;
    width: 100%;
    display: block;
    /* display: grid; */
    margin-top: 10px;
    box-sizing: border-box;
    height: auto;
    opacity: 1;
    transition: all .2s cubic-bezier(.645, .045, .355, 1);
}
.mob-select .mob-select-popper .mob-select-dropdown{
    padding-top: 8px;
    box-sizing: border-box;
    border-radius: 4px;
}
.mob-select .mob-select-popper.is_hidden{
    opacity: 0;
    display: none;
}


.mob-select .mob-select-popper .mob-select-dropdown__wrapper{
    box-shadow: var(--mob-box-shadow-light);
    position: relative;
    box-sizing: border-box;
    background-color: white;
    border-radius: 4px;
}
.mob-select .mob-select-popper .mob-select--dropdown__inner{
    position: relative;
    box-sizing: border-box;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    padding: 6px 0;
}
.mob-select .mob-select-popper .mob-popper_arrow{
    display: inline-block;
    position: absolute;
    width: 12px;
    height: 12px;
    left: calc(50% - 6px);
    top: -6px;
    transform: rotate(45deg);
    background-color: white;
    z-index: 0;
}
.mob-select .mob-select-popper .mob-select-option__suffix{
    /* position: relative; */
    z-index: 1;
    background-color: white;
    box-sizing: border-box;
    padding: 0 32px 0 20px;
    height: 34px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    cursor: pointer;

}
.mob-select .mob-select-popper .mob-select-option__suffix:hover{
    background-color: var(--mob-fill-color-light);
}
.mob-select .mob-select-popper .mob-select-option__suffix.is_select{
    color: #ff4949;
    font-weight: bolder;
}

.mob-select .mob-select-popper .mob-popper_arrow:before{
    display: inline-block;
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    border-top: 1px solid #dcdfe6;
    border-left: 1px solid #dcdfe6;
}
.mob-select .mob-select__suffix-inner.mob-icon__clean{
    display: none;
}

.mob-select:not(.is_disabled) .mob-select__wrapper:hover .mob-select__suffix-inner.is_hide_able {
    display: none;
}

.mob-select:not(.is_disabled) .mob-select__wrapper:hover .mob-select__suffix-inner.mob-icon__clean {
    display: block;
}

/* 多选 */
.mob-select .mob-select__selected-item__collapse-contain {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.mob-select .mob-select__selected-item__collapse{
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
    border-radius: 4px;
    height: 30px;
    margin: 2px;
    color: #a6a9ae;
    padding: 3px 10px;
    font-size: .7rem;
    background-color: #f4f4f5;
}


/*禁用状态*/
.mob-select.is_disabled *{
    cursor: not-allowed;
}
.mob-select.is_disabled .mob-select__wrapper {
    background-color: var(--mob-disabled-background-color);
}
.mob-select.is_disabled .mob-select__selected-item {
    color: var(--mob-disabled-text-color);
    background-color: var(--mob-disabled-background-color);
}
