:root {
    /*颜色*/
    --mob-primary-color: #409eff;
    --mob-primary-light-color2: #66b1ff;
    --mob-primary-light-color6: #b3d8ff;
    --mob-primary-light-color9: #ecf5ff;

    /* text color */
    --mob-primary-text-color: #303133;
    --mob-regular-text-color: #606266;
    --mob-secondary-text-color: #909399;
    --mob-placeholder-text-color: #A8ABB2;
    --mob-disabled-text-color: #C0C4CC;

    /* border color */
    --mob-darker-border-color:#CDD0D6;
    --mob-dark-border-color:#D4D7DE;
    --mob-base-border-color:#DCDFE6;
    --mob-light-border-color:#E4E7ED;
    --mob-lighter-border-color:#EBEEF5;
    --mob-extra-lighter-border-color:#F2F6FC;

    /*fill color*/
    --mob-darker-fill-color: #E6E8EB;
    --mob-dark-fill-color: #EBEDF0;
    --mob-base-fill-color: #F0F2F5;
    --mob-light-fill-color: #F5F7FA;
    --mob-lighter-fill-color: #FAFAFA;
    --mob-extra-light-fill-color: #FAFCFF;
    --mob-blank-light-fill-color: #FFFFFF;

    /* basic */
    --mob-basic-black-color:#000000;
    --mob-basic-white-color:#FFFFFF;
    --mob-transparent-color:transparent;
    --mob-page-background-color:#F2FEF5;
    --mob-base-background-color:#FFFFFF;
    --mob-overlay-background-color:#FFFFFF;


    --mob-input-color: #606266;
    --mob-normal-color: #606266;
    --mob-not-allow-text-color: #c0c4cc;

    /*文字颜色*/
    --mob-active-text-color: var(--mob-primary-color);

    /*背景颜色*/
    --mob-active-text-color-light: var(--mob-primary-light-color9);

    --mob-text-color-placeholder: #a8abb2;
    --mob-transition-duration: .2s;
    --mob-text-backgroud-color-primary: #ffffff;
    --mob-active-fill-color: var(--mob-primary-color);
    --mob-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, .12);
    --mob-border-color: #dcdfe6;
    --mob-disabled-active-color: #dcdfe6;
    --mob-active-border-color: var(--mob-primary-color);
    --mob-not-allow-background-color: #f5f7fa;
    --mob-disabled-background-color: #f5f7fa;
    --mob-check-box-checked-icon-color: #ffffff;
    --mob-check-box-disabled-checked-icon-color: #a8abb2;
    --mob-transition-animate: cubic-bezier(.645, .045, .355, 1);
    --mob-ui-title-color: transparent;
    --mob-ui-title-background: -webkit-linear-gradient(
            120deg,
            #bd34fe 30%,
            #41d1ff
    );
    --mob-ui-title-background-image: linear-gradient(
            -45deg,
            #bd34fe 50%,
            #47caff 50%
    );
    /* icon */
    /*--mob-icon-size:1rem;*/
    --mob-icon-size: 16px;

    /* tree树形控件属性 */
    --mob-tree-icon-size: var(--mob-icon-size);

    /* popper 控件属性 */
    --mob-popper-max-height:300px;

    /* table 控件属性*/
    /*表头背景颜色*/
    --mob-table-header-bg-color:var(--mob-base-background-color);
    /*table 行颜色*/
    /*--mob-table-tr-bg-color:var(--mob-base-background-color);*/
    /*table 块颜色*/
    --mob-table-td-bg-color:var(--mob-base-background-color);
    /*边框颜色*/
    --mob-table-border:var(--mob-lighter-border-color);
    --mob-table-head-text-color:var(--mob-secondary-text-color);
    --mob-table-body-text-color:var(--mob-regular-text-color);
    /*偶数行颜色*/
    --mob-table-body-tr-even-color:var(--mob-lighter-fill-color);
    /*鼠标移入颜色*/
    --mob-table-body-tr-hover-color:var(--mob-light-fill-color);
    --mob-table-fixed-left-column: inset 10px 0 10px -10px rgba(0, 0, 0, .15);
    --mob-table-fixed-right-column: inset -10px 0 10px -10px rgba(0, 0, 0, .15);

    /* date-picker */
    --mob-date-off-text-color: var(--mob-placeholder-text-color);


    /*--mob-calendar-col-height:60px;*/
    --mob-calendar-col-padding:10px;
    --mob-calendar-col-span-width:60px;
    --mob-calendar-col-span-height:40px;
    --mob-calendar-col-span-border-radius: 30px;
    --mob-calendar-date-col-width:45px;
    --mob-calendar-date-col-padding:4px;
    --mob-calendar-date-col-span-width:24px;
    --mob-calendar-date-col-span-fontSize:12px;

    --mob-calendar-header-padding:10px;


    --mob-date-sider-width:110px;
    --mob-date-sider-button-line-height: 28px;

    --mob-date-container-padding: 10px;
    --mob-date-yeaer-month-col: 4;
    --mob-date-container-year-month-col-width: calc((var(--mob-calendar-col-padding) * 2 + var(--mob-calendar-col-span-width)));
    --mob-date-container-date-col-width: calc((var(--mob-calendar-date-col-padding) * 2 + var(--mob-calendar-date-col-span-width)));
    --mob-date-container-year-month-width: calc(var(--mob-date-container-year-month-col-width) * var(--mob-date-yeaer-month-col));
    --mob-date-year-month-shortcuts-maxWidth: calc((var(--mob-date-container-year-month-width) + var(--mob-date-sider-width)));
    --mob-date-year-month-range-maxWidth: calc((var(--mob-date-container-year-month-width) * 2));
    --mob-date-year-month-range-shortcuts-maxWidth: calc((var(--mob-date-container-year-month-width) * 2 + var(--mob-date-sider-width)));


    /* default 尺寸 */
    --mob-default-size: 32px;
    --mob-big-size: 40px;

    --mob-size:var(--mob-default-size);

}

* {
    --mob-button-height: var(--mob-size);
    --mob-pagination-height: var(--mob-size);
    --mob-input-height:var(--mob-size);
    --mob-radio-height:var(--mob-size);
    --mob-radio-button-height: var(--mob-size);
    --mob-check-box-height:var(--mob-size);
    --mob-check-box-button-height:var(--mob-size);
    --mob-select-height:var(--mob-size);
    --mob-tree-select-height:var(--mob-size);
    --mob-date-time-picker-height:var(--mob-size);

    --mob-switch-height: 20px;
    --mob-tree-height: 26px;
}

.large {
    --mob-size:var(--mob-big-size) !important;
    --mob-switch-height: 24px;
    --mob-tree-height: 26px;
}

/* mob组件fontsSize默认为16px */
[class^='mob'] {
    font-size: 14px;
}
/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ 抵消 bootstrap 带来的影响 ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓  */
.mob-checkbox * {
    box-sizing: content-box;
}

.mob-checkbox *::before, .mob-checkbox *::after {
    box-sizing: content-box;
}
/* ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ 抵消 bootstrap 带来的影响  ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑  */

.mob-icon svg {
    width: var(--mob-icon-size);
    height: var(--mob-icon-size);
}

.mob-icon {
    height: inherit;
    line-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all var(--mob-transition-duration);
    /*margin-left: 8px;*/
}

.mob-icon__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

}

.mob-unselect-text {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard syntax */
}

.mob-icon.mob_icon__calendar::before {
    content: ' \e667 ';
    font-family: 'iconfont';
    display: block;
}
mob-switch,mob-popper{
    display: inline-block;
}
mob-icon, mob-icon-calendar, mob-icon-caret-bottom, mob-icon-caret-left,
mob-icon-caret-right, mob-icon-caret-top, mob-icon-check, mob-icon-circle-close, mob-icon-clock,
mob-icon-close, mob-icon-decrease, mob-icon-arrow-down, mob-icon-increase, mob-icon-invisible,
mob-icon-loading, mob-icon-search, mob-icon-visible, mob-icon {
    /*font-size: 0;*/
    display: flex;
}

mob-button, mob-check-box {
    display: inline-flex;
    font-size: 0;
    align-items: center;
    justify-content: center;
}

mob-check-box {
    display: inline-flex;
    font-size: 0;
}

mob-date-year, mob-date-month, mob-date-date,mob-date-year-range,mob-date-month-range,mob-date-date-range,mob-date-date-range {
    display: inline-block;
}

mob-select, mob-tree-select, mob-date-picker, mob-time-spinner {
    min-width: 200px;
    width: 100%;
}

mob-time-picker, mob-select, mob-time-spinner, mob-divider, mob-tree-select, mob-date, mob-date-picker {
    display: block;
}

mob-form-item div[ng-transclude] {
    width: 100%;
    padding: 0;
    overflow:auto;
}

mob-form-table {
    display: flex;
    width: 100%;
}



.mob-scrollbar::-webkit-scrollbar {
    /* 对应纵向滚动条的宽度 */
    width: 8px;
    /* 对应横向滚动条的宽度 */
    height: 8px;
    background-color: #ffffff;
}

/* 滚动条上的箭头按钮 */
.mob-scrollbar::-webkit-scrollbar-button {
    display: none;
}

/* 滚动条上的滚动滑块 */
.mob-scrollbar::-webkit-scrollbar-thumb {
    width: 4px;
    border-radius: 4px;
    background-color: #e4e7ed;
    cursor: pointer;
}

.mob-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #c5c7cb;
}

/* 动画效果 */
@keyframes mob-circle-loading {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(90deg);
    }
}
