
/* select */


.mob-select {
    width: 100%;
    position: relative;
    font-size: 14px;
    /* display: inline-block; */
    vertical-align: middle;
    transition: border-color var(--mob-transition-duration) cubic-bezier(.645, .045, .355, 1);
    --mob-input-icon-color: var(--mob-text-color-placeholder)
}

.mob-select .mob-select__wrapper:focus-within {
    outline: none;
    border-color: var(--mob-active-border-color)
}
.mob-select .mob-select__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    transition: border-color var(--mob-transition-duration) cubic-bezier(.645, .045, .355, 1);
    color: var(--mob-input-color);
    padding: 0 12px;
    cursor: pointer;
    box-shadow: 0 0 0 1px var(--el-border-color) inset;
}

.mob-select .mob-select__selection{
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
}

.mob-select .mob-select__selected-item.mob-select__input-wrapper,
.mob-select .mob-select__selected-item.is-hidden{
    width: 1px;
    overflow: hidden;
    z-index: 0;
    height: 40px;

}
.mob-select .mob-select__selected-item {
    position: relative;
    width: 100%;
    background-color: #fff;
    height: 40px;
    line-height: 40px;
    /*z-index: 1;*/
}
.mob-select .mob-input__inner {
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    color: var(--mob-input-color);
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: none;
    /*width: 1px;*/
    width: 100%;
}

.mob-select .mob-input__inner.mob-input-filterable {
    padding: 12px;
    cursor: pointer;
    color: var(--mob-text-color-placeholder);
}

.mob-select .mob-input__inner.mob-input-filterable::placeholder {
    color: var(--mob-input-color);
}

.mob-select .mob-select__selected-item.mob-select__input-wrapper .mob-input__inner,
.mob-select .mob-select__selected-item.is-hidden.mob-select__input-wrapper .mob-input__inner{
    width: 1px;
}
.mob-select .mob-select__selected-item span{
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    white-space: nowrap;
}

.mob-select .mob-select__suffix{
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    flex-shrink: 0;
    flex-wrap: nowrap;
    height: 100%;
    text-align: center;
    color: var(--mob-text-color-placeholder);
    transition: all var(--mob-transition-duration);
}
.mob-select .mob-select__suffix-inner{
    position: relative;
    display: flex;
}
.mob-select  .mob-select__suffix .is_hidden{
    display: none;
}
.mob-select .mob-icon__down-arrow.is_popper .mob-icon{
    transform: rotate(180deg);
}
.mob-select .mob-select__wrapper__clearable:hover .mob-icon__clean{
    display: inline-flex;
}
.mob-select .mob-icon__close .mob-icon svg{
    width: 1.2em;
    height: 1.2em;
}
.mob-select .mob-icon__close .mob-icon,.mob-select-popper .mob-icon__close .mob-icon{
    padding: 1px;
    border-radius: 50%;
    cursor: pointer;
}
.mob-select .mob-icon__close  .mob-icon:hover,.mob-select-popper .mob-icon__close  .mob-icon:hover {
    background-color: #909399 ;
}
.mob-select .mob-icon__close  .mob-icon:hover svg path,.mob-select-popper .mob-icon__close  .mob-icon:hover svg path {
    fill: #fff;
}
.mob-select .mob-select__suffix-inner.mob-icon__clean{
    display: none;
}

.mob-select:not(.is_disabled) .mob-select__wrapper:hover .mob-select__suffix-inner.is_hide_able {
    display: none;
}

.mob-select:not(.is_disabled) .mob-select__wrapper:hover .mob-select__suffix-inner.mob-icon__clean {
    display: block;
}

/* 多选 */

.mob-select.is_multiple .mob-select__wrapper{
    padding: 4px 12px 4px 4px;
}
.mob-select.is_multiple .mob-select__selected-item.mob-select-placeholder{
    padding-left: 8px;
}
.mob-select .mob-select__selected-item__collapse-contain,
.mob-select-popper .mob-select__selected-item__collapse-contain {
    max-width: calc(100% - 40px - 12px); <!-- 为什么是这个数值，还需要计算 -->
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 1px;
}
.mob-select.is_collapseTag .mob-select__selected-item__collapse-contain,
.mob-select-popper.is_collapseTag .mob-select__selected-item__collapse-contain {
    flex-wrap: nowrap;
}
.mob-select .mob-select__selected-item__collapse__tooltip
.mob-select-popper .mob-select__selected-item__collapse__tooltip{
    max-width: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2px;
}
.mob-select .mob-select__selected-item__collapse,
.mob-select-popper .mob-select__selected-item__collapse{
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
    max-width: 100%;
    border-radius: 4px;
    height: 30px;
    margin: 2px;
    color: #a6a9ae;
    padding: 3px 10px;
    font-size: .7rem;
    background-color: #f4f4f5;
}
.mob-select .mob-select__selected-item__collapse span,
.mob-select-popper .mob-select__selected-item__collapse span{
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/*禁用状态*/
.mob-select.is_disabled *{
    cursor: not-allowed;
}
.mob-select.is_disabled .mob-select__wrapper {
    background-color: var(--mob-disabled-background-color);
}
.mob-select.is_disabled .mob-select__selected-item {
    color: var(--mob-disabled-text-color);
    background-color: var(--mob-disabled-background-color);
}
.mob-select.is_disabled .mob-input__inner {
    background-color: var(--mob-disabled-background-color);
}


/*可过滤的*/
/*.mob-select.is_filterable .mob-select__selected-item.mob-select__input-wrapper{*/
/*    width: 100%;*/

/*}*/
/*.mob-select.is_filterable .mob-input__inner{*/
/*    text-indent: 8px;*/
/*    width: 100%;*/
/*}*/
