<!DOCTYPE html>
<html ng-app="mobApp" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="./jquery.js"></script>
    <script src="./angular-1.5.3/angular.min.js"></script>
    <script src="./angular-1.5.3/angular-route.min.js"></script>
    <script src="./angular-1.5.3/angular-animate.min.js"></script>

    <script src="./index.js"></script>
    <script src="./controller/input/index.js"></script>
    <script src="./components/container/index.js"></script>
    <script src="./components/input/index.js"></script>
    <script src="./components/input-number/index.js"></script>
    <script src="./components/checkbox/index.js"></script>
    <script src="./components/checkbox-button/index.js"></script>
    <script src="./components/checkbox-group/index.js"></script>
    <script src="./components/radio/index.js"></script>
    <script src="./components/radio-button/index.js"></script>
    <script src="./components/radio-group/index.js"></script>
    <script src="./components/select/index.js"></script>
    <script src="./components/select-options/index.js"></script>
    <script src="./components/switch/index.js"></script>
    <script src="./components/divider/index.js"></script>
    <script src="./components/icon/index.js"></script>
    <script src="./components/popper-target/index.js"></script>
    <script src="./components/popper-tooltip/index.js"></script>
    <script src="./components/popper-tooltip-arrow/index.js"></script>
    <script src="./components/popper/index.js"></script>
    <script src="./directive/popper/index.js"></script>
    <!-- <script src="https://cdn.staticfile.net/angular.js/1.5.3/angular.min.js"></script> -->
    <!-- <script src="https://cdn.staticfile.net/angular.js/1.5.3/angular-route.min.js"></script> -->
    <link rel="stylesheet" href="prism/prism.css">
    <script type="text/javascript" src="decimal/decimal.js" data-manual></script>
    <script type="text/javascript" src="floatingui/floating-core-1.6.0.js"></script>
    <script type="text/javascript" src="floatingui/floating-ui-1.6.3.js"></script>
    <script type="text/javascript" src="prism/prism.js" data-manual></script>
    <link rel="stylesheet" href="./css/router-view.css">
    <link rel="stylesheet" href="./css/mob.css">
    <link rel="stylesheet" href="./css/mob-doc.css">
    <link rel="stylesheet" href="./css/mob-popper.css">
    <link rel="stylesheet" href="components/input/mob-input.css">
    <link rel="stylesheet" href="components/input-number/mob-input-number.css">
    <link rel="stylesheet" href="components/select/mob-select.css">
    <link rel="stylesheet" href="components/select-options/mob-select-options.css">
    <link rel="stylesheet" href="components/radio/mob-radio.css">
    <link rel="stylesheet" href="components/radio-button/mob-radio-button.css">
    <link rel="stylesheet" href="components/radio-group/mob-radio-group.css">
    <link rel="stylesheet" href="components/checkbox/mob-checkbox.css">
    <link rel="stylesheet" href="components/checkbox-button/mob-checkbox-button.css">
    <link rel="stylesheet" href="components/checkbox-group/mob-checkbox-group.css">
    <link rel="stylesheet" href="components/switch/mob-switch.css">
    <link rel="stylesheet" href="components/divider/mob-divider.css">
    <link rel="stylesheet" href="components/popper/mob-popper.css">
    <link rel="stylesheet" href="components/popper-tooltip/mob-popper-tooltip.css">
    <link rel="stylesheet" href="components/popper-tooltip-arrow/mob-popper-tooltip-arrow.css">
</head>
<style>
    .contain {
        display: flex;
    }

    .navigation {
        position: fixed;
        padding: 20px 20px 0 0;
        width: 240px;
        height: 100%;
        background-color: #ffffff;
        margin-right: 20px;
        box-sizing: border-box;
        /*z-index: 1;*/
    }

    .navigation .nav-item {
        padding-left: 20px;
        height: 40px;
    }

    .navigation .nav-item a {
        display: flex;
        box-sizing: border-box;
        padding: 5px 20px;
        width: 100%;
        height: 40px;
        color: #444;
        align-items: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: 400;
        text-decoration: none;
        transition: all var(--mob-transition-duration);
        border-radius: 8px;
    }

    .navigation .nav-item a:hover {
        color: var(--mob-active-text-color);
    }

    .navigation .nav-item.is_active a {
        background-color: var(--mob-active-text-color-light);
        color: var(--mob-active-text-color);
    }
    .main-container{
        width: calc(100% - 240px);
        padding-left: 260px;
    }
</style>

<body ng-controller="IndexCtrl as ctrl">
<div class="contain" style="display: flex;">

    <div class="navigation" style="z-index: 1">
        <div class="nav-item" ng-class="{'is_active':item.path === routPath}" ng-repeat="item in menuList">
            <a href="{{'#' + item.path}}" >
                {{item.label}}
                <span ng-repeat="tag in item.tags" ng-class="'mob-tag tag-' + tag.type" ng-bind="tag.title"></span>
            </a>
        </div>
    </div>

    <div class="main-container">
        <div ng-view="" class="view-animate-container">
        </div>
    </div>
</div>

<script type="text/ng-template" id="home">
    <h1 style="margin-top:20px"> 参考Element UI ，基于Angular1.5.3开发的UI框架 </h1>
    <ul>
<!--        <li>目前的插件都是直接操作<code>dom</code>的，并没有使用<code>Angular</code>的双向数据绑定机制，采用数据驱动的方式实现；经常出现下拉框、多选框，点击保存后，在新增，还是会显示上一步操作的内容-->
<!--        </li>-->
    </ul>
</script>

</body>
<script>
    const BOOLEAN_CUSTOM_ATTR = new Set();
    angular.forEach("clearable,showPassword".split(","), function (value) {
        BOOLEAN_CUSTOM_ATTR.add(value)
    })

    app
        .controller('IndexCtrl', ['$route', function IndexCtrl($route) {
            this.hero = {
                name: 'Spawn'
            };
            this.form = {};
            this.formItem = [
                {type: 'input', label: 'clearableInput', prop: 'clearableInput', options: {clearable: true}},
                {type: 'input', label: 'disableInput', prop: 'disableInput', options: {disable: true}},
                {type: 'input', label: 'showPasswordInput', prop: 'showPasswordInput', options: {showPassword: true}},
                {
                    type: 'select',
                    label: '名称1',
                    prop: 'name2',
                    options: {
                        clearable: true,
                        dataDic: [{label: 'Option1', value: 'Option1'}, {label: 'Option2', value: 'Option2'}]
                    }
                },
            ];
        }])
        .controller('RadioCtrl', ['$scope', function RadioCtrl($scope) {

            this.radioIndex = -1;
            this.radioGroupModel = '';
            this.radioGroup = [
                {label: '北京', value: '北京'},
                {label: '上海', value: '上海'},
                {label: '广州', value: '广州'}
            ]

            this.changeRadioGroupModel = function () {
                this.radioIndex = this.radioIndex + 1;
                if (this.radioIndex > this.radioGroup.length - 1) {
                    this.radioIndex = 0;
                }
                this.radioGroupModel = this.radioGroup[this.radioIndex].value
            }
            this.demo = 'Options1'
            this.fatherChange = function (value) {
            }
        }])
        .controller('CheckBoxCtrl', ['$scope', function CheckBoxCtrl($scope) {
            this.fatherChange = function (value) {
            }
        }])
        .controller('MultipleCheckBoxGroupCtrl', ['$scope', function MultipleCheckBoxGroupCtrl($scope) {
            this.multipleCheckBoxGroup = ['Option5']


            this.checkAll = false;
            this.indeterminate = true
            this.checkedCities = ['澳门', '上海'];
            this.changeTag = true;
            this.cities = ['北京', '上海', '广东', '深圳', '香港', '澳门']

            this.checkAllChange = function () {
                // 是否全选
                this.checkAll = !this.checkAll
                // 无实际应用，仅仅是为了告诉group，需要发送事件通知子组件
                this.changeTag = !this.changeTag
                // 赋值
                this.checkedCities = this.checkAll ? [...this.cities] : []
            }


            this.checkboxChangeHandle = function () {
                let checkCount = this.checkedCities.length
                this.checkAll = checkCount === this.cities.length
                this.indeterminate = checkCount > 0 && checkCount < this.cities.length
            }

            this.min = 2
            this.changeMin = function () {
                this.min = this.min + 1
            }
        }])
        .controller('InputNumberCtrl', ['$scope', function InputNumberCtrl($scope) {
            this.value = 1

            this.value2 = 2

            this.value3 = 2.5

            this.value4 = 3.5
        }])
        .controller('PopperCtrl', ['$scope', 'floating', 'uuId', function CheckBoxCtrl($scope, floating, uuId) {



        }])
        .controller('SelectCtrl', ['$scope', function InputNumberCtrl($scope) {
            this.optionsBase = [
                {label: '香港', value: '香港', desc:'XiangGang'},
                {label: '澳门', value: '澳门', desc:'AoMen'},
                {label: '北京', value: '北京', desc:'BeiJing'},
                {label: '上海', value: '上海', desc:'ShangHai'},
                {label: '深圳', desc:'ShenZheng'},
                {label: '江苏', desc:'JiangSu'},
                {label: '广州', desc:'GuangZhou'},
            ]

            this.optionsDisabled = [
                {label: '香港', value: '香港'},
                {label: '澳门', value: '澳门', disabled: true},
                {label: '北京', value: '北京'},
                {label: '上海', value: '上海'},
                {label: '广州'},
                {label: '深圳深圳深圳深圳深圳深圳深圳深圳深圳深圳深圳深圳深圳深圳深圳深圳深圳', value: '1'},
            ]

            $scope.demo = 'Select'
            $scope.value = '香港'
            $scope.value3 = '香港'
            $scope.valueMultiple = ['香港','1','上海','北京']
        }])
        .controller('SwitchCtrl', ['$scope', function SwitchCtrl($scope) {
            $scope.demoTwo = {
                value:false,
                activeText:'包年',
                inactiveText:'包月',
            }

            $scope.demoThree = {
                value:false,
                activeText:'Y',
                inactiveText:'N',
            }
            $scope.demoFour = {
                value:false,
                activeText:'是',
                inactiveText:'否',
                inactiveColor:'#dcdfe6',
            }

            $scope.demoFive = {
                value:false,
                activeIcon:'mob-icon-check',
                inactiveIcon:'mob-icon-close',
                inactiveColor:'#dcdfe6',
            }
        }])
    ;
    app
        .directive('prism', function () {
            return {
                restrict: 'A',
                compile: function () {
                    return function (scope, element) {

                        Prism.highlightElement(element[0], false)
                    }
                },
                controller: function ($scope, $element) {
                }
            };
        })
    ;


    app
        .factory('slot', ['$compile', function ($compile) {
            return {
                replace: function (scope, element, transcludeFn) {
                    transcludeFn(scope, function (clone) {
                        scope.$slot = {}
                        if (!clone) {
                            return
                        }
                        // scope.$slot.hasSlot = true
                        scope.$slot.slotSet = new Set()

                        let slotMap = new Map();
                        for (let e of clone) {
                            if (!angular.isFunction(e.getAttribute)) {
                                continue;
                            }
                            let slotName = e.getAttribute('slot-name')
                            slotMap.set(slotName, e);
                            scope.$slot.slotSet.add(slotName)
                        }

                        let slotList = element[0].querySelectorAll("slot")
                        if (!slotList || slotList.length === 0) {
                            return;
                        }

                        for (innerSlot of slotList) {
                            // 获取组件内部的插槽
                            let slotName = innerSlot.getAttribute('name')
                            if (!slotName || slotName.length === 0) {
                                return
                            }
                            // 根据名称获取外部传入的插槽
                            let slot = slotMap.get(slotName)
                            if (!slot) {
                                continue;
                            }
                            slot = $compile(slot)(scope)[0];
                            innerSlot.parentNode.replaceChild(slot, innerSlot);
                        }
                    })
                },
                appendChild: function (scope, element, childElement) {
                    if (null == element) {
                        return
                    }
                    element.appendChild($compile(childElement)(scope)[0])
                }
            }
        }])
        .factory('attrHelp', [function () {
            return {
                expose: function (ctrl, attrs) {
                    for (let k of Object.keys(attrs)) {
                        if (k.indexOf("$") >= 0) {
                            continue;
                        }
                        if (k.startsWith('ng')) {
                            continue
                        }
                        // 获取属性值
                        if (BOOLEAN_CUSTOM_ATTR.has(k)) {
                            ctrl[k] = !!attrs[k]
                        }
                        // if ("" === v) {
                        //     scope.$attrs[k] = true
                        // } else {
                        //     scope.$attrs[k] = attrs[k]
                        // }
                    }
                }
            }
        }])
        .factory('uuId', [function () {
            return {
                newUUID: function getUuid() {
                    return 'mob-uuid-' + 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                        let r = Math.random() * 16 | 0,
                            v = c === 'x' ? r : (r & 0x3 | 0x8);
                        return v.toString(16);
                    });
                }
            }
        }])
        .factory('floating', function () {
            // 箭头class
            const arrowClassStyle = ['top','right','bottom','left']

            function setFloatingWidth(scope, target, floating) {
                const {width: targetWidth} = target.getBoundingClientRect()
                floating.style.minWidth = targetWidth + 'px';
            }
            function setFloatingHeight(scope, target, floating) {
                floating.style.height = 'auto';
                const {height} = floating.getBoundingClientRect()
                floating.style.height = 0;
                floating.offsetHeight
                floating.style.height = (height > 200 ? 200 : height) + 'px';
                floating.style.opacity = 1;
            }
            function computePosition(scope, target, floating, autoUpdate) {
                // 获取箭头元素
                let arrowElement = floating.querySelector('.mob-popper__arrow');
                window.FloatingUIDOM.computePosition(target, floating, {
                        placement: 'bottom-start',
                        middleware: [
                            window.FloatingUIDOM.flip(),// y轴自适应
                            window.FloatingUIDOM.shift(), // x轴自适应
                            window.FloatingUIDOM.offset(5), // 与目标组件的  空隙
                            window.FloatingUIDOM.arrow({element: arrowElement}), // 箭头
                            // window.FloatingUIDOM.autoPlacement(), // 使用最大空间策略（乐观）

                        ]
                    }
                ).then(({x, y, placement, middlewareData}) => {
                    Object.assign(floating.style, {
                        left: `${x}px`,
                        top: `${y}px`,
                    });

                    const {x: arrowX, y: arrowY} = middlewareData.arrow;

                    const staticSide = {
                        top: 'bottom',
                        right: 'left',
                        bottom: 'top',
                        left: 'right',
                    }[placement.split('-')[0]];

                    const classStyle = {
                        top: 'bottom',
                        right: 'left',
                        bottom: 'top',
                        left: 'right',
                    }[placement.split('-')[0]];

                    angular.forEach(arrowClassStyle, function (v) {
                        arrowElement.classList.remove(v)
                    })
                    arrowElement.classList.add(classStyle)

                    Object.assign(arrowElement.style, {
                        left: arrowX != null ? `${arrowX}px` : '',
                        top: arrowY != null ? `${arrowY}px` : '',
                        right: '',
                        bottom: '',
                        [staticSide]: '0px',
                    });
                    if (!autoUpdate) {
                        setFloatingHeight(scope, target, floating)
                    }
                });
            }
            return {
                computePosition: function (scope, target, floating) {
                    setFloatingWidth(scope, target, floating)
                    computePosition(scope, target, floating)
                },

                autoUpdateComputePosition: function (scope, target, floating) {
                    setFloatingWidth(scope, target, floating)
                    setFloatingHeight(scope, target, floating)
                    return window.FloatingUIDOM.autoUpdate(
                        target,
                        floating,
                        ()=>{computePosition(scope, target, floating, true)}
                    );
                }
            };
        })
    ;

    // FIXME 待完善
    app
        .component('mobForm', {// https://segmentfault.com/a/1190000005868488
            transclude: true,
            templateUrl: './components/mob-form.html',
            bindings: {
                model: '=',
                formItem: '<'
            },
            controller: function () {
                this.$onInit = function () {
                }
            }
        })
        .component('mobFormItem', {
            transclude: true,
            templateUrl: './components/mob-form-item.html',
            bindings: {
                model: '=',
                label: '<',
                prop: '<'
            },
            controller: function () {
                this.generateUuid = function () {
                    return Math.random().toString(36).slice(2); // 截取小数点后的字符串
                }

                this.$onInit = function () {
                    this.uuid = this.generateUuid()
                }
            }
        })

    ;


    ;
    </script>

    </html>
