<!DOCTYPE html>
<html ng-app="mobApp" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="./jquery.js"></script>
    <script src="./angular-1.5.3/angular.min.js"></script>
    <script src="./angular-1.5.3/angular-route.min.js"></script>
    <script src="./angular-1.5.3/angular-animate.min.js"></script>

    <script src="./index.js"></script>
    <script src="./controller/button/index.js"></script>
    <script src="./controller/input/index.js"></script>
    <script src="./controller/checkbox/index.js"></script>
    <script src="./controller/input-number/index.js"></script>
    <script src="./controller/radio/index.js"></script>
    <script src="./controller/switch/index.js"></script>
    <script src="./controller/select/index.js"></script>
    <script src="./controller/popper/index.js"></script>
    <script src="./controller/datetime-picker/index.js"></script>
    <script src="./controller/tree/index.js"></script>
    <script src="./controller/form/index.js"></script>
    <script src="./controller/experimental/index.js"></script>
    <script src="./controller/icon/index.js"></script>
    <script src="./controller/tree-select/index.js"></script>
    <script src="./controller/blog/index.js"></script>
    <script src="./controller/date/index.js"></script>
    <script src="./controller/date-picker/index.js"></script>
    <script src="./components/container/index.js"></script>

    <script src="./components/button/index.js"></script>
    <script src="./components/button-group/index.js"></script>

    <script src="./components/form/index.js"></script>
    <script src="./components/form-item/index.js"></script>

    <script src="./components/input/index.js"></script>
    <script src="./components/input-number/index.js"></script>
    <script src="./components/checkbox/index.js"></script>
    <script src="./components/checkbox-button/index.js"></script>
    <script src="./components/checkbox-group/index.js"></script>
    <script src="./components/date/date/index.js"></script>
    <script src="./components/date/year/index.js"></script>
    <script src="./components/date/month/index.js"></script>
    <script src="./components/date-picker/index.js"></script>
    <script src="./components/date/year-range/index.js"></script>
    <script src="./components/date/month-range/index.js"></script>
    <script src="./components/date/date-range/index.js"></script>
    <script src="./components/radio/index.js"></script>
    <script src="./components/radio-button/index.js"></script>
    <script src="./components/radio-group/index.js"></script>
    <script src="./components/select/index.js"></script>
    <script src="./components/select-options/index.js"></script>
    <script src="./components/tree/index.js"></script>
    <script src="./components/tree-select/index.js"></script>
    <script src="components/tree-node/index.js"></script>

    <script src="components/ADemo/Demo01/index.js"></script>
    <script src="components/ADemo/Demo02/index.js"></script>

    <script src="./components/switch/index.js"></script>
    <script src="./components/divider/index.js"></script>
    <script src="./components/icon/index.js"></script>
    <script src="./components/popper-target/index.js"></script>
    <script src="./components/popper-tooltip/index.js"></script>
    <script src="./components/popper-tooltip-arrow/index.js"></script>
    <script src="./components/popper/index.js"></script>
    <script src="./factory/popper/index.js"></script>
    <script src="./factory/cross/index.js"></script>
    <script src="./factory/date/index.js"></script>
    <script src="./factory/debounce/index.js"></script>
    <script src="./factory/tree/index.js"></script>
    <script src="./directive/refs/index.js"></script>
    <script src="./directive/stopBubbling/index.js"></script>
    <script src="./directive/formValid/index.js"></script>
    <script src="./directive/repeatRenderFinish/index.js"></script>
    <script src="./directive/ngScroll/index.js"></script>
    <!-- <script src="https://cdn.staticfile.net/angular.js/1.5.3/angular.min.js"></script> -->
    <!-- <script src="https://cdn.staticfile.net/angular.js/1.5.3/angular-route.min.js"></script> -->
    <link rel="stylesheet" href="prism/prism.css">
    <script type="text/javascript" src="decimal/decimal.js" data-manual></script>
    <script type="text/javascript" src="floatingui/floating-core-1.6.0.js"></script>
    <script type="text/javascript" src="floatingui/floating-ui-1.6.3.js"></script>
<!--    <script type="text/javascript" src="dayjs/index.js"></script>-->
    <script type="text/javascript" src="prism/prism.js" data-manual></script>
    <link rel="stylesheet" href="./css/router-view.css">
    <link rel="stylesheet" href="./css/mob.css">
    <link rel="stylesheet" href="./css/mob-doc.css">
    <link rel="stylesheet" href="./css/mob-popper.css">

    <link rel="stylesheet" href="components/button/mob-button.css">
    <link rel="stylesheet" href="components/button-group/mob-button-group.css">

    <link rel="stylesheet" href="components/input/mob-input.css">
    <link rel="stylesheet" href="components/input-number/mob-input-number.css">
    <link rel="stylesheet" href="components/select/mob-select.css">
    <link rel="stylesheet" href="components/select-options/mob-select-options.css">
    <link rel="stylesheet" href="components/radio/mob-radio.css">
    <link rel="stylesheet" href="components/radio-button/mob-radio-button.css">
    <link rel="stylesheet" href="components/radio-group/mob-radio-group.css">
    <link rel="stylesheet" href="components/checkbox/index.css">
    <link rel="stylesheet" href="components/checkbox-button/index.css">
    <link rel="stylesheet" href="components/checkbox-group/index.css">
    <link rel="stylesheet" href="components/date/index.css">
<!--    <link rel="stylesheet" href="components/date-range/index.css">-->
    <link rel="stylesheet" href="components/date-picker/index.css">
    <link rel="stylesheet" href="components/switch/mob-switch.css">
    <link rel="stylesheet" href="components/tree/index.css">
    <link rel="stylesheet" href="components/tree-select/index.css">
    <link rel="stylesheet" href="components/tree-node/index.css">
    <link rel="stylesheet" href="components/divider/mob-divider.css">
    <link rel="stylesheet" href="components/popper/mob-popper.css">
    <link rel="stylesheet" href="components/popper-tooltip/mob-popper-tooltip.css">
    <link rel="stylesheet" href="components/popper-tooltip-arrow/mob-popper-tooltip-arrow.css">



    <script src="./components/time-spinner/index.js"></script>
    <link rel="stylesheet" href="components/time-spinner/index.css">

    <script src="./components/select-group/index.js"></script>
    <link rel="stylesheet" href="components/select-group/index.css">



</head>
<style>
    :root {
        --navigation-width: 300
    }
    html,body{
        width: 100%;
        height: 100%;
    }
    .contain {
        display: flex;
        height: 100%;
    }

    .navigation {
        position: fixed;
        padding: 20px 20px 30px 0;
        height: 100vh;
        overflow: auto;
        background-color: #ffffff;
        margin-right: 20px;
        box-sizing: border-box;
        /*z-index: 1;*/
    }

    .navigation .nav-item {
        padding-left: 20px;
        height: 40px;
        display: flex;
        align-items: center;
    }

    .navigation .nav-item.group_title {
        color: #a2a2a2;
        padding-left: 40px;
        font-size: .8rem;
        margin-top: 20px;
    }

    .navigation .nav-item a {
        display: flex;
        box-sizing: border-box;
        padding: 5px 20px;
        width: 300px;
        height: 40px;
        color: #444;
        align-items: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: 400;
        text-decoration: none;
        transition: all var(--mob-transition-duration);
        border-radius: 8px;
    }

    .navigation .nav-item a:hover {
        color: var(--mob-active-text-color);
    }

    .navigation .nav-item.is_active a {
        background-color: var(--mob-active-text-color-light);
        color: var(--mob-active-text-color);
    }

    .main-container {
        width: calc(100% - 300px - 60px);
        padding-left: calc(300px + 70px);
        display: flex;
        flex-direction: column;
        height: 100vh
    }
    /*@media (min-width: 1440px) {*/
    footer {
        padding: 32px;
    }
    /*}*/
    footer{
        display: block !important;
        z-index: 999;
    }
    footer .container{
        margin: 0 auto;
        max-width: 1140px;
        text-align: center;
    }
    footer .message, footer .copyright{
        line-height: 24px;
        font-size: 14px;
        font-weight: 500;
        color: rgba(60, 60, 67, 0.78);
    }
</style>

<body ng-controller="IndexCtrl as ctrl">
<div class="contain" style="display: flex;">

    <div class="navigation" style="z-index: 1">
<!--        <mob-container>-->
            <div class="nav-item" ng-repeat="item in menuList"
                 ng-class="{'is_active':item.path === routPath, 'group_title':item.type === 1}">
                <a href="{{'#' + item.path}}" ng-if="item.type !== 1">
                    {{item.label}}
                    <span ng-repeat="tag in item.tags" ng-class="'mob-tag tag-' + tag.type" ng-bind="tag.title"></span>
                </a>
                <span class="mob-unselect-text" ng-if="item.type === 1" ng-bind="item.label">

            </span>
            </div>
<!--        </mob-container>-->
    </div>

    <div class="main-container">
        <div ng-view="" class="view-animate-container" style="flex-shrink: 0;flex-grow: 1;min-height: auto">
        </div>
            <footer data-v-80147a0d="" data-v-8f7cd5e4="" class="VPFooter" style="z-index: 999">
                <div data-v-80147a0d="" class="container"><p data-v-80147a0d="" class="message">
                    <a href="https://beian.miit.gov.cn/">苏ICP备2024078001号-1</a>
                </p>
                    <p data-v-80147a0d="" class="copyright">Copyright © 2024-present BabyBlackSkin</p></div>
            </footer>

    </div>
</div>

<script type="text/ng-template" id="home">
    <div style="display: flex;width: 100%;height: 100%;justify-content: center;box-sizing: border-box;padding-top: 100px">
        <h1 style="margin-top:20px;font-weight:bold;background:var(--mob-ui-title-background);-webkit-text-fill-color:var(--mob-ui-title-color);background-clip:text;" >基于Angular1.5.3开发的UI框架 </h1>
    </div>
</script>

</body>
<script>
    const BOOLEAN_CUSTOM_ATTR = new Set();
    angular.forEach("clearable,showPassword".split(","), function (value) {
        BOOLEAN_CUSTOM_ATTR.add(value)
    })

    app
        .controller('IndexCtrl', ['$route', function IndexCtrl($route) {
            this.hero = {
                name: 'Spawn'
            };
            this.form = {};
            this.formItem = [
                {type: 'input', label: 'clearableInput', prop: 'clearableInput', options: {clearable: true}},
                {type: 'input', label: 'disableInput', prop: 'disableInput', options: {disable: true}},
                {type: 'input', label: 'showPasswordInput', prop: 'showPasswordInput', options: {showPassword: true}},
                {
                    type: 'select',
                    label: '名称1',
                    prop: 'name2',
                    options: {
                        clearable: true,
                        dataDic: [{label: 'Option1', value: 'Option1'}, {label: 'Option2', value: 'Option2'}]
                    }
                },
            ];
        }])
    ;
    app
        .directive('prism', function ($compile, uuId) {
            return {
                scope: true,
                restrict: 'A',
                compile: function () {
                    return function (scope, element) {
                        let code = $(element[0]).children('code')[0]
                        Object.assign(code.style, {
                            width: '100%',
                            height: 0,
                            padding: 0
                        })
                        let id = uuId.newUUID()
                        code.setAttribute('id', id)
                        Prism.highlightElement(code, false)
                        element[0].appendChild($compile(`<div class="show-code"><mob-button text ng-click="showCode($event, '${id}')">查看代码</mob-buttontext></div>`)(scope)[0])
                    }
                },
                controller: function ($scope, $element) {
                    $scope.showCode = function (e, id) {
                        $scope.show = !$scope.show
                        console.log(id)
                        if ($scope.show) {
                            $($element[0]).children('.show-code')[0].style.borderTop = '1px solid #ededed'
                            let code = document.getElementById(id)
                            code.style.height = 'auto'
                            let {height} = code.getBoundingClientRect()
                            code.style.height = 0
                            code.offsetHeight
                            Object.assign(code.style, {
                                height: `calc(${height}px + 2rem)`,
                                opacity: 1,
                                padding: 1 + 'rem'
                            })
                        } else {
                            $($element[0]).children('.show-code')[0].style.borderTop = 'none'
                            let code = document.getElementById(id)
                            Object.assign(code.style, {
                                opacity: 0,
                                height: 0,
                                padding: 0
                            })
                        }
                    }
                }
            };
        })
    ;


    app
        .factory('slot', ['$compile', function ($compile) {
            return {
                replace: function (scope, element, transcludeFn) {
                    transcludeFn(scope, function (clone) {
                        if (!clone) {
                            return
                        }
                        if (!scope.$slot) {
                            scope.$slot = {}
                        }
                        if(!scope.$slot.slotSet ){
                            scope.$slot.slotSet = new Set()
                        }

                        let slotMap = new Map();
                        for (let e of clone) {
                            if (!angular.isFunction(e.getAttribute)) {
                                continue;
                            }
                            let slotName = e.getAttribute('slot-name')
                            slotMap.set(slotName, e);
                            scope.$slot.slotSet.add(slotName)
                        }

                        let slotList = element[0].querySelectorAll("slot")
                        if (!slotList || slotList.length === 0) {
                            return;
                        }

                        for (innerSlot of slotList) {
                            // 获取组件内部的插槽
                            let slotName = innerSlot.getAttribute('name')
                            if (!slotName || slotName.length === 0) {
                                return
                            }
                            // 根据名称获取外部传入的插槽
                            let slot = slotMap.get(slotName)
                            if (!slot) {
                                continue;
                            }
                            slot = $compile(slot)(scope)[0];
                            innerSlot.parentNode.replaceChild(slot, innerSlot);
                        }
                    })
                },
                appendChild: function (scope, element, slotList) {
                    if (null == element) {
                        return
                    }
                    let slotTemplate = element.querySelectorAll('slot');
                    if (!slotTemplate) {
                        return;
                    }
                    if (!scope.$slot) {
                        scope.$slot = {}
                    }
                    if(!scope.$slot.slotSet ){
                        scope.$slot.slotSet = new Set()
                    }
                    angular.forEach(slotTemplate, function (slot) {
                        let slotName = slot.getAttribute('name')
                        let outSlot = slotList[slotName];
                        if (!outSlot) {
                            return
                        }
                        console.log(slotName)
                        scope.$slot.slotSet.add(slotName)
                        slot.parentNode.replaceChild($compile(outSlot)(scope)[0], slot);
                    })
                }
            }
        }])
        .factory('attrHelp', [function () {
            return {
                expose: function (ctrl, attrs) {
                    for (let k of Object.keys(attrs)) {
                        if (k.indexOf("$") >= 0) {
                            continue;
                        }
                        if (k.startsWith('ng')) {
                            continue
                        }
                        // 获取属性值
                        if (BOOLEAN_CUSTOM_ATTR.has(k)) {
                            ctrl[k] = !!attrs[k]
                        }
                        // if ("" === v) {
                        //     scope.$attrs[k] = true
                        // } else {
                        //     scope.$attrs[k] = attrs[k]
                        // }
                    }
                },
                // 可缩写的转换
                abbAttrsTransfer: function (target, keys, attrs) {
                    if (!keys) {
                        return
                    }
                    angular.forEach(keys, function (k) {
                        if (attrs[k] === '') {
                            target[k] = true
                        }
                    })
                },
                // 根据key或者key的别名获取value
                getAttrValueByKeyOrAlias: function (obj, aliasConfig, key, defaultV) {
                    let alias = null;
                    if (aliasConfig) {// 判断是否存在别名的配置
                        alias = aliasConfig[key]
                    }

                    if (!alias) {
                        alias = key
                    }

                    let result = null;
                    if (angular.isFunction(obj[alias])) {
                        result = obj[alias]()
                    }
                    result = obj[alias]

                    if (angular.isUndefined(result)) {
                        return defaultV
                    }
                    return result
                }
            }
        }])
        .factory('uuId', [function () {
            return {
                newUUID: function getUuid() {
                    return 'mob-uuid-' + 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                        let r = Math.random() * 16 | 0,
                            v = c === 'x' ? r : (r & 0x3 | 0x8);
                        return v.toString(16);
                    });
                }
            }
        }])
        .factory('floating', function () {
            // 箭头class
            const arrowClassStyle = ['top', 'right', 'bottom', 'left']

            function setFloatingWidth(scope, target, floating) {
                const {width: targetWidth} = target.getBoundingClientRect()
                floating.style.minWidth = (targetWidth + 10) + 'px';
            }

            function setFloatingHeight(scope, target, floating) {
                floating.style.transform = 'scaleY(1)';
                floating.style.opacity = 1;
                const {
                    bottom: targetBottom,
                } = target.getBoundingClientRect();

                // 尝试通过 placement决定显示的动画
                if (window.innerHeight - targetBottom < 200) {
                    floating.style.transformOrigin= 'center bottom'
                } else {
                    floating.style.transformOrigin= 'center top'
                }
            }

            function computePosition(scope, target, floating, autoUpdate) {
                // 获取箭头元素
                let arrowElement = floating.querySelector('.mob-popper__arrow');

                setFloatingHeight(scope, target, floating);


                window.FloatingUIDOM.computePosition(target, floating, {
                        placement: 'bottom-start',
                        middleware: [
                            window.FloatingUIDOM.flip(),// y轴自适应
                            window.FloatingUIDOM.shift(), // x轴自适应
                            window.FloatingUIDOM.offset(5), // 与目标组件的  空隙
                            window.FloatingUIDOM.arrow({element: arrowElement}), // 箭头
                            // window.FloatingUIDOM.autoPlacement(), // 使用最大空间策略（乐观）

                        ]
                    }
                ).then(({x, y, placement, middlewareData}) => {
                    Object.assign(floating.style, {
                        left: `${x - 5}px`, // -5px 抵消padding，不知道为什么shift不起作用
                        top: `${y}px`,
                    });

                    const {x: arrowX, y: arrowY} = middlewareData.arrow;

                    const staticSide = {
                        top: 'bottom',
                        right: 'left',
                        bottom: 'top',
                        left: 'right',
                    }[placement.split('-')[0]];

                    const classStyle = {
                        top: 'bottom',
                        right: 'left',
                        bottom: 'top',
                        left: 'right',
                    }[placement.split('-')[0]];

                    angular.forEach(arrowClassStyle, function (v) {
                        arrowElement.classList.remove(v)
                    })
                    arrowElement.classList.add(classStyle)

                    Object.assign(arrowElement.style, {
                        left: arrowX != null ? `${arrowX}px` : '',
                        top: arrowY != null ? `${arrowY}px` : '',
                        right: '',
                        bottom: '',
                        [staticSide]: '0px',
                    });
                    if (!autoUpdate) {
                        setFloatingHeight(scope, target, floating)
                    }
                });
            }

            return {
                computePosition: function (scope, target, floating, render = true) {
                    if (render) {
                        setFloatingWidth(scope, target, floating)
                    }
                    computePosition(scope, target, floating)
                },

                /**
                 * 自动更新定位
                 * @param scope 范围
                 * @param target 目标
                 * @param floating 浮动元素
                 * @param render 是否需要重绘
                 * @returns {*}
                 */
                autoUpdateComputePosition: function (scope, target, floating, render = true) {
                    if (render) {
                        setFloatingWidth(scope, target, floating)
                    }
                    // 需要判断是从下面还是从上面打开
                    return window.FloatingUIDOM.autoUpdate(
                        target,
                        floating,
                        () => {
                            computePosition(scope, target, floating, true)
                        }
                    );
                }
            };
        })
    ;
</script>

</html>
