<section class="mob-doc content ignore">

    <h2>Select 选择器</h2>

    <div class="mob-doc content" style="position: relative">



        <h3>基础多选</h3>
        <div class="mob-demo-block">
            <div class="mob-demo-example">
                {{valueMultiple}}
                <p>默认</p>
                <div class="mob-demo-example-child">
                    <mob-select style="display: block;width: 200px" ng-model="valueMultiple" listener="valueMultiple" multiple="true">
                        <mob-select-options ng-repeat="o in select.optionsDisabled" label="o.label" value="o.value" ng-disabled="o.disabled"></mob-select-options>
                    </mob-select>
                </div>
                <p>可收集的</p>
                <div class="mob-demo-example-child">
                    <mob-select style="display: block;width: 200px" ng-model="valueMultiple" multiple="true" collapse-tag="true">
                        <mob-select-options ng-repeat="o in select.optionsDisabled" label="o.label" value="o.value" ng-disabled="o.disabled"></mob-select-options>
                    </mob-select>
                </div>
            </div>
            <div class="meta">
                <pre>
                        <code class="source-code language-markup language-js language-html language-css" prism
                        ><!--
                            <html>
                             <mob-select style="display: block;width: 200px" ng-model="value">
                                <mob-select-options ng-repeat="o in select.options" label="o.label" value="o.value" ng-disabled="o.disabled"></mob-select-options>
                            </mob-select>
                            </html>
                            <script>
                                this.optionsDisabled = [
                                    {label: '香港', value: '香港'},
                                    {label: '澳门', value: '澳门', disabled: true},
                                    {label: '北京', value: '北京'},
                                    {label: '上海', value: '上海'},
                                    {label: '广州'},
                                    {label: '深圳'},
                                ]
                            </script>
                        --></code>
                    </pre>
            </div>
        </div>
    </div>
</section>
