<section class="mob-doc content ignore">

    <h2>Select 选择器</h2>

    <div class="mob-doc content" style="position: relative">

        <h3>基础用法</h3>
        <div class="mob-demo-block">
            <div class="mob-demo-example">
                <mob-select style="display: block;width: 200px" ng-model="value">

                    <mob-select-options label="'北京'"></mob-select-options>
                    <mob-select-options label="'上海'"></mob-select-options>
                    <mob-select-options label="'广州'"></mob-select-options>
                    <mob-select-options label="'深圳'"></mob-select-options>
                    <mob-select-options label="'香港'"></mob-select-options>
                    <mob-select-options label="'澳门澳门澳门澳门澳门澳门澳门澳门澳门澳门澳门澳门澳门澳门澳门'"></mob-select-options>
                    <mob-select-options label="'澳门澳门澳门澳门澳门澳门澳门澳门澳门澳门澳门澳门澳门澳门澳门'"></mob-select-options>
                    <mob-select-options label="'澳门澳门澳门澳门澳门澳门澳门澳门澳门澳门澳门澳门澳门澳门澳门'"></mob-select-options>
                    <mob-select-options label="'澳门澳门澳门澳门澳门澳门澳门澳门澳门澳门澳门澳门澳门澳门澳门'"></mob-select-options>
                    <mob-select-options label="'澳门澳门澳门澳门澳门澳门澳门澳门澳门澳门澳门澳门澳门澳门澳门'"></mob-select-options>
                    <mob-select-options label="'澳门澳门澳门澳门澳门澳门澳门澳门澳门澳门澳门澳门澳门澳门澳门'"></mob-select-options>
                </mob-select>
            </div>
            <div class="meta">
                <pre>
                        <code class="source-code language-markup language-js language-html language-css" prism
                        ><!--
                            <mob-radio label="Option1" value="1" change-handle="ctrl.fatherChange(value)" ng-model='value'></mob-radio>
                            值：<span ng-bind="value"></span>
                        --></code>
                    </pre>
            </div>
        </div>

<!--        <button id="button" class="mob_popper__target" ng-click="popperClick()" STYLE="margin-left: 5px">-->
<!--            My button-->
<!--        </button>-->


<!--        <div class="mob-popper">-->
<!--            <div class="mob-popper__wrapper">-->
<!--                <span class="mob-popper__arrow"></span>-->
<!--                <div class="mob-popper__inner">-->
<!--                    <mob-popper></mob-popper>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

        <!--        <ul>-->
        <!--            <li>北京</li>-->
        <!--            <li>上海</li>-->
        <!--            <li>广州</li>-->
        <!--            <li>深圳</li>-->
        <!--            <li>香港</li>-->
        <!--            <li>澳门澳门澳门澳门澳门澳门澳门澳门澳门澳门澳门澳门澳门澳门澳门</li>-->
        <!--        </ul>-->

        <!--        <div id="mob-popper">-->
        <!--            <div class="mob-popper__wrapper">-->
        <!--                <span id="arrow"></span>-->
        <!--                <div class="mob-popper__inner">-->
        <!--                    <ul>-->
        <!--                        <li>北京</li>-->
        <!--                        <li>上海</li>-->
        <!--                        <li>广州</li>-->
        <!--                        <li>深圳</li>-->
        <!--                        <li>香港</li>-->
        <!--                        <li>澳门澳门澳门澳门澳门澳门澳门澳门澳门澳门澳门澳门澳门澳门澳门</li>-->
        <!--                    </ul>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
    </div>
</section>
