<!-- maxLength:'<',
minLength:'<',
showWordLimit:'<',
placeholder:'<',
clearable:'<' -->
<div class="mob-input" ng-class="{
    'is_clearable':$ctrl.clearable,
    'is_disabled':$ctrl.ngDisabled,
    'is_showPassword':$ctrl.showPassword,
    'is_append_slot':$slot.slot['append'],
    'is_prepend_slot':$slot.slot['prepend']
}">

    <div class="mob-input_prepend" ng-class="{'is_hidden':!$slot.slot['prepend']}">
        <slot name="prepend"></slot>
    </div>

    <div class="mob-input__wrapper">
        <span class="mob-input__prefix">
            <span class="mob-input__prefix-inner">
                <slot name="prefixIcon"></slot>
            </span>
        </span>
        <input
               type="{{$ctrl.type}}"
               autocomplete="off"
               placeholder="{{$ctrl.placeholder}}"
               class="mob-input__inner"
               ng-model="$ctrl.ngModel"
               ng-disabled="$ctrl.ngDisabled"
               maxlength="{{$ctrl.ngMaxlength}}"
               ng-maxlength="$ctrl.ngMaxlength"
        >

        <span class="mob-input__suffix">
            <span class="mob-input__suffix-inner">

                <mob-icon-circle-close class="mob-input_clear"
                                       ng-if="$ctrl.showClear()"
                                       ng-click="$ctrl.clean()"></mob-icon-circle-close>

                <mob-icon-visible class="mob-input_access_visible"
                                          ng-if="$ctrl.showValueAccessVisible()"
                                          ng-click="$ctrl.visibleClickHandle()"></mob-icon-visible>

                <mob-icon-invisible class="mob-input_invisible"
                                            ng-if="$ctrl.showValueInVisible()"
                                            ng-click="$ctrl.visibleClickHandle()"></mob-icon-invisible>

                <slot name="suffixIcon"></slot>

                <span class="mob-input-count" ng-if="$ctrl.showWordCount()">
                    <span class="mob-input-count-inner"
                          ng-bind="($ctrl.ngModel || '').length + '/' + $ctrl.ngMaxlength"></span>
                </span>
            </span>
        </span>
    </div>

    <div class="mob-input_append" ng-class="{'is_hidden':!$slot.slot['append']}">
        <slot name="append"></slot>
    </div>

</div>
