<div class="mob-date mob-date-range mob-date-date mob-unselect-text">
    <div class="mob-date__container__wrapper">
        <div class="mob-date__sidebar" ng-if="$ctrl.shortcuts">
            <button ng-repeat="shortcut in $ctrl.shortcuts" ng-bind="shortcut.text"
                    ng-click="$ctrl.shortcutClickHandle(shortcut)"></button>
        </div>
        <div class="mob-date__container is_left">
            <mob-date-date
                    render-date="leftCalendar.renderDate"
                    date-time="$ctrl.dateTime ? $ctrl.dateTime : false "
                    ng-model="leftCalendar.ngModel"
                    range-model="$ctrl.potentialModel"
                    attachment="'leftCalendar'"
                    increase-month-disabled="$ctrl.isDisabledCalendarChangeMonth()"
                    increase-year-disabled="$ctrl.isDisabledCalendarChangeYear()"

                    panel-change="$ctrl.panelChangeHandle(opt)"
                    calendar-click="$ctrl.calendarClickHandle(opt)"
                    calendar-hover="$ctrl.calendarHoverHandle(opt)"
                    time-spinner-change="$ctrl.calendarTimeChangeHandle(opt)"
            ></mob-date-date>
        </div>
        <mob-divider vertical="true"></mob-divider>
        <div class="mob-date__container is_right">
            <mob-date-date
                    render-date="rightCalendar.renderDate"
                    date-time="$ctrl.dateTime ? $ctrl.dateTime : false "
                    ng-model="rightCalendar.ngModel"
                    range-model="$ctrl.potentialModel"
                    attachment="'rightCalendar'"
                    decrease-month-disabled="$ctrl.isDisabledCalendarChangeMonth()"
                    decrease-year-disabled="$ctrl.isDisabledCalendarChangeYear()"

                    panel-change="$ctrl.panelChangeHandle(opt)"
                    calendar-click="$ctrl.calendarClickHandle(opt)"
                    calendar-hover="$ctrl.calendarHoverHandle(opt)"
                    time-spinner-change="$ctrl.calendarTimeChangeHandle(opt)"
            ></mob-date-date>
        </div>
    </div>

</div>
