<div class="mob-date mob-date-date mob-unselect-text">
    <div class="mob-date__container__wrapper" ng-show="!$ctrl.yearDatePickerDisplay && !$ctrl.monthDatePickerDisplay">
        <div class="mob-date__sidebar" ng-if="$ctrl.shortcuts">
            <button ng-repeat="shortcut in $ctrl.shortcuts" ng-bind="shortcut.text"
                    ng-click="$ctrl.shortcutClickHandle(shortcut)"></button>
        </div>
        <div class="mob-date__container">
            <div class="mob-date__header__wrapper" ng-if="$ctrl.dateTime">
                <div>
                    <input class="mob-date-time-input" ng-model="$ctrl.dateModel"/>
                </div>
                <div>
                    <mob-popper class="mob-date-time-wrapper" ref="'timeSpinner'">
                        <mob-popper-target>
                            <input class="mob-date-time-input" ng-change="$ctrl.timeShowModelChangeHandle()" ng-click="$ctrl.timeShowModelClickHandle()" ng-model="$ctrl.timeModel.showModel"/>
                        </mob-popper-target>
                        <mob-popper-down>
                            <mob-time-spinner
                                    show-model="$ctrl.timeModel.showModel"
                                    ng-model="$ctrl.timeModel.ngModel"
                                    confirm="$ctrl.timeSpinnerConfirmHandle(opt)"
                                    cancel="$ctrl.timeSpinnerCancelHandle(opt)"></mob-time-spinner>
                        </mob-popper-down>
                    </mob-popper>
                </div>
            </div>
            <div class="content">
                <div class="mob-date__header">
                    <mob-icon-double-arrow-left
                            class="button"
                            ng-class="{'is_disabled':$ctrl.decreaseYearDisabled}"
                            ng-click="$ctrl.decreaseYearHandle()"
                    ></mob-icon-double-arrow-left>
                    <mob-icon-arrow-left
                            class="button"
                            ng-class="{'is_disabled':$ctrl.decreaseMonthDisabled}"
                            ng-click="$ctrl.decreaseMonthHandle()"
                    ></mob-icon-arrow-left>
                    <p class="content">
                        <span ng-click="$ctrl.showYearDatePickerHandle()" ng-bind="year"></span>
                        <span ng-click="$ctrl.showMonthDatePickerHandle()" ng-bind="month"></span>
                    </p>
                    <mob-icon-arrow-right
                            class="button"
                            ng-class="{'is_disabled':$ctrl.increaseMonthDisabled}"
                            ng-click="$ctrl.increaseMonthHandle()"
                    ></mob-icon-arrow-right>
                    <mob-icon-double-arrow-right
                            ng-click="$ctrl.increaseYearHandle()"
                            class="button"
                            ng-class="{'is_disabled':$ctrl.increaseYearDisabled}"
                    >

                    </mob-icon-double-arrow-right>
                </div>
                <div class="mob-date__content">
                    <div class="row">
                        <div class="col">
                            <span>日</span>
                        </div>
                        <div class="col">
                            <span>一</span>
                        </div>
                        <div class="col">
                            <span>二</span>
                        </div>
                        <div class="col">
                            <span>三</span>
                        </div>
                        <div class="col">
                            <span>四</span>
                        </div>
                        <div class="col">
                            <span>五</span>
                        </div>
                        <div class="col">
                            <span>六</span>
                        </div>
                    </div>
                    <div class="row" ng-repeat="week in options">
                        <div class="col"
                             ng-repeat="d in week"
                             ng-click="$ctrl.calendarClickHandle(d)"
                             ng-mousemove="$ctrl.calendarHoverHandle(d)"
                             ng-class="{
                         'today':d.isToday,
                         'active':$ctrl.isActive(d),
                         'prev prev-month':d.isPrevMonth,
                         'next next-month':d.isNextMonth,
                         'disabled':d.disabled,
                         'potential':$ctrl.isInRange(d),
                         'potential-active potential-active-start': $ctrl.isInRangeActiveStart(d),
                         'potential-active potential-active-end': $ctrl.isInRangeActiveEnd(d)
                          }">
                            <span ng-bind="d.date"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <mob-date-year
            ref="'mobDateYear'"
            ng-show="$ctrl.yearDatePickerDisplay"
            change="$ctrl.mobDateYearChangeHandle(opt)"
            ng-model="mobDateYear"
            calendar-click="$ctrl.hideYearDatePicker(opt)"></mob-date-year>

    <mob-date-month
            ref="'mobDateMonth'"
            ng-show="$ctrl.monthDatePickerDisplay"
            change="$ctrl.mobDateMonthChangeHandle(opt)"
            ng-model="mobDateMonth"
            calendar-click="$ctrl.hideMonthDatePicker(opt)"></mob-date-month>
</div>
