<section class="mob-doc content" ng-controller="DatePicker as ctrl">
    <h2>DatePicker日期选择器</h2>

    <div class="mob-doc content">
        <h3>选择某一天</h3>
        <div class="mob-demo-block">
            <div class="mob-demo-example">
                <div class="example-block">
                    <div class="block">
                        <p class="title">默认</p>
                        <div class="content">
                            <mob-date-picker style="width: 220px;" ng-model="yearModel" type="'date'" ></mob-date-picker>
                        </div>
                    </div>
                    <div class="block">
                        <p class="title">快速选择</p>
                        <div class="content">
                            <mob-date-picker style="width: 220px;" ng-model="yearModel" type="'date'" shortcuts="dateShortcuts"></mob-date-picker>
                        </div>
                    </div>
                </div>
            </div>
            <div class="meta">
                <pre prism>
                        <code class="source-code language-markup language-js language-html language-css"
                        ><!--
                            <div class="example-block">
                                <div class="block">
                                    <p class="title">默认</p>
                                    <div class="content">
                                        <mob-date-picker style="width: 220px;" ng-model="yearModel" type="'date'" ></mob-date-picker>
                                    </div>
                                </div>
                                <div class="block">
                                    <p class="title">快速选择</p>
                                    <div class="content">
                                        <mob-date-picker style="width: 220px;" ng-model="yearModel" type="'date'" shortcuts="dateShortcuts"></mob-date-picker>
                                    </div>
                                </div>
                            </div>
                        --></code>
                    </pre>
            </div>
        </div>
    </div>

</section>
