<section class="mob-doc content" ng-controller="DatePicker as ctrl">
    <h2>DatePicker日期选择器</h2>


    <div class="mob-doc content">
        <h3>年、月、日</h3>
        <div class="mob-demo-block">
            <div class="mob-demo-example">
                值：{{yearModel}}
                <div class="mob-demo-example-child">
                    <mob-date-picker ng-model="yearModel" type="'year'"></mob-date-picker>
                </div>
                值：{{monthModel}}
                <div class="mob-demo-example-child">
                    <mob-date-picker ng-model="monthModel" type="'month'"></mob-date-picker>
                </div>
                值：{{dateModel}}
                <div class="mob-demo-example-child">
                    <mob-date-picker ng-model="dateModel" type="'date'"></mob-date-picker>
                </div>
            </div>
        </div>
        <div class="meta">
                <pre prism>
                        <code class="source-code language-markup language-js language-html language-css"
                        ><!--
                            <mob-date type="'year'" ng-model="value"></mob-date>
                            <mob-date-year ng-model="value"></mob-date-year>
                        --></code>
                    </pre>
        </div>
    </div>
</section>
