<div
        class="mob-checkbox"
        ng-class="{
        'is_disabled':$ctrl.ngDisabled,
        'is_border':$ctrl.border,
        'is_indeterminate':$ctrl.indeterminate,
        'is_active':$ctrl.checkValue === $ctrl.ngModel
    }"
        ng-click="$ctrl.clickHandle()">
    <label for="#" class="mob-checkbox__wrapper">
        <span class="mob-checkbox__inner">
            <input type="checkbox" autocomplete="off" name="{{$ctrl.name}}" class="mob-checkbox__original" ng-class="{'is_active':$ctrl.checkValue === $ctrl.ngModel }" ng-disabled="$ctrl.ngDisabled" ng-value="$ctrl.checkValue" ng-model="$ctrl.ngModel">
            <span class="mob-checkbox__square"></span>
        </span>
        <span class="mob-checkbox__label mob-unselect-text" ng-if="$ctrl.label" ng-bind="$ctrl.label"></span>
    </label>
</div>
