mob-checkbox-group .mob-checkbox {
    display: flex;
    /* width: 100%; */
    height: 40px;
    align-items: center;
    margin-right: 20px;
    font-size: 14px;
}
mob-check-box {
    display: inline-block;
}

mob-check-box .mob-checkbox {
    display: inline-block;
}
mob-check-box * {
    margin: 0;
    padding: 0;
}


.mob-checkbox.is_border .mob-checkbox__wrapper {
    border: 1px solid var(--mob-border-color);
    padding: 12px;
    border-radius: 4px;
}

.mob-checkbox .mob-checkbox__wrapper {
    /* width: 100%; */
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    cursor: pointer;
    transition: backgroundColor .3s ease-in;
}

.mob-checkbox .mob-checkbox__inner {
    position: relative;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    /* cursor: pointer; */
    transition: backgroundColor .3s ease-in;
}

.mob-checkbox .mob-checkbox__square {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 14px;
    border-radius: 4px;
    border: 1px solid var(--mob-border-color);
    /*border-radius: 50%;*/
    transition: all var(--mob-transition-duration) ease-in;
    z-index: 1;

}

.mob-checkbox:not(.mob-checkbox.is_disabled):hover .mob-checkbox__square,
.mob-checkbox.is_border:not(.mob-checkbox.is_disabled):hover .mob-checkbox__wrapper {
    border: 1px solid var(--mob-active-border-color);
    box-shadow: 0 0 0 2px var(--mob-primary-light-color6);
}

.mob-checkbox .mob-checkbox__square::before {
    position: absolute;
    content: '';
    display: inline-block;
    border: 1px solid transparent;
    border-left:0;
    border-top:0;
    width: 3px;
    height: 7px;
    top: 2px;
    /* margin-bottom: 20%; */
    transition: all var(--mob-transition-duration) ease-in;
    transform: rotate(45deg) scaleY(0);
}

.mob-checkbox .mob-checkbox__original {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 0;
    cursor: pointer;
}

.mob-checkbox .mob-checkbox__label {
    box-sizing: border-box;
    padding-left: 8px;
}

/* 激活时 */
.mob-checkbox:not(.mob-checkbox.is_disabled) .mob-checkbox__original.is_active + .mob-checkbox__square {
    background-color: var(--mob-active-fill-color);
    border: 1px solid var(--mob-active-border-color);
}

.mob-checkbox .mob-checkbox__original.is_active + .mob-checkbox__square::before {
    transform: rotate(45deg) scaleY(1);
    border-color: #fff;
}

.mob-checkbox:not(.mob-checkbox.is_disabled) .mob-checkbox__wrapper:has(.mob-checkbox__original.is_active) .mob-checkbox__label {
    color: var(--mob-active-text-color);
}

.mob-checkbox.is_border .mob-checkbox__wrapper:has(.mob-checkbox__original.is_active) {
    border: 1px solid var(--mob-active-border-color);
}

/* 半选中状态 */
.mob-checkbox.is_indeterminate .mob-checkbox__square{
    background-color: var(--mob-active-fill-color);
    border: 1px solid var(--mob-active-border-color);
}

.mob-checkbox.is_indeterminate .mob-checkbox__square::before {
    border-color: #fff;
    margin-top: 0;
    content: '';
    display: inline-block;
    position: absolute;
    border-left:0;
    border-top:0;
    top: calc(50% - 1px);
    left: calc(50% - 4px);
    width: 7px;
    height: 0;
    transition: all var(--mob-transition-duration) ease-in;
    transform: rotate(0deg) scaleY(1);
}

/* 禁用 */
.mob-checkbox.is_disabled .mob-checkbox__wrapper {
    cursor: not-allowed;
}

.mob-checkbox.is_disabled .mob-checkbox__square {
    background-color: var(--mob-not-allow-background-color);
}

.mob-checkbox.is_disabled .mob-checkbox__square::before {
    content: '';
    display: inline-block;
    position: absolute;
    border:2px solid var(--mob-disabled-active-color);
    border-left:0;
    border-top:0;
    top: 2px;
    left: calc(50% - 2px);
    width: 3px;
    height: 7px;
    transition: all var(--mob-transition-duration) ease-in;
    transform: rotate(45deg) scaleY(0);
}

.mob-checkbox.is_disabled .mob-checkbox__label {
    color: var(--mob-not-allow-text-color);
}
