<section class="mob-doc content ignore">

    <h2>Table 表单</h2>

    <h3>基础用法</h3>
    <div class="mob-demo-block">
        <div class="mob-demo-example" >
            <mob-table data="data">
                <mob-table-item prop="'eshopOrderSn'" label="'列1'" width="200" ></mob-table-item>
                <mob-table-item prop="'orderPrice'" label="'列2'" width="200"></mob-table-item>
                <mob-table-item prop="'refundOrderSn'" label="'列3'" width="200"></mob-table-item>
            </mob-table>
        </div>
        <div class="meta">
                <pre prism>
                        <code class="source-code language-markup language-js language-html language-css"
                        ><!--
                            <mob-table data="data">
                                <mob-table-item prop="'eshopOrderSn'" label="'列1'" width="200" ></mob-table-item>
                                <mob-table-item prop="'orderPrice'" label="'列2'" width="200"></mob-table-item>
                                <mob-table-item prop="'refundOrderSn'" label="'列3'" width="200"></mob-table-item>
                            </mob-table>
                        --></code>
                    </pre>
        </div>
    </div>

    <h3>带斑马纹表格</h3>
    <div class="mob-demo-block">
        <div class="mob-demo-example" >
            <mob-table data="data" stripe="true">
                <mob-table-item prop="'eshopOrderSn'" label="'列1'" width="200" ></mob-table-item>
                <mob-table-item prop="'orderPrice'" label="'列2'" width="200"></mob-table-item>
                <mob-table-item prop="'refundOrderSn'" label="'列3'" width="200"></mob-table-item>
            </mob-table>
        </div>
        <div class="meta">
                <pre prism>
                        <code class="source-code language-markup language-js language-html language-css"
                        ><!--
                            <mob-table data="data" stripe="true">
                                <mob-table-item prop="'eshopOrderSn'" label="'列1'" width="200" ></mob-table-item>
                                <mob-table-item prop="'orderPrice'" label="'列2'" width="200"></mob-table-item>
                                <mob-table-item prop="'refundOrderSn'" label="'列3'" width="200"></mob-table-item>
                            </mob-table>
                        --></code>
                    </pre>
        </div>
    </div>

    <h3>带边框表格</h3>
    <p>默认情况下，Table 组件是不具有竖直方向的边框的， 如果需要，可以使用 border 属性，把该属性设置为 true 即可启用。</p>
    <div class="mob-demo-block">
        <div class="mob-demo-example" >
            <mob-table data="data" border="true">
                <mob-table-item prop="'eshopOrderSn'" label="'列1'" width="200" ></mob-table-item>
                <mob-table-item prop="'orderPrice'" label="'列2'" width="200"></mob-table-item>
                <mob-table-item prop="'refundOrderSn'" label="'列3'" width="200"></mob-table-item>
            </mob-table>
        </div>
        <div class="meta">
                <pre prism>
                        <code class="source-code language-markup language-js language-html language-css"
                        ><!--
                            <mob-table data="data" border="true">
                                <mob-table-item prop="'eshopOrderSn'" label="'列1'" width="200" ></mob-table-item>
                                <mob-table-item prop="'orderPrice'" label="'列2'" width="200"></mob-table-item>
                                <mob-table-item prop="'refundOrderSn'" label="'列3'" width="200"></mob-table-item>
                            </mob-table>
                        --></code>
                    </pre>
        </div>
    </div>


    <style>
        .mob-table tr.success{
            background-color: #f0f9eb;
        }
        .mob-table tr.warning{
            background-color: #fdf6ec;
        }
    </style>

    <h3>带状态表格</h3>
    <p>可将表格内容 highlight 显示，方便区分「成功、信息、警告、危险」等内容。</p>
    <p>可以通过指定 Table 组件的 row-class-name 属性来为 Table 中的某一行添加 class， 这样就可以自定义每一行的样式了。</p>
    <div class="mob-demo-block">
        <div class="mob-demo-example" >
            <mob-table data="data" border="true" row-class-name="getClassName(opt)">
                <mob-table-item prop="'eshopOrderSn'" label="'列1'" width="200" ></mob-table-item>
                <mob-table-item prop="'orderPrice'" label="'列2'" width="200"></mob-table-item>
                <mob-table-item prop="'refundOrderSn'" label="'列3'" width="200"></mob-table-item>
            </mob-table>
        </div>
        <div class="meta">
                <pre prism>
                        <code class="source-code language-markup language-js language-html language-css"
                        ><!--
                            <mob-table data="data" border="true">
                                <mob-table-item prop="'eshopOrderSn'" label="'列1'" width="200" ></mob-table-item>
                                <mob-table-item prop="'orderPrice'" label="'列2'" width="200"></mob-table-item>
                                <mob-table-item prop="'refundOrderSn'" label="'列3'" width="200"></mob-table-item>
                            </mob-table>
                        --></code>
                    </pre>
        </div>
    </div>


    <h3>多选表格</h3>
    <p>选择多行数据时使用 Checkbox。可通过 type="selection" 列开启多选，表头 checkbox 可全选/取消当前可见行。</p>
    <p>已选中 {{getSelectedCount(selectedRows)}} 行</p>
    <p>
        <mob-button ng-click="replaceSelectionData()">替换 data（新数组，清空选中）</mob-button>
        <mob-button ng-click="spliceFirstRow()">splice 删除首行（cleanSelection）</mob-button>
        <mob-button ng-click="restoreSelectionData()">恢复 data</mob-button>
    </p>
    <div class="mob-demo-block">
        <div class="mob-demo-example">
            <mob-table data="data"
                       border="true"
                       selection="selectedRows"
                       row-key="'refundOrderSn'"
                       on-selection-change="onSelectionChange(opt)">
                <mob-table-item type="'selection'"></mob-table-item>
                <mob-table-item prop="'eshopOrderSn'" label="'订单号'"></mob-table-item>
                <mob-table-item prop="'orderPrice'" label="'金额'"></mob-table-item>
                <mob-table-item prop="'refundOrderSn'" label="'退款单号'"></mob-table-item>
            </mob-table>
        </div>
        <div class="meta">
                <pre prism>
                        <code class="source-code language-markup language-js language-html language-css"
                        ><!--
                            <mob-table data="data"
                                       border="true"
                                       selection="selectedRows"
                                       row-key="'refundOrderSn'"
                                       on-selection-change="onSelectionChange(opt)">
                                <mob-table-item type="'selection'" width="25"></mob-table-item>
                                <mob-table-item prop="'eshopOrderSn'" label="'订单号'" width="200"></mob-table-item>
                                <mob-table-item prop="'orderPrice'" label="'金额'" width="120"></mob-table-item>
                                <mob-table-item prop="'refundOrderSn'" label="'退款单号'" width="200"></mob-table-item>
                            </mob-table>
                        --></code>
                    </pre>
        </div>
    </div>

    <h3>多选表格（无 row-key）</h3>
    <p>未设置 row-key 时，data 变化会按行对象引用清理无效选中。</p>
    <p>已选中 {{getSelectedCount(noRowKeySelectedRows)}} 行</p>
    <p>
        <mob-button ng-click="spliceNoRowKeyFirstRow()">splice 删除首行</mob-button>
    </p>
    <div class="mob-demo-block">
        <div class="mob-demo-example">
            <mob-table data="noRowKeyData"
                       border="true"
                       selection="noRowKeySelectedRows"
                       on-selection-change="onNoRowKeySelectionChange(opt)">
                <mob-table-item type="'selection'"></mob-table-item>
                <mob-table-item prop="'eshopOrderSn'" label="'订单号'"></mob-table-item>
                <mob-table-item prop="'refundOrderSn'" label="'退款单号'"></mob-table-item>
            </mob-table>
        </div>
    </div>

    <h3>树形表格</h3>
    <p>当 row 含 children 字段时，可通过 tree-props 渲染树形表格。使用 type="expand" 单独作为展开列；若与多选同时使用，展开列在第一列，checkbox 在第二列。</p>
    <p>树形多选可通过 group-selection 开启组内联动（默认 false）。设为 true 后：选中父节点时自动选中其所有后代子节点及同级兄弟节点；选中子节点/叶子节点时自动选中同级兄弟节点；取消选择与选中行为对称。</p>
    <p ng-if="getTreeSelectedCount()">已选中 {{getTreeSelectedCount()}} 行</p>
    <div class="mob-demo-block">
        <div class="mob-demo-example">
            <mob-table data="treeData"
                       border="true"
                       row-key="'id'"
                       tree-props="treeProps"
                       default-expand-all="true"
                       group-selection="true"
                       selection="treeSelectedRows"
                       on-selection-change="onTreeSelectionChange(opt)">
                <mob-table-item type="'expand'"></mob-table-item>
                <mob-table-item type="'selection'"></mob-table-item>
                <mob-table-item prop="'name'" label="'名称'"></mob-table-item>
                <mob-table-item prop="'size'" label="'大小'"></mob-table-item>
            </mob-table>
        </div>
        <div class="meta">
                <pre prism>
                        <code class="source-code language-markup language-js language-html language-css"
                        ><!--
                            <mob-table data="treeData"
                                       border="true"
                                       row-key="'id'"
                                       tree-props="treeProps"
                                       default-expand-all="true"
                                       group-selection="true"
                                       selection="treeSelectedRows"
                                       on-selection-change="onTreeSelectionChange(opt)">
                                <mob-table-item type="'expand'" width="25"></mob-table-item>
                                <mob-table-item type="'selection'" width="25"></mob-table-item>
                                <mob-table-item prop="'name'" label="'名称'" width="260"></mob-table-item>
                                <mob-table-item prop="'size'" label="'大小'" width="120"></mob-table-item>
                            </mob-table>
                        --></code>
                    </pre>
        </div>
    </div>

    <h3>可展开行</h3>
    <p>通过 type="expand" 列展开行，type="extension" 定义展开区域自定义内容。展开行单独占一行并合并所有列，类似 Element Plus 的 expand 实现。</p>
    <div class="mob-demo-block">
        <div class="mob-demo-example">
            <mob-table data="data"
                       border="true"
                       row-key="'refundOrderSn'"
                       expand-row-keys="expandRowKeys">
                <mob-table-item type="'expand'"></mob-table-item>
                <mob-table-item type="'extension'">
                    <div>
                        <p>订单号：{{$context.row.eshopOrderSn}}</p>
                        <p>退款单号：{{$context.row.refundOrderSn}}</p>
                        <p>详情：{{$context.row.detail}}</p>
                    </div>
                </mob-table-item>
                <mob-table-item prop="'eshopOrderSn'" label="'订单号'"></mob-table-item>
                <mob-table-item prop="'orderPrice'" label="'金额'"></mob-table-item>
                <mob-table-item prop="'refundOrderSn'" label="'退款单号'"></mob-table-item>
            </mob-table>
        </div>
        <div class="meta">
                <pre prism>
                        <code class="source-code language-markup language-js language-html language-css"
                        ><!--
                            <mob-table data="data"
                                       border="true"
                                       row-key="'refundOrderSn'"
                                       expand-row-keys="expandRowKeys">
                                <mob-table-item type="'expand'"></mob-table-item>
                                <mob-table-item type="'extension'">
                                    <div>
                                        <p>订单号：{{$context.row.eshopOrderSn}}</p>
                                        <p>详情：{{$context.row.detail}}</p>
                                    </div>
                                </mob-table-item>
                                <mob-table-item prop="'eshopOrderSn'" label="'订单号'"></mob-table-item>
                                <mob-table-item prop="'orderPrice'" label="'金额'"></mob-table-item>
                                <mob-table-item prop="'refundOrderSn'" label="'退款单号'"></mob-table-item>
                            </mob-table>
                        --></code>
                    </pre>
        </div>
    </div>

    <h3>固定表头</h3>
    <p>当数据量动态变化时，可以为 Table 设置一个最大高度。</p>
    <div class="mob-demo-block">
        <div class="mob-demo-example" >
            <mob-table data="data" height="200">
                <mob-table-item prop="'eshopOrderSn'" label="'列1'" width="200" ></mob-table-item>
                <mob-table-item prop="'orderPrice'" label="'列2'" width="200"></mob-table-item>
                <mob-table-item prop="'refundOrderSn'" label="'列3'" width="200"></mob-table-item>
            </mob-table>
        </div>
        <div class="meta">
                <pre prism>
                        <code class="source-code language-markup language-js language-html language-css"
                        ><!--
                            <mob-table data="data" border="true">
                                <mob-table-item prop="'eshopOrderSn'" label="'列1'" width="200" ></mob-table-item>
                                <mob-table-item prop="'orderPrice'" label="'列2'" width="200"></mob-table-item>
                                <mob-table-item prop="'refundOrderSn'" label="'列3'" width="200"></mob-table-item>
                            </mob-table>
                        --></code>
                    </pre>
        </div>
    </div>
</section>
