<section class="mob-doc content" ng-controller="FormCtrl as ctrl">
    <h2>Form 表单</h2>


    <div class="mob-doc content">
        <h3>基础用法</h3>
        <div class="mob-demo-block">
            <div class="mob-demo-example">
                {{form}}
                <div>
                    <mob-form form-item="demoOne.formItem" ng-model="form">

                        <div slot="slotOne">
                            我是第一个slot
                            <mob-input ng-model="form.slotOne"></mob-input>
                        </div>

                        <div slot="slotTow">
                            我是第二个slot
                            <mob-input></mob-input>
                        </div>
                    </mob-form>
                </div>
            </div>
            <div class="meta">
                <pre prism>
                        <code class="source-code language-markup language-js language-html language-css"
                        ><!--

                        --></code>
                    </pre>
            </div>
        </div>

    </div>
</section>
