<div class="mob-form">
    <form>
        <div ng-repeat="item in form.formItem">
            <div ng-if="item.type === 'input'">
                <mob-form-item model="$parent.$ctrl.model" label="item.label" prop="item.prop">
                    <mob-input model="$parent.$ctrl.model[item.prop]" clearable="item.options.clearable"
                        disable="item.options.disable" show-password="item.options.showPassword">
                    </mob-input>
                </mob-form-item>
            </div>
            <div ng-if="item.type === 'select'">
                <mob-form-item model="$parent.$ctrl.model" label="item.label" prop="item.prop">
                    <mob-select model="$parent.$ctrl.model[item.prop]" options="item.options">
                    </mob-select>
                </mob-form-item>
            </div>
        </div>
    </form>
</div>