<div>
    <table class="mob-table" ng-class="{'border':border,'stripe':stripe}">
        <colgroup>
            <col ng-repeat="col in columns track by $index"
                 class="{{'mob-table-col_' + $index}}"
                 ng-class="{
                     'mob-table-column--selection': col.type === 'selection',
                     'mob-table-column--expand': col.type === 'expand'
                 }"
                 ng-style="{'width': vm.getColumnWidth(col)}">
        </colgroup>
        <thead>
        <tr>
            <th ng-repeat="($colIndex, col) in columns track by $index"
                class="mob-table-item mob-table-item__cell"
                ng-class="{
                    'mob-table-column--selection': col.type === 'selection',
                    'mob-table-column--expand': col.type === 'expand'
                }">
                <div class="cell" ng-if="col.type !== 'selection' && col.type !== 'expand'"
                     ng-bind="col.label"
                     ng-class="vm.headerCellClassName($colIndex, col)"></div>
                <div class="cell" ng-if="col.type === 'expand'"></div>
                <div class="cell" ng-if="col.type === 'selection'">
                    <mob-check-box check-value="true"
                                   un-check-value="false"
                                   indeterminate="vm.headerIndeterminate"
                                   ng-model="vm.headerChecked"
                                   change="vm.onHeaderSelectChange(opt)"></mob-check-box>
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="rowMeta in vm.displayRows track by rowMeta.trackId"
            ng-if="data"
            mob-table-row-anim
            class="mob-table__body-row"
            ng-class="{
                'mob-table__body-row--entering': rowMeta.entering,
                'mob-table__body-row--leaving': rowMeta.leaving,
                'mob-table__expand-row': rowMeta.rowType === 'expand'
            }">
            <td ng-if="rowMeta.rowType !== 'expand'"
                mob-transclude
                context="rowMeta"></td>
            <td ng-if="rowMeta.rowType === 'expand'"
                colspan="{{columns.length}}"
                class="mob-table__expanded-cell">
                <div class="mob-table__expand-content">
                    <div class="mob-table__expand-inner"
                         mob-table-expand-content></div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
