.mob-table {
    overflow: auto;
}
.mob-table table{
    width: 100%;
    table-layout:fixed;
    border-spacing: 0;
}

.mob-table.table-head-fixed thead {
    position: sticky;
    top: 0;
    z-index: 2;
}
.mob-table thead {
    color: var(--mob-table-head-text-color);
    background-color: var(--mob-table-header-bg-color);
}

.mob-table thead tr:not(:first-child):last-child th {
    border-top: 1px solid var(--mob-table-border);
}


.mob-table thead tr th {
    vertical-align: middle;
    border-bottom: 1px solid var(--mob-table-border);
}

.mob-table th,.mob-table td {
    background-color: var(--mob-table-td-bg-color);
}


.mob-table tbody {
    color: var(--mob-table-body-text-color);
}

.mob-table tbody tr:last-child th {
    border-top: 1px solid var(--mob-table-border);
}

.mob-table tbody tr{
    transition: background-color .25s ease;
}
.mob-table.stripe tbody tr:hover td ,
.mob-table.stripe tbody tr.row-span:hover td {
    background-color: var(--mob-table-body-tr-hover-color) !important;
}

.mob-table tbody tr td {
    border-bottom: 1px solid var(--mob-table-border);
}

/*边框样式*/
.mob-table.border thead tr th {
    border-top: 1px solid var(--mob-table-border);
}

.mob-table.border thead tr th:first-child {
    border-left: 1px solid var(--mob-table-border);
}

.mob-table.border thead tr th {
    border-right: 1px solid var(--mob-table-border);
}

.mob-table.border tbody tr td:first-child {
    border-left: 1px solid var(--mob-table-border);
}

.mob-table.border tbody tr td {
    border-right: 1px solid var(--mob-table-border);
}

/*条纹*/
.mob-table.stripe tbody tr:nth-child(even) td{
    background-color: var(--mob-table-body-tr-even-color);
}

.mob-table tr .mob-table-item.fixed {
    position: sticky;
    z-index: 1;
}

.mob-table tr:last-child .mob-table-item.fixed {
    border-right:1px solid var(--mob-table-border);
}


.mob-table .mob-table-item.fixed.fixed-left {
    left: 0;
}

.mob-table .mob-table-item.fixed.fixed-right {
    right: 0;
}

.mob-table tr .mob-table-item.first-fixed-column:before {
    content: "";
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: -1px;
    display: block;
    width: 10px;
}

.mob-table tr .mob-table-item.fixed.fixed-left:before {
    right: -10px;
    box-shadow: var(--mob-table-fixed-left-column);
}
.mob-table tr .mob-table-item.fixed.fixed-right:before {
    left: -10px;
    box-shadow: var(--mob-table-fixed-right-column);
}
