
<div>
    <table class="mob-table ">
        <thead>
        <tr>
            <th ng-repeat="col in $ctrl.columns">
                <div class="mob-table-item cell" ng-bind="col.label"></div>
            </th>
            <th>
                <div class="mob-table-item cell">操作</div>
            </th>
        </tr>
        </thead>
        <!-- 每行是对象 -->
        <tbody>
        <tr ng-repeat="($rowInx, row) in $ctrl.data track by $index" context="row,$index" mob-transclude >
        </tr>
        </tbody>
    </table>

<!--    <div ng-repeat="($rowInx, row) in $ctrl.data track by $index">-->
<!--        <mob-transclude context="row,$index"></mob-transclude>-->
<!--    </div>-->
</div>
