.mob-select-popper .mob-select-options {
    font-size: 14px;
    padding: 0 20px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #606266;
    height: 34px;
    line-height: 34px;
    box-sizing: border-box;
    cursor: pointer;
}

.mob-select-popper .mob-select-options.is_disabled {
    color: var(--mob-check-box-disabled-checked-icon-color);
    cursor: not-allowed;
}

.mob-select-popper .mob-select-options:not(.is_disabled):hover {
    background-color: #f5f7fa;
}

.mob-select-popper .mob-select-options.is_active {
    color: var(--mob-active-text-color);
}

.mob-select-options.is_hidden {
    display: none;
}
