<section class="mob-doc content" ng-controller="Date as ctrl">
    <h2>DatePicker日期选择器</h2>

    <div>

        <demo-one></demo-one>
    </div>

    <div class="mob-doc content">
        <h3>年</h3>
        <div class="mob-demo-block">
            <div class="mob-demo-example">
                <div class="mob-demo-example-child">
                    <mob-date type="'year'" ng-model="value"></mob-date>
                </div>
            </div>
        </div>
        <div class="meta">
                <pre prism>
                        <code class="source-code language-markup language-js language-html language-css"
                        ><!--
                                <mob-date type="'year'" ng-model="value"></mob-date>
                        --></code>
                    </pre>
        </div>
    </div>
    <div class="mob-doc content">
        <h3>月</h3>
        <div class="mob-demo-block">
            <div class="mob-demo-example">
                <div class="mob-demo-example-child">
                    <mob-date type="'month'" ng-model="value1"></mob-date>
                </div>
            </div>
        </div>
        <div class="meta">
                <pre prism>
                        <code class="source-code language-markup language-js language-html language-css"
                        ><!--
                            <mob-date type="'month'" ng-model="value1"></mob-date>
                        --></code>
                    </pre>
        </div>
    </div>
    <div class="mob-doc content">
        <h3>日</h3>
        <div class="mob-demo-block">
            <div class="mob-demo-example">
                <div class="mob-demo-example-child">
                    <mob-date type="'date'" ng-model="value2" disabled-date="validDate(opt)"></mob-date>
                </div>
            </div>
        </div>
        <div class="meta">
                <pre prism>
                        <code class="source-code language-markup language-js language-html language-css"
                        ><!--
                            <mob-date type="'date'" ng-model="value2" disabled-date="validDate(opt)"></mob-date>
                        --></code>
                    </pre>
        </div>
    </div>
</section>
