<section class="mob-doc content" ng-controller="DateCtrl as ctrl">

    <mob-button ng-click="ctrl.switchType()">切换</mob-button>
<!--    {{ctrl.ngModelOne}}-->
<!--    <mob-date-picker-pane  type="ctrl.type" ng-model="ctrl.ngModelOne"></mob-date-picker-pane>-->
<!--    <mob-date-picker-pane ng-model="ctrl.ngModelOne"></mob-date-picker-pane>-->
<!--    <mob-date-picker-pane  type="'year'" ng-model="ctrl.ngModelTwo"></mob-date-picker-pane>-->
<!--    <mob-date-picker-pane  type="'month'" ng-model="ctrl.ngModelThree"></mob-date-picker-pane>-->
    <!--    <mob-date-picker style="width: 220px;" ng-model="exampleOne" type="'date'"></mob-date-picker>-->
<!--    <mob-date-picker></mob-date-picker>-->
<!--    <mob-date-picker type="'year'"></mob-date-picker>-->
<!--    <mob-date-picker type="'month'"></mob-date-picker>-->
    <mob-date-picker type="'dateRange'"></mob-date-picker>
</section>
