<section class="mob-doc content" ng-controller="Date as ctrl">
    <h2>DatePicker日期选择器</h2>


    <div class="mob-doc content">
        <h3>年</h3>
        <div class="mob-demo-block">
            <div class="mob-demo-example">
                <div class="mob-demo-example-child">
                    <div class="block">
                        <p class="demonstration">默认</p>
                        <mob-date-year
                                style="display:block;width: 320px;margin: 0 auto"
                                ng-model="yearModel"></mob-date-year>
                    </div>
                    <div class="block">
                        <p class="demonstration">快捷选择</p>
                        <mob-date-year ng-model="yearModel" shortcuts="yearShortcuts"></mob-date-year>
                    </div>
                </div>
                <div class="mob-demo-example-child">
                    <div class="block">
                        <p class="demonstration">默认</p>
                        <mob-date-year-range
                                style="margin: 0 auto"
                                ng-model="yearModelRange"></mob-date-year-range>
                    </div>
                    <div class="block">
                        <p class="demonstration">快捷选择</p>
                        <mob-date-year-range
                                style="margin: 0 auto"
                                ng-model="yearModelRange" shortcuts="yearModelRangeShorcuts"></mob-date-year-range>
                    </div>
                </div>
                <div class="mob-demo-example-child">
                </div>
                <div class="mob-demo-example-child">
                </div>
            </div>
            <div class="meta">
                <pre prism>
                        <code class="source-code language-markup language-js language-html language-css"
                        ><!--
                            <mob-date-year ng-model="yearModel"></mob-date-year>
                        --></code>
                    </pre>
            </div>
        </div>
    </div>
    <div class="mob-doc content">
        <h3>月</h3>
        <div class="mob-demo-block">
            <div class="mob-demo-example">
                <div class="mob-demo-example-child">
                    <div class="block">
                        <p class="documentary">默认</p>
                        <mob-date-month ng-model="monthModel"></mob-date-month>
                    </div>
                    <div class="block">
                        <p class="demonstration">快捷选择</p>
                        <mob-date-month ng-model="monthModel" shortcuts="monthShortcuts"></mob-date-month>
                    </div>
                </div>
            </div>
            <div class="meta">
                <pre prism>
                        <code class="source-code language-markup language-js language-html language-css"
                        ><!--
                            <mob-date type="'month'" ng-model="value1"></mob-date>
                        --></code>
                    </pre>
            </div>
        </div>
    </div>
    <div class="mob-doc content">
        <h3>日</h3>
        <div class="mob-demo-block">
            <div class="mob-demo-example">
                <div class="mob-demo-example-child">
                    <mob-date-date ng-model="value2" disabled-date="validDate(opt)"></mob-date-date>
                </div>
                <p class="demonstration">快捷选择</p>
                <div class="mob-demo-example-child">
                    <mob-date-date ng-model="value2" disabled-date="validDate(opt)"
                                   shortcuts="dateShortcuts"></mob-date-date>
                </div>
            </div>
            <div class="meta">
                <pre prism>
                        <code class="source-code language-markup language-js language-html language-css"
                        ><!--
                            <mob-date-date ng-model="value2" disabled-date="validDate(opt)"></mob-date-date>
                        --></code>
                    </pre>
            </div>
        </div>
    </div>
</section>
