<div class="mob-segmented"
     ng-class="{
    'is-block':$ctrl.block,
    'is-disabled':$ctrl.disabled
}">
    <div class="mob-segmented__group">
        <div class="mob-segmented__item-selected"
             ng-show="$ctrl.isShow()"
             ng-class="{
                'is-disabled':$ctrl.isModelDisabled()
             }">
        </div>
        <label for="#" class="mob-segmented__item"
               ng-repeat="($index, item) in $ctrl.options"
               ng-click="$ctrl.onClick($index, item)"
               ng-class=" {
                    'is-active':$ctrl.getValue(item) == $ctrl.model,
                    'is-disabled':$ctrl.isDisabled(item)
               }" >
            <input type="radio" class="mob-segmented__item-input" ng-model="$ctrl.model"
                   ng-value="$ctrl.getValue(item)">
            <div class="mob-segmented__item-label" ng-bind="$ctrl.getLabel(item)"></div>
        </label>

    </div>
</div>
