mob-switch {
    display: flex;
    height: 100%;
}
.mob-switch {
    position: relative;
    align-items: center;
    display: flex;
}

.mob-switch .mob-switch__input {
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
    opacity: 0;
}


.mob-switch .mob-switch-core {
    display: inline-flex;
    position: relative;
    /* margin: 0 10px; */
    width: min-content;
    min-width: 40px;
    height: 20px;
    border: 1px solid var(--mob-border-color);
    border-radius: 10px;
    cursor: pointer;
    transition: all var(--mob-transition-duration) var(--mob-transition-animate);
}

.mob-switch .mob-switch-core .mob-switch__action {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--mob-blank-light-fill-color);
    border: 1px solid var(--mob-border-color);
    transition: all var(--mob-transition-duration) var(--mob-transition-animate);
}

.mob-switch.is_active .mob-switch-core .mob-switch__action {
    left: calc(100% - 16px - 1px);
}

.mob-switch .mob-switch-core .mob-switch__inner {
    width: 100%;
    padding: 0 2px 0 calc(18px + 2px);
    text-align: left;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    color: var(--mob-light-fill-color);
    transition: all var(--mob-transition-duration) var(--mob-transition-animate);
}

.mob-switch.is_active .mob-switch-core .mob-switch__inner {
    padding: 0 calc(18px + 2px) 0 2px;
}

.mob-switch .mob-switch-core .mob-switch__inner .mob-switch__inner_prompt {
    text-wrap: nowrap;
    font-size: .7rem;
    padding: 2px;

    width: 100%;
    overflow: hidden; /*内容超出后隐藏*/
    text-overflow: ellipsis; /*超出内容显示为省略号*/
    white-space: nowrap; /*文本不进行换行*/
}

.mob-switch mob-switch-core .mob-icon svg {
    width: .8rem;
    height: .8rem;
}

.mob-switch .mob-switch__tips_text.left {
    margin-right: 5px;
}

.mob-switch .mob-switch__tips_text.right {
    margin-left: 5px;
}

.mob-switch .mob-switch__tips_text {
    cursor: pointer;
    text-wrap: nowrap;
}

.mob-switch .mob-switch__tips_text.is_active {
    color: var(--mob-active-text-color);
}


/**
禁用状态
 */
.mob-switch.is_disabled .mob-switch-core {
    opacity: 0.6;
    cursor: not-allowed;
}

/**
加载中
 */
.mob-switch.is_loading .mob-switch-core {
    opacity: 0.6;
    cursor: not-allowed;
}

.mob-switch.is_loading .mob-switch-core mob-icon-loading {
    animation: mob-circle-loading 1s linear infinite;
}

