<div class="mob-date mob-date-range mob-date-month-range mob-unselect-text">
    <div class="mob-date__container__wrapper">
        <div class="mob-date__sidebar" ng-if="$ctrl.shortcuts">
            <button ng-repeat="shortcut in $ctrl.shortcuts" ng-bind="shortcut.text"
                    ng-click="$ctrl.shortcutClickHandle(shortcut)"></button>
        </div>
        <div class="mob-date__body">
            <div class="mob-date__container is_left">
                <mob-date-month
                        ng-model="leftCalendar.ngModel"
                        range-model="$ctrl.potentialModel"
                        attachment="'leftCalendar'"
                        increase-year-disabled="$ctrl.isDisabledCalendarChange()"
                        panel-change="$ctrl.panelChangeHandle(opt)"
                        calendar-click="$ctrl.calendarClickHandle(opt)"
                        calendar-hover="$ctrl.calendarHoverHandle(opt)"
                ></mob-date-month>
            </div>
            <mob-divider vertical="true"></mob-divider>
            <div class="mob-date__container is_right">
                <mob-date-month
                        ng-model="rightCalendar.ngModel"
                        range-model="$ctrl.potentialModel"
                        attachment="'rightCalendar'"
                        panel-change="$ctrl.panelChangeHandle(opt)"
                        decrease-year-disabled="$ctrl.isDisabledCalendarChange()"
                        calendar-click="$ctrl.calendarClickHandle(opt)"
                        calendar-hover="$ctrl.calendarHoverHandle(opt)"
                ></mob-date-month>
            </div>
        </div>
    </div>
</div>
