<style>
    [contenteditable] {
        border: 1px solid black;
        background-color: white;
        min-height: 20px;
    }

    .ng-invalid {
        border: 1px solid red;
    }
</style>
<section class="mob-doc content" ng-controller="Experimental as ctrl">

<!--    <mob-input ng-model="validateData.name"></mob-input>-->
<!--    <mob-button ng-click="testValid()">校验</mob-button>-->
<!--    data:{{data[0]['num3']}}-->
    <mob-table data="data" row-class-name="className(opt)">
        <mob-table-item prop="'num1'" label="'列1'" width="200" ></mob-table-item>
        <mob-table-item prop="'num2'" label="'列2'" width="200"  fixed="true"></mob-table-item>
        <mob-table-item prop="'num3'" label="'列3'" width="200"  fixed="true">
            <mob-input ng-model="$context.row['num3']"></mob-input>
        </mob-table-item>
        <mob-table-item prop="'num4'" label="'列4'" width="200"></mob-table-item>
        <mob-table-item prop="'num5'" label="'列5'" width="200"></mob-table-item>
        <mob-table-item prop="'num6'" label="'列6'" width="200"></mob-table-item>
        <mob-table-item prop="'num7'" label="'列7'" width="200"></mob-table-item>
        <mob-table-item prop="'num8'" label="'列8'" width="200" fixed="'right'"></mob-table-item>
        <mob-table-item prop="'num9'" label="'列9'" width="200"></mob-table-item>
    </mob-table>

<!--    <mob-table data="dataList">-->
<!--    </mob-table>-->
</section>
