<style>
    [contenteditable] {
        border: 1px solid black;
        background-color: white;
        min-height: 20px;
    }

    .ng-invalid {
        border: 1px solid red;
    }
</style>
<section class="mob-doc content" ng-controller="Experimental as ctrl">
    <mob-button ng-click="click()">点击</mob-button>
    {{$id}}
<mob-input>
    <div slot="append"><mob-button ng-click="click()">点击 {{ name }} {{$id}}</mob-button></div>
</mob-input>
<!--    <mob-date-date-range date-time="" ng-model="value"></mob-date-date-range>-->
</section>
