<style>
    [contenteditable] {
        border: 1px solid black;
        background-color: white;
        min-height: 20px;
    }

    .ng-invalid {
        border: 1px solid red;
    }
</style>
<section class="mob-doc content" ng-controller="Experimental as ctrl">

    <form name="form" action="#" onsubmit="return false;">
        <input type="text" ng-model="value" form-validate>
        <select ng-model="value" form-validate>
            <option value="1">1</option>
        </select>
        <mob-input ng-required="true" ng-model="value" form-validate ></mob-input>
        <button type="submit">提交</button>

        {{form}}
    </form>

<!--        {{form}}-->
<!--    </form>-->

{{$id}}
<!--    <drop-down>-->
<!--        <button ng-click="click()">测试</button>-->
<!--    </drop-down>-->

<!--    <drop-down>-->
<!--            <button ng-click="click()" slot="one">测试</button>-->
<!--    </drop-down>-->


    <mob-input style="display:block;width: 400px;">

        <mob-input style="display:block;width: 400px;" slot="prepend">
            <button ng-click="click()"  slot="prepend">测试</button>
        </mob-input>
<!--        <button ng-click="click()"  slot="prepend">测试</button>-->
    </mob-input>
</section>
