<div class="mob-input__number is_prepend_slot is_append_slot">

    <div class="mob-input_prepend mob-input__slot" ng-click="$ctrl.decrease()">
        <slot name="prepend" ng-show="$slot.slotSet.has('prepend')"></slot>
        <mob-icon-decrease  ng-if="!$slot.slotSet.has('prepend')"></mob-icon-decrease>
    </div>

    <div class="mob-input__wrapper">
        <label for="{{'input_number' + $id}}"></label>
        <input id="{{'input_number' + $id}}"
               ng-if="!$ctrl.showPassword"
               type="number"
               autocomplete="off"
               placeholder="{{$ctrl.placeholder}}"
               class="mob-input__inner"
               ng-model="$ctrl.ngModel"
               ng-disabled="$ctrl.ngDisabled"
               ng-change="$ctrl.changeHandle()"
               ng-blur="$ctrl.blurHandle()"
        >
    </div>

    <div class="mob-input_append  mob-input__slot" ng-click="$ctrl.increase()">
        <slot name="append" ng-show="$slot.slotSet.has('append')"></slot>
        <mob-icon-increase  ng-if="!$slot.slotSet.has('append')"></mob-icon-increase>
    </div>

</div>
