<div class="mob-select"
     popper
     ng-class="{
     'mob-select--suffix':$ctrl.options.clearable,
     'is_disabled':$ctrl.ngDisabled,
     'is_multiple':$ctrl.multiple
     }"
     >
    <div class="mob-select__wrapper mob_popper__target" focus-in-out ng-class="{'mob-select__wrapper__clearable':$ctrl.options.clearable}" ng-click="$ctrl.clickHandler()">

        <!-- 展示区域 -->
        <div class="mob-select__selection" >
            <div class="mob-select__selected-item mob-select__input-wrapper is-hidden">
                <input readonly type="text" autocomplete="off" placeholder="{{$ctrl.placeHolder}}" class="mob-input__inner" ng-model="$ctrl.model">
            </div>
            <div class="mob-select__selected-item mob-select-placeholder" ng-if="!$ctrl.multiple || $ctrl.multiple && (!$ctrl.ngModel || $ctrl.ngModel.length == 0)">
                <span class="mob-unselect-text" ng-bind="$ctrl.placeHolder"></span>
            </div>
            <!-- 多选select -->
            <!-- 合并 -->
            <div class="mob-select__selected-item__collapse-contain" ng-if="$ctrl.multiple && $ctrl.ngModel.length > 0 && !$ctrl.collapseTag" >
                <div class="mob-select__selected-item__collapse"  ng-repeat="item in ngModelCache">
                    <span ng-bind="item.label"></span>
                    <mob-icon-close class="mob-icon__close" ng-click="$ctrl.collapseRemove($event, item)"></mob-icon-close>
                </div>

            </div>
            <!-- 合并，无工具箱 -->
            <div class="mob-select__selected-item__collapse-contain" ng-if="$ctrl.isCollapseTagsNoTooltip()" >
                <!-- 首个tag -->
                <div class="mob-select__selected-item__collapse" >
                    <span ng-bind="ngModelCache[0].label"></span>
                    <mob-icon-close class="mob-icon__close" ng-click="$ctrl.collapseRemove($event,ngModelCache[0])"></mob-icon-close>
                </div>
                <!-- 未展示tags的数量 -->
                <div class="mob-select__selected-item__collapse" ng-if="$ctrl.isCollapseTagsHasRedundant()">
                    <span ng-bind="'+' + (ngModelCache.length - 1)"></span>
                </div>
            </div>

            <!-- 合并，有工具箱 -->
            <div class="mob-select__selected-item__collapse-contain" ng-if="$ctrl.isCollapseTagsHasTooltip()" >
                <!-- 首个tag -->
                <div class="mob-select__selected-item__collapse" >
                    <span ng-bind="ngModelCache[0].label"></span>
                    <mob-icon-close class="mob-icon__close" ng-click="$ctrl.collapseRemove($event,ngModelCache[0])"></mob-icon-close>
                </div>
                <!-- 未展示tags的数量 -->
                <div class="mob-select__selected-item__collapse" ng-if="$ctrl.isCollapseTagsHasRedundant()">
                    <span ng-bind="'+' + (ngModelCache.length - 1)"></span>
                </div>
                <!-- 未展示的tags -->
                <!--                <div class="mob-select__selected-item__collapse__tooltip">-->
                <!--                    <div class="mob-select__selected-item__collapse"  ng-repeat="item in ngModelCache" ng-if="!$first">-->
                <!--                        <span ng-bind="item.label"></span>-->
                <!--                        <mob-icon-close class="mob-icon__close" ng-click="$ctrl.collapseRemove($event, item)"></mob-icon-close>-->
                <!--                    </div>-->
                <!--                </div>-->
            </div>

        </div>


        <!-- 右侧的ICON -->
        <div class="mob-select__suffix" >
            <span class="mob-select__suffix-inner" ng-class="{'is_hide_able':$ctrl.showClear()}">
                <mob-icon-down-arrow  class="mob-icon__down-arrow" ng-class="{'is_popper':popperShow}"></mob-icon-down-arrow>
            </span>
            <span class="mob-select__suffix-inner mob-icon__clean" ng-if="$ctrl.showClear()">
                <mob-icon-circle-close ng-class="{'is_popper':popperShow}" ng-click="$ctrl.clean()"></mob-icon-circle-close>
            </span>
        </div>
    </div>


    <div class="mob-popper">
        <div class="mob-popper__wrapper">
            <span class="mob-popper__arrow"></span>
            <div class="mob-popper__inner">
                <div ng-transclude></div>
            </div>
        </div>
    </div>



</div>
