<div class="mob-select-dropdown" ng-class="{'mob-select--suffix':$ctrl.options.clearable}">
    <!-- <div ng-transclude>

    </div> -->

    <div class="mob-select__wrapper" ng-class="{'mob-select__wrapper__clearable':$ctrl.options.clearable}" ng-click="$ctrl.clickHandler()">

        <!-- 展示区域 -->
        <div class="mob-select__selection" >
            <div class="mob-select__selected-item mob-select__input-wrapper">
                <input readonly type="text" autocomplete="off" placeholder="请输入输入内容" class="mob-input__inner" ng-model="$ctrl.ngModel">
            </div>
            <div class="mob-select__selected-item mob-select-placeholder">
                <span class="mob-unselect-text">{{$ctrl.placeHolder}}</span>
            </div>
        </div>


        <!-- 右侧的ICON -->
        <div class="mob-select__suffix" >
            <span class="mob-select__suffix-inner">
                <mob-icon class="mob-icon__down-arrow" ng-class="{'is_hiddenable':$ctrl.options.clearable && $ctrl.model.length > 0}">
                    <mob-icon-down-arrow></mob-icon-down-arrow>
                </mob-icon>

                <mob-icon class="mob-icon__clean is_hidden" ng-if="$ctrl.options.clearable && $ctrl.model.length > 0" ng-click="$ctrl.cleanHandler($event)">
                    <mob-icon-circle-close></mob-icon-circle-close>
                </mob-icon>
            </span>
        </div>
    </div>

    <div class="mob-select-popper" ng-class="{'is_hidden':hidden}">
        <div class="mob-select-dropdown">
            <div class="mob-scrollbar mob-select-dropdown__wrapper">
                <div class="mob-select--dropdown__inner">
                    <div class="mob-select-option__wrapper">
                        <div class="mob-select-option__suffix" ng-class="{'is_select':$ctrl.model === option.value}" ng-click="$ctrl.optionClickHandler(option)" ng-repeat="option in $ctrl.options.dataDic  track by $index">
                            <div class="mob-select-option__inner">{{option.label}}</div>
                        </div>
                    </div>
                </div>
                <span class="mob-popper_arrow"></span>
            </div>
        </div>
    </div>


</div>
