<div
    class="mob-radio"
    ng-class="{
        'is_disabled':$ctrl.ngDisabled,
        'is_border':$ctrl.border
    }"
    ng-click="$ctrl.clickHandle()">
    <label for="#" class="mob-radio__wrapper">
        <span class="mob-radio__inner">
            <input type="radio" autocomplete="off" name="{{$attrs.name}}" class="mob-radio__original" ng-disabled="$ctrl.ngDisabled" ng-value="$ctrl.value" ng-model="$ctrl.ngModel">
            <span class="mob-radio__circ"></span>
        </span>
        <span class="mob-radio__label mob-unselect-text" ng-bind="$ctrl.label"></span>
    </label>
</div>
