<div class="mob-select" ng-class="{'mob-select--suffix':$ctrl.options.clearable,'is_disabled':$ctrl.ngDisabled}" popper>
    <!-- <div ng-transclude>

    </div> -->

    <div class="mob-select__wrapper mob_popper__target" focus-in-out ng-class="{'mob-select__wrapper__clearable':$ctrl.options.clearable}" ng-click="$ctrl.clickHandler()">

        <!-- 展示区域 -->
        <div class="mob-select__selection" >
            <div class="mob-select__selected-item mob-select__input-wrapper is-hidden">
                <input readonly type="text" autocomplete="off" placeholder="{{$ctrl.placeHolder}}" class="mob-input__inner" ng-model="$ctrl.model">
            </div>
            <div class="mob-select__selected-item mob-select-placeholder">
                <span class="mob-unselect-text" ng-bind="$ctrl.placeHolder"></span>
            </div>
        </div>


        <!-- 右侧的ICON -->
        <div class="mob-select__suffix" >
            <span class="mob-select__suffix-inner">
                <mob-icon-down-arrow  class="mob-icon__down-arrow" ng-class="{'is_popper':popperShow}"></mob-icon-down-arrow>
            </span>
        </div>
    </div>


    <div class="mob-popper">
        <div class="mob-popper__wrapper">
            <span class="mob-popper__arrow"></span>
            <div class="mob-popper__inner">
                <div ng-transclude></div>
            </div>
        </div>
    </div>



</div>
