<!-- maxLength:'<',
minLength:'<',
showWordLimit:'<',
placeholder:'<',
clearable:'<' -->
<div class="mob-input" ng-class="{
    'is_clearable':$attrs.clearable,
    'is_disabled':$attrs.disabled,
    'is_showPassword':$attrs.showPassword,
    'is_append_slot':$slot.slotSet.has('append'),
    'is_prepend_slot':$slot.slotSet.has('prepend')
}">

    <div class="mob-input_prepend" ng-class="{'is_hidden':!$slot.slotSet.has('prepend')}">
        <slot name="prepend"></slot>
    </div>

    <div class="mob-input__wrapper">
        <span class="mob-input__prefix">
            <span class="mob-input__prefix-inner">
                <slot name="prefixIcon"></slot>
            </span>
        </span>

        <input ng-if="!$attrs.showPassword"
               type="text"
               autocomplete="off"
               placeholder="请输入输入内容"
               class="mob-input__inner"
               ng-model="$ctrl.ngModel"
               ng-disabled="$attrs.disabled"
               maxlength="{{$attrs.maxLength}}"
               ng-maxlength="$attrs.maxLength"
        >
        <input ng-if="$attrs.showPassword" type="password" autocomplete="off" placeholder="请输入输入内容"
               class="mob-input__inner" ng-model="$ctrl.ngModel.$modelValue" ng-disabled="$attrs.disabled">

        <span class="mob-input__suffix">
            <span class="mob-input__suffix-inner">

                <mob-icon-circle-close class="mob-input_clear"
                                       ng-if="$ctrl.showClear()"
                                       ng-click="$ctrl.clean()"></mob-icon-circle-close>

                <mob-icon-visible class="mob-input_access_visible"
                                          ng-if="$ctrl.showValueAccessVisible()"
                                          ng-click="$ctrl.visibleClickHandle()"></mob-icon-visible>

                <mob-icon-invisible class="mob-input_invisible"
                                            ng-if="$ctrl.showValueInVisible()"
                                            ng-click="$ctrl.visibleClickHandle()"></mob-icon-invisible>

                <slot name="suffixIcon"></slot>

                <span class="mob-input-count" ng-if="$ctrl.showWordCount()">
                    <span class="mob-input-count-inner"
                          ng-bind="($ctrl.ngModel || '').length + '/' + $attrs.maxLength"></span>
                </span>
            </span>
        </span>
    </div>

    <div class="mob-input_append" ng-class="{'is_hidden':!$slot.slotSet.has('append')}">
        <slot name="append"></slot>
    </div>

</div>
