<div
        class="mob-tree"
        ng-class="{
        'is_disabled':$ctrl.ngDisabled,
    }"
        refs="$ctrl.ngRef"
        ng-click="$ctrl.clickHandle()">
    <mob-tree-node ng-repeat="node in $ctrl.nodeList"
                   data="node"
                   node-key="$ctrl.nodeKey"
                   expand-on-click-node="$ctrl.expandOnClickNode"
                   check-on-click-node="$ctrl.checkOnClickNode"
                   show-checkbox="node.showCheckbox"
                   allow-check="node.allowCheck"
                   props="$ctrl.props"
    >
</div>
