<div
    class="mob-tree"
    ng-class="{
        'is_disabled':$ctrl.ngDisabled,
    }"
    ng-click="$ctrl.clickHandle()">
<!--    {{$ctrl.data}}-->
<!--    <p>&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</p>-->
<!--    {{$ctrl.nodeList}}-->
    <mob-tree-node ng-repeat="node in $ctrl.nodeList"
                   data="node"
                   node-key="$ctrl.nodeKey"
                   expand-on-click-node="$ctrl.expandOnClickNode"
                   check-on-click-node="$ctrl.checkOnClickNode"
                   show-checkbox="$ctrl.showCheckbox"
                   props="$ctrl.props"
<!--                   ng-model="$ctrl.ngModel"-->
                   layer="0"
    >
</div>
