<div class="mob-date-time-picker"
     ng-class="{
        'is-disabled': $ctrl.disabled,
        'is-range': $ctrl.isRange(),
        'mob-date-time-picker--large': $ctrl.size === 'large',
        'mob-date-time-picker--small': $ctrl.size === 'small'
     }">
    <div class="mob-input"
         ng-class="{'is_clearable': $ctrl.clearable, 'is_disabled': $ctrl.disabled}">
        <div class="mob-input__wrapper mob-date-time-picker-wrapper mob_popper__target"
             popper-group="mobDateTimePicker">
            <span class="mob-input__prefix">
                <span class="mob-input__prefix-inner">
                    <mob-icon-calendar class="icon"></mob-icon-calendar>
                </span>
            </span>

            <!-- 单点 -->
            <input ng-if="!$ctrl.isRange()"
                   type="text"
                   autocomplete="off"
                   class="mob-input__inner custom"
                   ng-readonly="!$ctrl.editable || $ctrl.disabled"
                   ng-model="$ctrl.displayText"
                   ng-model-options="{updateOn: 'default blur', debounce: {default: 0, blur: 0}}"
                   placeholder="{{$ctrl.placeholder}}"
                   ng-disabled="$ctrl.disabled"
                   ng-focus="$ctrl.onInputFocus()"
                   ng-blur="$ctrl.onInputBlur()"
                   ng-keydown="$ctrl.onInputKeydown($event)"/>

            <!-- range -->
            <span ng-if="$ctrl.isRange()" class="mob-date-time-picker__range-inputs">
                <input type="text"
                       readonly
                       autocomplete="off"
                       class="mob-input__inner custom"
                       ng-value="$ctrl.displayStart"
                       placeholder="{{$ctrl.placeholder}}"
                       ng-disabled="$ctrl.disabled"
                       ng-focus="$ctrl.onInputFocus()"
                       ng-blur="$ctrl.onInputBlur()"/>
                <span class="mob-date-time-picker__range-separator" ng-bind="$ctrl.rangeSeparator"></span>
                <input type="text"
                       readonly
                       autocomplete="off"
                       class="mob-input__inner custom"
                       ng-value="$ctrl.displayEnd"
                       placeholder="{{$ctrl.placeholder}}"
                       ng-disabled="$ctrl.disabled"
                       ng-focus="$ctrl.onInputFocus()"
                       ng-blur="$ctrl.onInputBlur()"/>
            </span>

            <span class="mob-input__suffix" ng-if="$ctrl.showClear()" ng-click="$ctrl.clearModel($event)">
                <span class="mob-input__suffix-inner">
                    <mob-icon-circle-close class="mob-input_clear"></mob-icon-circle-close>
                </span>
            </span>
        </div>
    </div>
</div>
