<div class="mob-drawer" style="opacity: 0" ng-class="{
    'mob-drawer--open': $ctrl.model,
    'mob-drawer--rtl': !$ctrl.direction || $ctrl.direction === 'rtl',
    'mob-drawer--ltr': $ctrl.direction === 'ltr',
    'mob-drawer--ttb': $ctrl.direction === 'ttb',
    'mob-drawer--btt': $ctrl.direction === 'btt'
}" ng-style="{'z-index': $ctrl.zIndex}">

    <div class="mob-drawer__overlay"
         ng-if="$ctrl.model"
         ng-click="$ctrl.closeOverlay()">
    </div>
    <!--    content-->
    <div class="mob-drawer__wrapper"
         ng-style="$ctrl.getWrapperStyle()">

        <!-- Header -->
        <div class="mob-drawer__header" ng-transclude="title">
        </div>

        <!-- Body -->
        <div class="mob-drawer__body" ng-transclude="body">
        </div>

        <!-- Footer -->
        <div class="mob-drawer__footer" ng-transclude="footer">
        </div>
    </div>
</div>