<div class="mob-drawer" ng-class="{
    'mob-drawer--open': $ctrl.model,
    'mob-drawer--rtl': !$ctrl.direction || $ctrl.direction === 'rtl',
    'mob-drawer--ltr': $ctrl.direction === 'ltr',
    'mob-drawer--ttb': $ctrl.direction === 'ttb',
    'mob-drawer--btt': $ctrl.direction === 'btt'
}">
    <!-- Overlay -->
    <div class="mob-drawer__overlay"
         ng-if="$ctrl.model && $ctrl.withHeader"
         ng-click="$ctrl.closeOverlay()">
    </div>
    <!-- Drawer Content -->
    <div class="mob-drawer__wrapper"
         ng-style="$ctrl.getWrapperStyle()"
         ng-class="{
             'mob-drawer__wrapper--with-header': $ctrl.withHeader,
             'mob-drawer__wrapper--with-footer': $ctrl.withFooter
         }">

        <!-- Header -->
        <div class="mob-drawer__header" ng-if="$ctrl.withHeader">
            <div class="mob-drawer__title">
                <span ng-if="$ctrl.title">{{ $ctrl.title }}</span>
                <div ng-transclude="title"></div>
            </div>
            <button class="mob-drawer__close-btn"
                    ng-if="$ctrl.showClose"
                    ng-click="$ctrl.close()"
                    type="button">
                <i class="mob-icon-close"></i>
            </button>
        </div>

        <!-- Body -->
        <div class="mob-drawer__body">
            <div ng-transclude="body"></div>
        </div>

        <!-- Footer -->
        <div class="mob-drawer__footer" ng-if="$ctrl.withFooter">
            <div ng-transclude="footer"></div>
        </div>
    </div>
</div>
