<div class="demo-container" ng-controller="MessageBoxCtrl as ctrl">
    <h2>MessageBox 消息弹出层</h2>
    <p>模拟系统的消息提示框而实现的一套模态对话框组件，用于消息提示、确认消息和提交内容。</p>


    <div class="mob-doc content">
        <h3>消息提示</h3>
        <p>当用户进行操作时会被触发，该对话框中断用户操作，直到用户确认知晓后才可关闭。</p>
        <p>调用 ElMessageBox.alert 方法以打开 alert 框。 它模拟了系统的 alert，无法通过按下 ESC 或点击框外关闭。 此例中接收了两个参数，message和title。 值得一提的是，窗口被关闭后，它默认会返回一个Promise对象便于进行后续操作的处理。 若不确定浏览器是否支持Promise，可自行引入第三方 polyfill 或像本例一样使用回调进行后续处理。</p>
        <div class="mob-demo-block">
            <div class="mob-demo-example">

                <mob-button type="primary" ng-click="ctrl.showAlert()">打开 Alert</mob-button>
            </div>
            <div class="meta">
                <div class="mob-demo-example">
                    可以直接通过 <code>ng-model</code> 进行双向数据绑定
                </div>
                <pre prism>
                        <code class="source-code language-markup language-js language-html language-css"
                        ><!--
                            <mob-input style="display:block;width: 250px;" ng-model="value"></mob-input>
                            值：<span ng-bind="value"></span>
                        --></code>
                    </pre>
            </div>
        </div>

        <h3>确认消息</h3>
        <p>提示用户确认其已经触发的动作，并询问是否进行此操作时会用到此对话框。</p>
        <div class="mob-demo-block">
            <div class="mob-demo-example">
                <mob-button type="primary" ng-click="ctrl.showConfirm()">打开 Confirm</mob-button>
            </div>
            <div class="meta">
                <div class="mob-demo-example">
                    可以直接通过 <code>ng-model</code> 进行双向数据绑定
                </div>
                <pre prism>
                        <code class="source-code language-markup language-js language-html language-css"
                        ><!--
                            <mob-input style="display:block;width: 250px;" ng-model="value"></mob-input>
                            值：<span ng-bind="value"></span>
                        --></code>
                    </pre>
            </div>
        </div>

        <h3>提交内容</h3>
        <p>当需要用户输入内容时，可以使用 Prompt 类型的消息框。</p>
        <div class="mob-demo-block">
            <div class="mob-demo-example">
                <mob-button type="primary" ng-click="ctrl.showPrompt()">打开 Prompt</mob-button>
            </div>
            <div class="meta">
                <div class="mob-demo-example">
                    可以直接通过 <code>ng-model</code> 进行双向数据绑定
                </div>
                <pre prism>
                        <code class="source-code language-markup language-js language-html language-css"
                        ><!--
                            <mob-input style="display:block;width: 250px;" ng-model="value"></mob-input>
                            值：<span ng-bind="value"></span>
                        --></code>
                    </pre>
            </div>
        </div>
    </div>

</div>
