<section class="mob-doc content ignore" ng-controller="TreeSelectCtrl as ctrl">

    <h2>Tree Select 选择器</h2>

    <div class="mob-doc content" style="position: relative">


        <h3>基础用法</h3>
        <div class="mob-demo-block">
            <div class="mob-demo-example">
                <div class="mob-demo-example-child">
                    <mob-tree-select style="width: 200px;" ng-model="demoValue"
                                     check-on-click-node
                                     options="treeSelect.optionsBase" node-key="'value'"
                                     show-checkbox></mob-tree-select>
                </div>
            </div>
            <div class="meta">
                        <pre prism>
                                <code class="source-code language-markup language-js language-html language-css"
                                ><!--
                                    <html>
                                        <mob-select style="width: 200px; margin-top: 20px" ng-model="value" options="select.optionsBase"></mob-select>
                                    </html>
                                    <script>
                                            this.optionsBase = [
                                                {label: '香港', value: '香港'},
                                                {label: '澳门', value: '澳门'},
                                                {label: '北京', value: '北京'},
                                                {label: '上海', value: '上海'},
                                                {label: '深圳'},
                                            ]
                                    </script>
                                --></code>
                            </pre>
            </div>
        </div>


        <h3>多选</h3>
        <div class="mob-demo-block">
            <div class="mob-demo-example">
                <p>{{value}}</p>
                <div class="mob-demo-example-child">
                    <mob-tree-select style="width: 200px;" multiple="true" ng-model="value"
                                     node-click="nodeClick(opt)" node-collapse="nodeCollapse(opt)"
                                     node-expand="nodeExpand(opt)"
                                     options="treeSelect.optionsBase" node-key="'value'"
                                     show-checkbox="true"></mob-tree-select>

                </div>
                <div class="mob-demo-example-child">
                    <mob-tree-select style="width: 200px;" multiple="true" ng-model="value"
                                     lazy
                                     node-click="nodeClick(opt)" node-collapse="nodeCollapse(opt)"
                                     node-expand="nodeExpand(opt)"
                                     options="treeSelect.optionsBase" collapse-tag node-key="'value'"
                                     show-checkbox="true"></mob-tree-select>

                </div>
                <div class="mob-demo-example-child">
                    <mob-tree-select style="width: 200px;" multiple="true" ng-model="value"
                                     node-click="nodeClick(opt)" node-collapse="nodeCollapse(opt)"
                                     node-expand="nodeExpand(opt)"
                                     options="treeSelect.optionsBase" collapse-tag collapse-tag-tooltip
                                     check-on-click-node
                                     node-key="'value'" show-checkbox></mob-tree-select>

                </div>
            </div>
            <div class="meta">
                <pre prism>
                        <code class="source-code language-markup language-js language-html language-css"
                        ><!--
                            <html>
                                <mob-tree-select style="width: 200px;" multiple="true" ng-model="value"
                                                 options="treeSelect.optionsBase" node-key="'value'"
                                                 show-checkbox="true"></mob-tree-select>

                                <mob-tree-select style="width: 200px;" multiple="true" ng-model="value"
                                                 options="treeSelect.optionsBase" collapse-tag node-key="'value'"
                                                 show-checkbox="true"></mob-tree-select>

                                <mob-tree-select style="width: 200px;" multiple="true" ng-model="value"
                                                 options="treeSelect.optionsBase" collapse-tag collapse-tag-tooltip
                                                 node-key="'value'" show-checkbox></mob-tree-select>

                            </html>
                            <script>
                                     this.optionsBase = [
                                        {
                                            label: "Level one 1",
                                            value: '1',
                                            children: [
                                                {
                                                    label: "Level tow 1-1",
                                                    value: '1-1',
                                                },
                                                {
                                                    label: "Level tow 1-2",
                                                    value: '1-2',
                                                }
                                            ]
                                        },
                                        {
                                            label: "Level one 2",
                                            value: '2',

                                            children: [
                                                {
                                                    label: "Level tow 2-1",
                                                    value: '2-1',
                                                },
                                                {
                                                    label: "Level tow 2-2",
                                                    value: '2-2',

                                                    children: [
                                                        {
                                                            label: "Level three 2-2-1",
                                                            value: '2-2-1',
                                                        },
                                                        {
                                                            label: "Level three 2-2-2",
                                                            value: '2-2-2',
                                                            children: [
                                                                {
                                                                    label: "Level four 2-2-2-1",
                                                                    value: '2-2-2-1',
                                                                },
                                                                {
                                                                    label: "Level four 2-2-2-2",
                                                                    value: '2-2-2-2',
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ]
                                        },
                                        {
                                            label: "Level one 3",
                                            value: '3',
                                        }
                                    ]
                            </script>
                        --></code>
                    </pre>
            </div>
        </div>
    </div>
</section>
