<div class="mob-date-picker-pane"
     ng-class="{
        'is-disabled': $ctrl.isPaneDisabled(),
        'date': $ctrl.panelView === 'date',
        'month': $ctrl.panelView === 'month',
        'year': $ctrl.panelView === 'year',
        'has-week-number': $ctrl.shouldShowWeekNumber() && $ctrl.panelView === 'date',
        'is-range-highlight': $ctrl.rangeHighlight
     }"
     ng-mouseleave="$ctrl.onPanelMouseLeave()">

    <!-- ========== 日 / 周面板 ========== -->
    <div ng-if="$ctrl.panelView === 'date'">
        <div class="mob-date-picker__header">
            <div class="mob-date-picker__header__container">
                <div class="mob-date-picker__header-btns">
                    <mob-icon-double-arrow-left class="btn"
                                                ng-class="{'is-disabled': $ctrl.isPrevYearNavDisabled()}"
                                                ng-click="$ctrl.goPrevYear()"></mob-icon-double-arrow-left>
                    <mob-icon-arrow-left class="btn"
                                         ng-class="{'is-disabled': $ctrl.isPrevMonthNavDisabled()}"
                                         ng-click="$ctrl.goPrevMonth()"></mob-icon-arrow-left>
                </div>
                <div class="mob-date-picker__header_title">
                    <span ng-bind="$ctrl.headerYearText" ng-click="$ctrl.openYearPanel()"></span>
                    <span ng-bind="$ctrl.headerMonthText" ng-click="$ctrl.openMonthPanel()"></span>
                </div>
                <div class="mob-date-picker__header-btns">
                    <mob-icon-arrow-right class="btn"
                                          ng-class="{'is-disabled': $ctrl.isNextMonthNavDisabled()}"
                                          ng-click="$ctrl.goNextMonth()"></mob-icon-arrow-right>
                    <mob-icon-double-arrow-right class="btn"
                                                 ng-class="{'is-disabled': $ctrl.isNextYearNavDisabled()}"
                                                 ng-click="$ctrl.goNextYear()"></mob-icon-double-arrow-right>
                </div>
            </div>
        </div>

        <div class="mob-date-picker__body">
            <div class="mob-date-picker__body_header mob-date-picker__calendar-row">
                <div class="mob-date-picker__week-number" ng-if="$ctrl.shouldShowWeekNumber()">
                    <span></span>
                </div>
                <div ng-repeat="label in $ctrl.weekdayLabels track by $index">
                    <span ng-bind="label"></span>
                </div>
            </div>

            <div class="mob-date-picker__body_container">
                <div class="mob-date-picker__calendar-row"
                     ng-repeat="row in $ctrl.weekRows track by $index"
                     ng-class="{'is-week-selected': row.selected, 'is-week-disabled': row.disabled}">
                    <div class="mob-date-picker__week-number"
                         ng-if="$ctrl.shouldShowWeekNumber()"
                         ng-click="$ctrl.onClickWeekNumber(row)">
                        <span ng-bind="row.weekNumber"></span>
                    </div>
                    <div ng-repeat="cell in row.days track by $index"
                         ng-class="[cell.customClass, {
                            'current': cell.isToday,
                            'notCurrentMonth': cell.isOtherMonth,
                            'selected': cell.selected || cell.inSelectedWeek,
                            'disabled': cell.disabled,
                            'range-start': cell.isRangeStart,
                            'range-end': cell.isRangeEnd,
                            'in-range': cell.isInRange
                         }]"
                         ng-click="$ctrl.onClickDay(cell)"
                         ng-mouseenter="$ctrl.onCellMouseEnter(cell)">
                        <span ng-bind="cell.text"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ========== 月面板 ========== -->
    <div ng-if="$ctrl.panelView === 'month'">
        <div class="mob-date-picker__header">
            <div class="mob-date-picker__header__container">
                <div class="mob-date-picker__header-btns">
                    <mob-icon-double-arrow-left class="btn"
                                                ng-class="{'is-disabled': $ctrl.isPrevYearNavDisabled()}"
                                                ng-click="$ctrl.goPrevYear()"></mob-icon-double-arrow-left>
                </div>
                <div class="mob-date-picker__header_title">
                    <span ng-bind="$ctrl.headerYearText" ng-click="$ctrl.openYearPanel()"></span>
                </div>
                <div class="mob-date-picker__header-btns">
                    <mob-icon-double-arrow-right class="btn"
                                                 ng-class="{'is-disabled': $ctrl.isNextYearNavDisabled()}"
                                                 ng-click="$ctrl.goNextYear()"></mob-icon-double-arrow-right>
                </div>
            </div>
        </div>
        <div class="mob-date-picker__body">
            <div class="mob-date-picker__body_container">
                <div class="mob-date-picker__calendar-row month-grid">
                    <div ng-repeat="cell in $ctrl.monthCells track by cell.month"
                         ng-class="[cell.customClass, {
                            'current': cell.isCurrentMonth,
                            'selected': cell.selected,
                            'disabled': cell.disabled,
                            'range-start': cell.isRangeStart,
                            'range-end': cell.isRangeEnd,
                            'in-range': cell.isInRange
                         }]"
                         ng-click="$ctrl.onClickMonth(cell)"
                         ng-mouseenter="$ctrl.onCellMouseEnter(cell)">
                        <span ng-bind="cell.text"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ========== 年面板 ========== -->
    <div ng-if="$ctrl.panelView === 'year'">
        <div class="mob-date-picker__header">
            <div class="mob-date-picker__header__container">
                <div class="mob-date-picker__header-btns">
                    <mob-icon-double-arrow-left class="btn"
                                                ng-class="{'is-disabled': $ctrl.isPrevYearNavDisabled()}"
                                                ng-click="$ctrl.goPrevYear()"></mob-icon-double-arrow-left>
                </div>
                <div class="mob-date-picker__header_title">
                    <span ng-bind="$ctrl.headerYearRangeText"></span>
                </div>
                <div class="mob-date-picker__header-btns">
                    <mob-icon-double-arrow-right class="btn"
                                                 ng-class="{'is-disabled': $ctrl.isNextYearNavDisabled()}"
                                                 ng-click="$ctrl.goNextYear()"></mob-icon-double-arrow-right>
                </div>
            </div>
        </div>
        <div class="mob-date-picker__body">
            <div class="mob-date-picker__body_container">
                <div class="mob-date-picker__calendar-row year-grid">
                    <div ng-repeat="cell in $ctrl.yearCells track by cell.year"
                         ng-class="[cell.customClass, {
                            'current': cell.isCurrentYear,
                            'selected': cell.selected,
                            'disabled': cell.disabled,
                            'range-start': cell.isRangeStart,
                            'range-end': cell.isRangeEnd,
                            'in-range': cell.isInRange
                         }]"
                         ng-click="$ctrl.onClickYear(cell)"
                         ng-mouseenter="$ctrl.onCellMouseEnter(cell)">
                        <span ng-bind="cell.text"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
