/* Date Picker 日期选择器 */
mob-date-picker-pane {
    display: block;
    width: 320px;
    user-select: none;
    color: var(--mob-regular-text-color);
    --mob-date-picker-pane-date-op-width:42px;
    --mob-date-picker-pane-date-column: repeat(7, var(--mob-date-picker-pane-date-op-width));
    --mob-date-picker-pane-year-op-width:73.5px;
    --mob-date-picker-pane-year-column: repeat(4, var(--mob-date-picker-pane-year-op-width));
}

mob-date-picker-pane .mob-date-picker__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

mob-date-picker-pane .mob-date-picker__header div {
    display: flex;
    align-items: center;
}

mob-date-picker-pane .mob-date-picker__header .mob-date-picker__header_title {
    flex: 1;
}

mob-date-picker-pane .mob-date-picker__header .mob-date-picker__header_title span {
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

mob-date-picker-pane .mob-date-picker__header .mob-date-picker__header_title span:hover {
    color: var(--mob-primary-color);
}

mob-date-picker-pane .mob-date-picker__header div .btn {
    cursor: pointer;
}

mob-date-picker-pane .mob-date-picker__header div .btn:hover {
    color: var(--mob-primary-color);
}

mob-date-picker-pane .mob-date-picker__body .mob-date-picker__body_header {
    font-size: 16px;
    font-weight: 600;
}
mob-date-picker-pane .mob-date-picker__body .mob-date-picker__body_header span{
    display: block;
    text-align: center;
}

mob-date-picker-pane .mob-date-picker__calendar-row span {
    display: block;
}

mob-date-picker-pane .mob-date-picker__calendar-row span:hover {
    color: var(--mob-primary-color);
    cursor: pointer;
}

mob-date-picker-pane .mob-date-picker__calendar-row .current:not(.notCurrentMonth) {
    color: var(--mob-primary-color)
}

mob-date-picker-pane .mob-date-picker-pane .mob-date-picker__calendar-row {
    row-gap: 5px;
}
mob-date-picker-pane .mob-date-picker__calendar-row .potential:not(.notCurrentMonth) {
    background-color:var(--mob-extra-lighter-border-color);
}

mob-date-picker-pane .mob-date-picker__calendar-row .potential:not(.notCurrentMonth) {
    background-color: var(--mob-extra-lighter-border-color);
    border-radius: 50%;
}

mob-date-picker-pane .mob-date-picker__calendar-row .potential + .potential {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

mob-date-picker-pane .mob-date-picker__calendar-row .potential:has(+ .potential) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

mob-date-picker-pane .mob-date-picker__calendar-row .selected:not(.notCurrentMonth) span {
    background-color:var(--mob-primary-color);
    color: var(--mob-info-light-color9)
}

/*===================*/
/*date-pane*/
/*===================*/

mob-date-picker-pane .mob-date-picker-pane.date .mob-date-picker__header .mob-date-picker__header__container {
    width: calc(var(--mob-date-picker-pane-date-op-width) * 7);
    margin: 0 auto;
}

mob-date-picker-pane .mob-date-picker-pane.date .mob-date-picker__header  .mob-date-picker__header_title span:first-child {
    margin-left: auto;
    margin-right: 10px;
}


mob-date-picker-pane .mob-date-picker-pane.date .mob-date-picker__header  .mob-date-picker__header_title span:last-child {
    margin-right: auto;
    margin-left: 10px;
}

mob-date-picker-pane .mob-date-picker-pane.date .mob-date-picker__body_header {
    width: calc(7 * 42px);
    margin: 0 auto;
    display: grid;
    grid-template-columns: var(--mob-date-picker-pane-date-column);
}

mob-date-picker-pane .mob-date-picker-pane.date .mob-date-picker__calendar-row {
    width: calc(7 * 42px);
    display: grid;
    grid-template-columns: var(--mob-date-picker-pane-date-column);
    margin: 0 auto;
}

mob-date-picker-pane .mob-date-picker-pane.date .mob-date-picker__calendar-row div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 38px;
}

mob-date-picker-pane .mob-date-picker-pane.date .mob-date-picker__calendar-row span {
    /*width: 30px;*/
    height: 30px;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

mob-date-picker-pane .mob-date-picker-pane.date .mob-date-picker__calendar-row .notCurrentMonth {
    color: var(--mob-secondary-text-color)
}

/*===================*/
/*year-pane*/
/*===================*/

mob-date-picker-pane .mob-date-picker-pane.year .mob-date-picker__header .mob-date-picker__header__container {
    width: calc(var(--mob-date-picker-pane-year-op-width) * 7);
    margin: 0 auto;
}
mob-date-picker-pane .mob-date-picker-pane.year .mob-date-picker__header  .mob-date-picker__header_title span {
    text-align: center;
    flex: 1;
}

mob-date-picker-pane .mob-date-picker-pane.year .mob-date-picker__calendar-row {
    width: calc(7 * 42px);
    display: grid;
    grid-template-columns: repeat(4, 73.5px);
    margin: 0 auto;
}

mob-date-picker-pane .mob-date-picker-pane.year .mob-date-picker__calendar-row span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
}


mob-date-picker-pane .mob-date-picker-pane.year .mob-date-picker__calendar-row div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 73.5px;
    height: 38px;
}
mob-date-picker-pane .mob-date-picker-pane.year .mob-date-picker__calendar-row span {
    width: 60px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
}

mob-date-picker-pane .mob-date-picker-pane.year .mob-date-picker__calendar-row .selected span {
    background-color: var(--mob-primary-color);
    color: var(--mob-info-light-color9);
}

/* yearRange 样式：potential 的 div 背景色，selected 的 span 背景色 */
mob-date-picker-pane .mob-date-picker-pane.year .mob-date-picker__calendar-row .potential {
    background-color: var(--mob-extra-lighter-border-color);
}

mob-date-picker-pane .mob-date-picker-pane.year .mob-date-picker__calendar-row .selected span {
    background-color: var(--mob-primary-color);
    color: var(--mob-info-light-color9);
}

/* 确保同时有 selected 和 potential 时，span 的主色背景优先 */
mob-date-picker-pane .mob-date-picker-pane.year .mob-date-picker__calendar-row .potential.selected span {
    background-color: var(--mob-primary-color);
    color: var(--mob-info-light-color9);
}
/*===================*/
/*month-pane*/
/*===================*/

mob-date-picker-pane .mob-date-picker-pane.month .mob-date-picker__header  .mob-date-picker__header_title span {
    text-align: center;
    flex: 1;
}
mob-date-picker-pane .mob-date-picker-pane.month .mob-date-picker__calendar-row {
    width: calc(7 * 42px);
    display: grid;
    grid-template-columns: repeat(4, 73.5px);
    margin: 0 auto;
}

mob-date-picker-pane .mob-date-picker-pane.month .mob-date-picker__calendar-row span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
}


mob-date-picker-pane .mob-date-picker-pane.month .mob-date-picker__calendar-row div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 73.5px;
    height: 38px;
}
mob-date-picker-pane .mob-date-picker-pane.month .mob-date-picker__calendar-row span {
    width: 60px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
}

mob-date-picker-pane .mob-date-picker-pane.month .mob-date-picker__calendar-row .selected span {
    background-color: var(--mob-primary-color);
    color: var(--mob-info-light-color9);
}

/* monthRange 样式：potential 的 div 背景色，selected 的 span 背景色 */
mob-date-picker-pane .mob-date-picker-pane.month .mob-date-picker__calendar-row .potential {
    background-color: var(--mob-extra-lighter-border-color);
}

mob-date-picker-pane .mob-date-picker-pane.month .mob-date-picker__calendar-row .selected span {
    background-color: var(--mob-primary-color);
    color: var(--mob-info-light-color9);
}

/* 确保同时有 selected 和 potential 时，span 的主色背景优先 */
mob-date-picker-pane .mob-date-picker-pane.month .mob-date-picker__calendar-row .potential.selected span {
    background-color: var(--mob-primary-color);
    color: var(--mob-info-light-color9);
}