<section class="mob-doc content ignore">

    <h2>Switch 开关</h2>

    <div class="mob-doc content" style="position: relative">


        <h3>基础用法</h3>
        <div class="mob-demo-block">
            <div class="mob-demo-example">
                <mob-switch style="width: 40px;" ng-model="value"></mob-switch>
            </div>
            <div class="meta">
                <pre prism>
                        <code class="source-code language-markup language-js language-html language-css"
                        ><!--
                            <mob-switch ng-model="value"></mob-switch>
                        --></code>
                    </pre>
            </div>
        </div>


        <h3>文字描述</h3>
        <div class="mob-demo-block">
            <div class="mob-demo-example">
                <div class="mob-demo-example-child">
                    <mob-switch active-text="demoTwo.activeText" inactive-text="demoTwo.inactiveText" ng-model="demoTwo.value" inactive-color="'#ff4949'"></mob-switch>
                </div>
                <div class="mob-demo-example-child">
                    <mob-switch active-text="demoThree.activeText" inactive-text="demoThree.inactiveText" ng-model="demoThree.value" inline-prompt="true" inactive-color="'#ff4949'"></mob-switch>
                </div>
                <div class="mob-demo-example-child">
                    <mob-switch active-text="demoFour.activeText" inactive-text="demoFour.inactiveText" inactive-color="demoFour.inactiveColor" ng-model="demoFour.value" inline-prompt="true"></mob-switch>
                </div>
                <div class="mob-demo-example-child">
                    <mob-switch style="width: 60px" active-text="'超出部分隐藏'" inactive-text="'超出部分隐藏'" inline-prompt="true" active-color="'#409EFF'" inactive-color="'#ff4949'" ></mob-switch>
                </div>
                <div class="mob-demo-example-child">
                    <mob-switch active-text="'完整展示多个内容'" inactive-text="'内容'" inline-prompt="true" active-color="'#409EFF'" inactive-color="'#ff4949'"></mob-switch>
                </div>
            </div>
            <div class="meta">
                <pre prism>
                        <code class="source-code language-markup language-js language-html language-css"
                        ><!--
                            <html>
                                    <mob-switch active-text="demoTwo.activeText" inactive-text="demoTwo.inactiveText" ng-model="demoTwo.value" inactive-color="'#ff4949'"></mob-switch>

                                    <mob-switch active-text="demoThree.activeText" inactive-text="demoThree.inactiveText" ng-model="demoThree.value" inline-prompt="true" inactive-color="'#ff4949'"></mob-switch>

                                    <mob-switch active-text="demoFour.activeText" inactive-text="demoFour.inactiveText" inactive-color="demoFour.inactiveColor" ng-model="demoFour.value" inline-prompt="true"></mob-switch>

                                    <mob-switch style="width: 60px" active-text="'超出部分隐藏'" inactive-text="'超出部分隐藏'" inline-prompt="true" active-color="'#13ce66'" inactive-color="'#ff4949'" ></mob-switch>

                                    <mob-switch active-text="'完整展示多个内容'" inactive-text="'内容'" inline-prompt="true" active-color="'#13ce66'" inactive-color="'#ff4949'"></mob-switch>

                            </html>

                            <script>
                                  $scope.demoTwo = {
                                    value:false,
                                    activeText:'包年',
                                    inactiveText:'包月',
                                }

                                $scope.demoThree = {
                                    value:false,
                                    activeText:'Y',
                                    inactiveText:'N',
                                }
                                $scope.demoFour = {
                                    value:false,
                                    activeText:'是',
                                    inactiveText:'否',
                                    inactiveColor:'#dcdfe6',
                                }
                            </script>
                        --></code>
                    </pre>
            </div>
        </div>


        <h3>Icon</h3>
        <div class="mob-demo-block">
            <div class="mob-demo-example">
                <div class="mob-demo-example-child">
                    <mob-switch active-icon="demoFive.activeIcon" inactive-icon="demoFive.inactiveIcon"
                                ng-model="demoFive.value"></mob-switch>
                </div>
                <div class="mob-demo-example-child">
                    <mob-switch active-icon="demoFive.activeIcon" inactive-icon="demoFive.inactiveIcon"
                                inline-prompt="true" ng-model="demoFive.value"></mob-switch>
                </div>
            </div>
            <div class="meta">
                <pre prism>
                        <code class="source-code language-markup language-js language-html language-css"
                        ><!--
                            <html>
                                <mob-switch active-icon="demoFive.activeIcon" inactive-icon="demoFive.inactiveIcon"
                                            ng-model="demoFive.value"></mob-switch>


                                <mob-switch active-icon="demoFive.activeIcon" inactive-icon="demoFive.inactiveIcon"
                                            inline-prompt="true" ng-model="demoFive.value"></mob-switch>
                            </html>

                            <script>
                                   $scope.demoFive = {
                                    value:false,
                                    activeIcon:'mob-icon-check',
                                    inactiveIcon:'mob-icon-close',
                                    inactiveColor:'#dcdfe6',
                                }
                            </script>
                        --></code>
                    </pre>
            </div>
        </div>

        <h3>禁用状态</h3>
        <div class="mob-demo-block">
            <div class="mob-demo-example">
                <div class="mob-demo-example-child">
                    <mob-switch ng-disabled="true" ng-model="A"></mob-switch>
                </div>
                <div class="mob-demo-example-child">
                    <mob-switch ></mob-switch>
                </div>
            </div>
            <div class="meta">
                <pre prism>
                        <code class="source-code language-markup language-js language-html language-css"
                        ><!--
                            <html>
                                <mob-switch ng-disabled="true" ng-model="true"></mob-switch>
                                <mob-switch></mob-switch>
                            </html>

                            <script>
                            </script>
                        --></code>
                    </pre>
            </div>
        </div>

        <h3>加载中</h3>
        <div class="mob-demo-block">
            <div class="mob-demo-example">
                <div class="mob-demo-example-child">
                    <mob-switch loading="true" ng-model="B"></mob-switch>
                </div>
                <div class="mob-demo-example-child">
                    <mob-switch loading="true"></mob-switch>
                </div>
            </div>
            <div class="meta">
                <pre prism>
                        <code class="source-code language-markup language-js language-html language-css"
                        ><!--
                            <html>
                                <mob-switch loading="true" ng-model="B"></mob-switch>
                                <mob-switch loading="true"></mob-switch>
                            </html>

                            <script>
                            </script>
                        --></code>
                    </pre>
            </div>
        </div>

        <h3>阻止切换</h3>
        <div class="mob-demo-block">
            <div class="mob-demo-example">
                <div class="mob-demo-example-child">
                    <div class="mob-demo-example-child">
                        <mob-switch loading="demoYesIsLoading" before-change="beforeChangeYes(opt)"></mob-switch>
                    </div>
                    <div class="mob-demo-example-child">
                        <mob-switch loading="demoFalseIsLoading" before-change="beforeChangeFalse(opt)"></mob-switch>
                    </div>
            </div>
            <div class="meta">
                <pre prism>
                        <code class="source-code language-markup language-js language-html language-css"
                        ><!--
                            <html>
                                <mob-switch loading="demoYesIsLoading" before-change="beforeChangeYes(opt)"></mob-switch>
                                <mob-switch loading="demoFalseIsLoading" before-change="beforeChangeFalse(opt)"></mob-switch>
                            </html>

                            <script>
                            </script>
                        --></code>
                    </pre>
            </div>
        </div>
    </div>
</section>
