<div class="mob-date mob-unselect-text">
    <div class="mob-date-month">
        <div class="mob-date__container__wrapper">
            <div class="mob-date__sidebar" ng-if="$ctrl.shortcuts">
                <button ng-repeat="shortcut in $ctrl.shortcuts" ng-bind="shortcut.text" ng-click="$ctrl.shortcutClickHandle(shortcut)"></button>
            </div>
            <div class="mob-date__container is_left">
                <div class="mob-date__header">
                    <mob-icon-double-arrow-left ng-click="$ctrl.decrease('leftCalendar')" class="button"></mob-icon-double-arrow-left>
                    <p class="content">
                        <span ng-click="$ctrl.showYearDatePicker()" ng-bind="leftCalendarYear"></span>
                    </p>
                    <mob-icon-double-arrow-right
                            class="button"
                            ng-click="$ctrl.increase('leftCalendar', true)"
                            ng-class="{'is_disabled':$ctrl.isDisabledCalendarChange()}"></mob-icon-double-arrow-right>
                </div>
                <div class="mob-date__content">
                    <div class="row" ng-repeat="mGroup in options">
                        <!-- 存在年份Bug -->
                        <div class="col"
                             ng-repeat="m in mGroup"
                             ng-click="$ctrl.calendarClickHandle(m)"
                             ng-class="{
                             'today':m == currentMonth && leftCalendarYear === currentYear ,
                             'active': m === ngModelMonth && calendarYear === ngModelYear
                              }">
                            <span ng-bind="m"></span>
                        </div>
                    </div>
                </div>

                <mob-date-year
                        ng-show="$ctrl.yearDatePickerDisplay"
                        ng-model="calendarYear"
                        change="$ctrl.changeYear(opt)"
                        calendar-click="$ctrl.hideYearDatePicker(opt)"></mob-date-year>
            </div>
            <mob-divider vertical="true"></mob-divider>
            <div class="mob-date__container is_right">
                <div class="mob-date__header">
                    <mob-icon-double-arrow-left
                            class="button"
                            ng-click="$ctrl.decrease('rightCalendar', true)"
                             ng-class="{'is_disabled':$ctrl.isDisabledCalendarChange()}"></mob-icon-double-arrow-left>
                    <p class="content">
                        <span ng-click="$ctrl.showYearDatePicker()" ng-bind="rightCalendarYear"></span>
                    </p>
                    <mob-icon-double-arrow-right ng-click="$ctrl.increase('rightCalendar')" class="button"></mob-icon-double-arrow-right>
                </div>
                <div class="mob-date__content">
                    <div class="row" ng-repeat="mGroup in options">
                        <!-- 存在年份Bug -->
                        <div class="col"
                             ng-repeat="m in mGroup"
                             ng-click="$ctrl.calendarClickHandle(m)"
                             ng-class="{
                             'today':m == currentMonth && rightCalendarYear === currentYear ,
                             'active': m === ngModelMonth && calendarYear === ngModelYear
                             }">
                            <span ng-bind="m"></span>
                        </div>
                    </div>
                </div>

                <mob-date-year
                        ng-show="$ctrl.yearDatePickerDisplay"
                        ng-model="calendarYear"
                        change="$ctrl.changeYear(opt)"
                        calendar-click="$ctrl.hideYearDatePicker(opt)"></mob-date-year>
            </div>
        </div>
    </div>
</div>
