<div class="mob-form-item"
     ng-class="{
    'mob-form-item--label-left':($ctrl.labelPosition || $ctrl.mobForm.labelPosition) === 'left',
    'mob-form-item--label-middle':($ctrl.labelPosition || $ctrl.mobForm.labelPosition) === 'middle',
    'mob-form-item--label-right':($ctrl.labelPosition || $ctrl.mobForm.labelPosition) === 'right',
    'mob-form-item--label-top':($ctrl.labelPosition || $ctrl.mobForm.labelPosition) === 'top'
    }"
>
    <div class="mob-form-item__label" ng-if="$ctrl.label" ng-style="$ctrl.style">
        <label for="#" ng-bind="$ctrl.label"></label>
    </div>
    <div class="mob-form-item__content">
        <div ng-transclude class="mob-scrollbar mob-form-transclude"></div>
    </div>
</div>
