<section class="mob-doc content" ng-controller="CheckBoxCtrl as ctrl">
    <h2>CheckBox多选框</h2>

    <div class="mob-doc content">

        <h3>多选框组</h3>
        <div class="mob-demo-block">
            <div class="mob-demo-example">
                <div class="mob-demo-example-child">
                    <div>
                        <mob-check-box ng-model='OWNER' label="'Option1'" check-value="'Option1'"></mob-check-box>
                        <p>{{OWNER}}</p>
                        <mob-check-box-group ng-model="ctrl.multipleCheckBoxGroup">
                            <mob-check-box label="'Option1'" check-value="'Option1'"></mob-check-box>
                            <mob-check-box label="'Option2'" check-value="'Option2'"></mob-check-box>
                        </mob-check-box-group>
                        值：<span>{{ctrl.multipleCheckBoxGroup}}</span>
                    </div>
                </div>
                <mob-divider></mob-divider>
                <p>
                    在多选框组内，多选框的 <code>ng-model</code> 中，绑定变量的值是一个 <code>Array</code>。
                </p>
            </div>
            <div class="meta">
                <pre prism>
                        <code class="source-code language-markup language-js language-html language-css"
                        ><!--
                            <html>
                                 <div>
                                    <mob-check-box-group ng-model="ctrl.multipleCheckBoxGroup">
                                        <mob-check-box label="'Option1'" check-value="'Option1'"></mob-check-box>
                                        <mob-check-box label="'Option2'" check-value="'Option2'"></mob-check-box>
                                        <mob-check-box label="'Option3'" check-value="'Option3'"></mob-check-box>
                                        <mob-check-box label="'Option4'" check-value="'Option4'" ng-disabled="true"></mob-check-box>
                                        <mob-check-box label="'Option5'" check-value="'Option5'" ng-disabled="true"></mob-check-box>
                                    </mob-check-box-group>
                                    值：<span>{{ctrl.multipleCheckBoxGroup}}</span>
                                </div>
                            </html>
                        --></code>
                    </pre>
            </div>
        </div>



        <h3>中间状态</h3>
        <div class="mob-demo-block">
            <div class="mob-demo-example">
                <div class="mob-demo-example-child">
                    <div>
                        <mob-check-box  label="'全选'" ng-model="ctrl.checkAll" indeterminate="ctrl.indeterminate" change="ctrl.checkAllChange()"></mob-check-box>
                        <mob-check-box-group ng-model="ctrl.checkedCities" change="ctrl.checkboxChangeHandle()">
                            <mob-check-box ng-repeat="city in ctrl.cities" label="city" check-value="city" ng-disabled="city.disabled" ></mob-check-box>
                        </mob-check-box-group>

                        值：<span>{{ctrl.checkedCities}}</span>
                    </div>
                </div>
            </div>
            <div class="meta">
                <pre prism>
                        <code class="source-code language-markup language-js language-html language-css"
                        ><!--
                           <html>
                            <div>
                                <mob-check-box  label="'全选'" ng-model="ctrl.checkAll" indeterminate="ctrl.indeterminate" change="ctrl.checkAllChange()"></mob-check-box>
                                <mob-check-box-group ng-model="ctrl.checkedCities" change="ctrl.checkboxChangeHandle()">
                                    <mob-check-box ng-repeat="city in ctrl.cities" label="city" check-value="city" ng-disabled="city.disabled" ></mob-check-box>
                                </mob-check-box-group>

                                值：<span>{{ctrl.checkedCities}}</span>
                            </div>
                           </html>

                           <script>
                           </script>
                        --></code>
                    </pre>
            </div>
        </div>
    </div>
</section>
