<div class="mob-input-tag__root">
        <div class="mob-input mob-input-tag"
             ng-class="{
                 'is_clearable': $ctrl.clearable,
                 'is_disabled': $ctrl.ngDisabled,
                 'is_collapse_tags': $ctrl.collapseTag,
                 'is_append_slot': $ctrl.showBatchInput()
             }">
        
            <div class="mob-input__wrapper mob_popper__target" popper-group="inputTag">
        
                <span class="mob-input__prefix">
                    <span class="mob-input__prefix-inner">
                        <slot name="prefix"></slot>
                    </span>
                </span>
        
                <div class="mob-input-tag__inner">
        
                    <!-- 非折叠：展示全部标签 -->
                    <div class="mob-input-tag__tag-item"
                         ng-if="!$ctrl.collapseTag"
                         ng-repeat="tag in $ctrl.model track by $index">
                        <mob-tag type="'info'">
                            <span ng-bind="tag"></span>
                            <mob-icon-close class="mob-icon__close mob-input-tag__close"
                                            ng-if="!$ctrl.ngDisabled"
                                            ng-click="$ctrl.removeTagAt($index, $event)"></mob-icon-close>
                        </mob-tag>
                    </div>
        
                    <!-- 折叠模式（对齐 mob-select collapse-tags） -->
                    <div class="mob-input-tag__tag-item__collapse-contain"
                         ng-if="$ctrl.collapseTag"
                         stop-bubbling>
        
        
                        <mob-tag type="'info'"
                                 ng-repeat="tag in $ctrl.getVisibleTags() track by $index">
                            <span class="mob-tag__inner-tag" ng-bind="tag"></span>
                            <mob-icon-close class="mob-icon__close mob-input-tag__close"
                                            ng-if="!$ctrl.ngDisabled"
                                            ng-click="$ctrl.removeTagAt($index, $event)"></mob-icon-close>
                        </mob-tag>
        
                        <!-- 无 tooltip 的 +N -->
                        <mob-tag type="'info'"
                                 ng-if="!$ctrl.collapseTagTooltip && $ctrl.getHiddenTagCount() > 0">
                            <span ng-bind="'+' + $ctrl.getHiddenTagCount()"></span>
                        </mob-tag>
        
                        <!-- 有 tooltip 的 +N：未禁用时可点击展开 -->
                        <div class="mob_popper__target" style="display: inline-flex"
                            popper-group="tooltip">
                            <mob-tag type="'info'"
                                     ng-if="$ctrl.collapseTagTooltip && !$ctrl.ngDisabled"
                                     ng-show="$ctrl.getHiddenTagCount() > 0">
                                <span ng-bind="'+' + $ctrl.getHiddenTagCount()"></span>
                            </mob-tag>
                        </div>
        
                        <!-- 禁用时仅展示 +N，不绑定 popper -->
        
                        <mob-tag type="'info'"
                                 ng-if="$ctrl.collapseTagTooltip && $ctrl.ngDisabled && $ctrl.getHiddenTagCount() > 0">
                            <span ng-bind="'+' + $ctrl.getHiddenTagCount()"></span>
                        </mob-tag>
                    </div>
        
                    <input type="text"
                           autocomplete="off"
                           class="mob-input__inner mob-input-tag__input custom"
                           ng-model="$ctrl.inputValue"
                           ng-keydown="$ctrl.onKeydown($event)"
                           ng-input="$ctrl.onInputChange"
                           ng-blur="$ctrl.onBlur()"
                           ng-focus="$ctrl.onFocus()"
                           placeholder="{{$ctrl.showPlaceholder() ? $ctrl.placeholder : ''}}"
                           ng-disabled="$ctrl.ngDisabled"
                           ng-readonly="$ctrl.readonly"
                           maxlength="{{$ctrl.maxlength}}">
                </div>
        
                <span class="mob-input__suffix">
                    <span class="mob-input__suffix-inner">
                        <mob-icon-circle-close class="mob-input_clear"
                                               ng-if="$ctrl.showClear()"
                                               ng-click="$ctrl.clear()"></mob-icon-circle-close>
                        <slot name="suffix"></slot>
                    </span>
                </span>
            </div>

            <div class="mob-input_append mob-input-tag__append"
                 ng-if="$ctrl.showBatchInput()"
                 ng-mousedown="$event.preventDefault()"
                 ng-click="$ctrl.openBatchDialog($event)">
                <mob-icon-increase></mob-icon-increase>
            </div>
        </div>

        <mob-dialog ng-model="$ctrl.batchDialogVisible"
                    dialog-title="$ctrl.batchInputTitle"
                    width="'480px'">
            <ng-transclude-body>
                <div class="mob-input-tag__batch-split">
                    <span class="mob-input-tag__batch-split-label">解析格式</span>
                    <mob-check-box-group ng-model="$ctrl.batchSelectedDelimiterKeys">
                        <mob-check-box ng-repeat="option in $ctrl.batchDelimiterOptions track by option.key"
                                      check-value="option.key"
                                      label="option.label"></mob-check-box>
                    </mob-check-box-group>
                </div>
                <textarea class="mob-input-tag__batch-textarea"
                          ng-model="$ctrl.batchInputValue"
                          ng-keydown="$ctrl.onBatchTextareaKeydown($event)"
                          ng-keyup="$ctrl.onBatchTextareaKeydown($event)"
                          placeholder="{{$ctrl.getBatchInputPlaceholder()}}"
                          rows="8"></textarea>
            </ng-transclude-body>
            <ng-transclude-footer>
                <div class="mob-input-tag__batch-footer">
                    <mob-button ng-click="$ctrl.cancelBatchInput()">取消</mob-button>
                    <mob-button type="'primary'"
                                ng-disabled="!$ctrl.hasBatchDelimiterSelected()"
                                ng-click="$ctrl.confirmBatchInput()">确定输入</mob-button>
                </div>
            </ng-transclude-footer>
        </mob-dialog>
</div>