<section class="mob-doc content" ng-controller="ButtonCtrl as ctrl">
    <h2>Button 按钮</h2>


    <div class="mob-doc content">
        <h3>基础用法</h3>
        <div class="mob-demo-block">
            <div class="mob-demo-example">
                <div class="mob-demo-example-child">
                    <mob-button>默认按钮</mob-button>
                    <mob-button type="'primary'">主要按钮</mob-button>
                    <mob-button type="'success'">成功按钮</mob-button>
                    <mob-button type="'info'">信息按钮</mob-button>
                    <mob-button type="'warning'">警告按钮</mob-button>
                    <mob-button type="'danger'">危险按钮</mob-button>
                </div>
                <div class="mob-demo-example-child">
                    <mob-button plain>默认按钮</mob-button>
                    <mob-button plain type="'primary'">主要按钮</mob-button>
                    <mob-button plain type="'success'">成功按钮</mob-button>
                    <mob-button plain type="'info'">信息按钮</mob-button>
                    <mob-button plain type="'warning'">警告按钮</mob-button>
                    <mob-button plain type="'danger'">危险按钮</mob-button>
                </div>

                <div class="mob-demo-example-child">
                    <mob-button round>默认按钮</mob-button>
                    <mob-button round type="'primary'">主要按钮</mob-button>
                    <mob-button round type="'success'">成功按钮</mob-button>
                    <mob-button round type="'info'">信息按钮</mob-button>
                    <mob-button round type="'warning'">警告按钮</mob-button>
                    <mob-button round type="'danger'">危险按钮</mob-button>
                </div>

                <div class="mob-demo-example-child">
                    <mob-button circle icon="'mob-icon-check'"></mob-button>
                    <mob-button circle icon="'mob-icon-circle-close'" type="'primary'"></mob-button>
                    <mob-button circle icon="'mob-icon-close'" type="'success'"></mob-button>
                    <mob-button circle icon="'mob-Icon-arrow-down'" type="'info'"></mob-button>
                    <mob-button circle icon="'mob-icon-invisible'" type="'warning'"></mob-button>
                    <mob-button circle icon="'mob-icon-search'" type="'danger'"></mob-button>
                </div>
            </div>
            <div class="meta">
                <pre prism>
                        <code class="source-code language-markup language-js language-html language-css"
                        ><!--
                           <div class="mob-demo-example-child">
                            <mob-button>默认按钮</mob-button>
                            <mob-button type="'primary'">主要按钮</mob-button>
                            <mob-button type="'success'">成功按钮</mob-button>
                            <mob-button type="'info'">信息按钮</mob-button>
                            <mob-button type="'warning'">警告按钮</mob-button>
                            <mob-button type="'danger'">危险按钮</mob-button>
                        </div>
                        <div class="mob-demo-example-child">
                            <mob-button plain>默认按钮</mob-button>
                            <mob-button plain type="'primary'">主要按钮</mob-button>
                            <mob-button plain type="'success'">成功按钮</mob-button>
                            <mob-button plain type="'info'">信息按钮</mob-button>
                            <mob-button plain type="'warning'">警告按钮</mob-button>
                            <mob-button plain type="'danger'">危险按钮</mob-button>
                        </div>

                        <div class="mob-demo-example-child">
                            <mob-button round>默认按钮</mob-button>
                            <mob-button round type="'primary'">主要按钮</mob-button>
                            <mob-button round type="'success'">成功按钮</mob-button>
                            <mob-button round type="'info'">信息按钮</mob-button>
                            <mob-button round type="'warning'">警告按钮</mob-button>
                            <mob-button round type="'danger'">危险按钮</mob-button>
                        </div>

                        <div class="mob-demo-example-child">
                            <mob-button circle icon="'mob-icon-check'"></mob-button>
                            <mob-button circle icon="'mob-icon-circle-close'" type="'primary'"></mob-button>
                            <mob-button circle icon="'mob-icon-close'" type="'success'"></mob-button>
                            <mob-button circle icon="'mob-Icon-arrow-down'" type="'info'"></mob-button>
                            <mob-button circle icon="'mob-icon-invisible'" type="'warning'"></mob-button>
                            <mob-button circle icon="'mob-icon-search'" type="'danger'"></mob-button>
                        </div>
                        --></code>
                    </pre>
            </div>
        </div>


        <h3>禁用状态</h3>
        <div class="mob-demo-block">
            <div class="mob-demo-example">
                <div class="mob-demo-example-child">
                    <mob-button ng-disabled >默认按钮</mob-button>
                    <mob-button ng-disabled type="'primary'">主要按钮</mob-button>
                    <mob-button ng-disabled type="'success'">成功按钮</mob-button>
                    <mob-button ng-disabled type="'info'">信息按钮</mob-button>
                    <mob-button ng-disabled type="'warning'">警告按钮</mob-button>
                    <mob-button ng-disabled type="'danger'">危险按钮</mob-button>
                </div>
                <div class="mob-demo-example-child">
                    <mob-button ng-disabled plain>默认按钮</mob-button>
                    <mob-button ng-disabled plain type="'primary'">主要按钮</mob-button>
                    <mob-button ng-disabled plain type="'success'">成功按钮</mob-button>
                    <mob-button ng-disabled plain type="'info'">信息按钮</mob-button>
                    <mob-button ng-disabled plain type="'warning'">警告按钮</mob-button>
                    <mob-button ng-disabled plain type="'danger'">危险按钮</mob-button>
                </div>
            </div>
            <div class="meta">
                <pre prism>
                        <code class="source-code language-markup language-js language-html language-css"
                        ><!--
                           <div class="mob-demo-example-child">
                            <mob-button ng-disabled >默认按钮</mob-button>
                            <mob-button ng-disabled type="'primary'">主要按钮</mob-button>
                            <mob-button ng-disabled type="'success'">成功按钮</mob-button>
                            <mob-button ng-disabled type="'info'">信息按钮</mob-button>
                            <mob-button ng-disabled type="'warning'">警告按钮</mob-button>
                            <mob-button ng-disabled type="'danger'">危险按钮</mob-button>
                        </div>
                        <div class="mob-demo-example-child">
                            <mob-button ng-disabled plain>默认按钮</mob-button>
                            <mob-button ng-disabled plain type="'primary'">主要按钮</mob-button>
                            <mob-button ng-disabled plain type="'success'">成功按钮</mob-button>
                            <mob-button ng-disabled plain type="'info'">信息按钮</mob-button>
                            <mob-button ng-disabled plain type="'warning'">警告按钮</mob-button>
                            <mob-button ng-disabled plain type="'danger'">危险按钮</mob-button>
                        </div>
                        --></code>
                    </pre>
            </div>
        </div>


        <h3>文子按钮</h3>
        <div class="mob-demo-block">
            <div class="mob-demo-example">
                <div class="mob-demo-example-child">
                    <mob-button type="'text'" >默认按钮</mob-button>
                    <mob-button ng-disabled type="'text'" >主要按钮</mob-button>
                    <mob-button ng-disabled type="'text'"  icon="'mob-icon-close'"></mob-button>
                </div>
            </div>
            <div class="meta">
                <pre prism>
                        <code class="source-code language-markup language-js language-html language-css"
                        ><!--
                            <mob-button type="'text'" >默认按钮</mob-button>
                            <mob-button ng-disabled type="'text'" >主要按钮</mob-button>
                            <mob-button ng-disabled type="'text'"  icon="'mob-icon-close'"></mob-button>
                        --></code>
                    </pre>
            </div>
        </div>

        <h3>图标按钮</h3>
        <div class="mob-demo-block">
            <div class="mob-demo-example">
                <div class="mob-demo-example-child">
                    <mob-button type="'text'" icon="'mob-icon-calendar'">主要按钮</mob-button>
                    <mob-button style="margin-left: 10px" type="'text'">关闭 <mob-icon-check></mob-icon-check></mob-button>
                </div>
            </div>
            <div class="meta">
                <pre prism>
                        <code class="source-code language-markup language-js language-html language-css"
                        ><!--
                            <mob-button type="'text'" icon="'mob-icon-calendar'">主要按钮</mob-button>
                            <mob-button style="margin-left: 10px" type="'text'">关闭 <mob-icon-check></mob-icon-check></mob-button>
                        --></code>
                    </pre>
            </div>
        </div>


        <h3>按钮组</h3>
        <div class="mob-demo-block">
            <div class="mob-demo-example">
                <div class="mob-demo-example-child">
                    <mob-button-group>
                        <mob-button type="'primary'">主要按钮</mob-button>
                        <mob-button type="'primary'">成功按钮</mob-button>
                        <mob-button type="'primary'">成功按钮</mob-button>
                        <mob-button type="'primary'">成功按钮</mob-button>
                    </mob-button-group>
                </div>
                <div class="mob-demo-example-child">
                    <mob-button-group>
                        <mob-button icon="'mob-icon-check'" type="'primary'"></mob-button>
                        <mob-button icon="'mob-icon-circle-close'" type="'primary'"></mob-button>
                        <mob-button icon="'mob-icon-close'" type="'primary'"></mob-button>
                        <mob-button icon="'mob-Icon-arrow-down'" type="'primary'"></mob-button>
                        <mob-button icon="'mob-icon-invisible'" type="'primary'"></mob-button>
                        <mob-button icon="'mob-icon-search'" type="'primary'"></mob-button>
                    </mob-button-group>

                </div>
            </div>
            <div class="meta">
                <pre prism>
                        <code class="source-code language-markup language-js language-html language-css"
                        ><!--
                            <mob-button type="'text'" icon="'mob-icon-calendar'">主要按钮</mob-button>
                            <mob-button style="margin-left: 10px" type="'text'">关闭 <mob-icon-check></mob-icon-check></mob-button>
                        --></code>
                    </pre>
            </div>
        </div>

        <h3>加载中</h3>
        <div class="mob-demo-block">
            <div class="mob-demo-example">
                <div class="mob-demo-example-child">
                    <mob-button loading="loading" ng-click="request()">{{loading ? '加载中' : '加载'}}</mob-button>
                </div>
            </div>
            <div class="meta">
                <pre prism>
                        <code class="source-code language-markup language-js language-html language-css"
                        ><!--
                           <html>
                            <mob-button loading="loading" ng-click="request()">{{loading ? '加载中' : '加载'}}</mob-button>
                           </html>

                           <script>
                                $scope.request = function (){
                                    $scope.loading = true;

                                    $timeout(()=>{
                                        $scope.loading = false;
                                    },3000)
                                }
                           </script>
                        --></code>
                    </pre>
            </div>
        </div>
    </div>
</section>
