mob-descriptions .mob-descriptions {
    width: 100%;
    display: block;
    font-size: 14px;
    color: #303133;
}

mob-descriptions .mob-descriptions__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

mob-descriptions .mob-descriptions__title {
    font-weight: 600;
    font-size: 16px;
}

mob-descriptions .mob-descriptions__body .mob-descriptions__body_inner {
    display: grid;
    row-gap: 12px;
}

mob-descriptions .mob-descriptions__item {
    height: 100%;
    display: flex;
    align-items: flex-start;
}

mob-descriptions .mob-descriptions__label {
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    overflow: hidden;
    height: 100%;
    box-sizing: border-box;
    color: var(--mob-primary-text-color);
    margin-right: 16px;
    font-weight: 500;
}

mob-descriptions .mob-descriptions__content {
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    overflow: hidden;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    flex: 1;
    color: #303133;
}

mob-descriptions .mob-descriptions__content > span {
    /*display: flex;*/
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

mob-descriptions .mob-descriptions.is-bordered .mob-descriptions__body .mob-descriptions__body_inner {
    border: 1px solid var(--mob-lighter-border-color);
    row-gap: 1px;
}

mob-descriptions .mob-descriptions.is-bordered .mob-descriptions__item {
    border-bottom: 1px solid #ebeef5;
    display: grid;
    min-height: 40px;
    /*grid-template-columns: repeat(2,1fr);*/
    gap: 0;
}

mob-descriptions .mob-descriptions.is-bordered .mob-descriptions__item.last-row {
    border-bottom: none;
}

mob-descriptions .mob-descriptions.is-bordered .mob-descriptions__item .mob-descriptions__label {
    margin: 0;
    background-color: var(--mob-light-fill-color);
    color: var(--mob-regular-text-color);
    padding: 8px 12px;
    font-weight: 700;
}

mob-descriptions .mob-descriptions.is-bordered .mob-descriptions__item .mob-descriptions__content {
    padding: 8px 12px;
}
