<div class="mob-input__number is_prepend_slot is_append_slot"
    ng-class="{'is_disabled':$ctrl.ngDisabled}"
>

    <div class="mob-input_prepend mob-input__slot" ng-click="$ctrl.decrease()">
        <slot name="prepend" ng-show="$slot.slot['prepend']"></slot>
        <mob-icon-decrease ng-if="!$slot.slot['prepend']"></mob-icon-decrease>
    </div>

    <div class="mob-input__wrapper">
        <label for="{{'input_number' + $id}}"></label>
        <input id="{{'input_number' + $id}}"
               type="number"
               inputmode="decimal"
               class="mob-input__inner"
               ng-model="$ctrl.innerValue"
               ng-disabled="$ctrl.ngDisabled"
               ng-change="$ctrl.changeHandle()"
               ng-blur="$ctrl.blurHandle()"
        >
    </div>

    <div class="mob-input_append  mob-input__slot" ng-click="$ctrl.increase()">
        <slot name="append" ng-show="$slot.slot['append']"></slot>
        <mob-icon-increase ng-if="!$slot.slot['append']"></mob-icon-increase>
    </div>

</div>
