<div
    class="mob-tree-node"
    ng-class="{
    'is_expand':$ctrl.data.$node.expand,
    'is_loading':$ctrl.data.$node.load === 2
    }"
>
    <div class="mob-tree-node-content" ng-style="{'padding-left': 16 * ($ctrl.layer + 1) +'px'}">
        <!-- icon -->
        <div class="mob-tree-node-expand">
            <mob-icon-caret-right ng-if="$ctrl.canExpand() && $ctrl.data.$node.load !== 2" ng-click="$ctrl.expandTreeNode()"></mob-icon-caret-right>
            <mob-icon-loading ng-if="$ctrl.data.$node.load === 2"></mob-icon-loading>
        </div>
        <!-- checkBox -->
        <div class="mob-tree-node-operate">
            <mob-check-box ng-if="$ctrl.showCheckbox" ng-model="$ctrl.data.$node.check" indeterminate="$ctrl.data.$node.indeterminate" change="$ctrl.changeHandler(opt)"></mob-check-box>
        </div>
        <div class="mob-tree-node-label">
            <span ng-bind="$ctrl.data.label"></span>
        </div>
    </div>
    <!-- 子节点 -->
    <div class="mob-tree-node-children" ng-if="$ctrl.data.children && $ctrl.data.children.length > 0">
        <mob-tree-node ng-repeat="item in $ctrl.data.children" show-checkbox="$ctrl.showCheckbox"  data="item" layer="$ctrl.layer + 1" on-repeat-finish="treeNodeRepeatFinish"></mob-tree-node>
    </div>
</div>
