<section class="mob-doc content" ng-controller="InputTagCtrl">

    <h2>InputTag 标签输入框</h2>

    <div class="mob-doc content">

        <h3>基础用法</h3>
        <p>按下 Enter 键将输入内容添加为标签。</p>
        <div class="mob-demo-block">
            <div class="mob-demo-example">
                <mob-input-tag style="display:block;width: 320px;" ng-model="basicValue" placeholder="'请输入'"></mob-input-tag>
                <p>值：<span ng-bind="basicValue | json"></span></p>
            </div>
            <div class="meta">
                <pre prism>
                        <code class="source-code language-markup language-js language-html language-css"
                        ><!--
                            <mob-input-tag ng-model="basicValue" placeholder="'请输入'"></mob-input-tag>
                        --></code>
                    </pre>
            </div>
        </div>

        <h3>分隔符</h3>
        <p>Enter 始终提交当前输入为标签。设置 delimiter 后，输入该字符、粘贴或弹框批量输入时也会自动拆分；未设置时粘贴/失焦支持空格、换行拆分。</p>
        <div class="mob-demo-block">
            <div class="mob-demo-example">
                <p>逗号分隔</p>
                <mob-input-tag style="display:block;width: 320px;"
                               ng-model="delimiterValue"
                               delimiter="','"
                               placeholder="'输入后按 Enter 或逗号'"></mob-input-tag>
                <p>值：<span ng-bind="delimiterValue | json"></span></p>
                <br>
                <p>空格分隔（按空格提交）</p>
                <mob-input-tag style="display:block;width: 320px;"
                               ng-model="spaceDelimiterValue"
                               delimiter="' '"
                               placeholder="'输入后按 Enter 或空格'"></mob-input-tag>
                <p>值：<span ng-bind="spaceDelimiterValue | json"></span></p>
            </div>
            <div class="meta">
                <pre prism>
                        <code class="source-code language-markup language-js language-html language-css"
                        ><!--
                            <mob-input-tag ng-model="delimiterValue" delimiter="','"></mob-input-tag>
                            <mob-input-tag ng-model="spaceValue" delimiter="' '"></mob-input-tag>
                        --></code>
                    </pre>
            </div>
        </div>

        <h3>最大标签数</h3>
        <div class="mob-demo-block">
            <div class="mob-demo-example">
                <mob-input-tag style="display:block;width: 320px;"
                               ng-model="maxValue"
                               max="3"
                               placeholder="'最多 3 个标签'"></mob-input-tag>
            </div>
            <div class="meta">
                <pre prism>
                        <code class="source-code language-markup language-js language-html language-css"
                        ><!--
                            <mob-input-tag ng-model="maxValue" max="3"></mob-input-tag>
                        --></code>
                    </pre>
            </div>
        </div>

        <h3>折叠标签</h3>
        <div class="mob-demo-block">
            <div class="mob-demo-example">
                <p>collapse-tags</p>
                <mob-input-tag style="display:block;width: 320px;"
                               ng-model="collapseValue1"
                               collapse-tag="true"
                               placeholder="'请输入'"></mob-input-tag>
                <br>
                <p>collapse-tags-tooltip</p>
                <mob-input-tag style="display:block;width: 320px;"
                               ng-model="collapseValue2"
                               collapse-tag="true"
                               collapse-tag-tooltip="true"
                               placeholder="'请输入'"></mob-input-tag>
                <br>
                <p>max-collapse-tags</p>
                <mob-input-tag style="display:block;width: 320px;"
                               ng-model="collapseValue3"
                               collapse-tag="true"
                               collapse-tag-tooltip="true"
                               max-collapse-tag="3"
                               placeholder="'请输入'"></mob-input-tag>
            </div>
            <div class="meta">
                <pre prism>
                        <code class="source-code language-markup language-js language-html language-css"
                        ><!--
                            <mob-input-tag collapse-tags="true" collapse-tags-tooltip="true" max-collapse-tags="3"></mob-input-tag>
                        --></code>
                    </pre>
            </div>
        </div>

        <h3>禁用状态</h3>
        <div class="mob-demo-block">
            <div class="mob-demo-example">
                <mob-input-tag style="display:block;width: 320px;"
                               ng-model="disabledValue"
                               ng-disabled="true"></mob-input-tag>
                <br>
                <mob-input-tag style="display:block;width: 320px;"
                               ng-model="disabledCollapseValue"
                               collapse-tags="true"
                               collapse-tags-tooltip="true"
                               ng-disabled="true"></mob-input-tag>
            </div>
            <div class="meta">
                <pre prism>
                        <code class="source-code language-markup language-js language-html language-css"
                        ><!--
                            <mob-input-tag ng-model="disabledValue" ng-disabled="true"></mob-input-tag>
                        --></code>
                    </pre>
            </div>
        </div>

        <h3>可清空</h3>
        <div class="mob-demo-block">
            <div class="mob-demo-example">
                <mob-input-tag style="display:block;width: 320px;"
                               ng-model="clearableValue"
                               clearable="true"></mob-input-tag>
            </div>
            <div class="meta">
                <pre prism>
                        <code class="source-code language-markup language-js language-html language-css"
                        ><!--
                            <mob-input-tag ng-model="clearableValue" clearable="true"></mob-input-tag>
                        --></code>
                    </pre>
            </div>
        </div>

        <h3>批量输入</h3>
        <p>点击右侧 + 按钮批量输入，弹框内可勾选分隔符（与外部 delimiter 独立）；已有标签会反写到弹框。</p>
        <div class="mob-demo-block">
            <div class="mob-demo-example">
                <mob-input-tag style="display:block;width: 320px;"
                               ng-model="batchInputValue"
                               delimiter="','"
                               batch-input-title="输入多个商城店铺ID"
                               placeholder="'请输入店铺ID'"></mob-input-tag>
                <p>值：<span ng-bind="batchInputValue | json"></span></p>
            </div>
            <div class="meta">
                <pre prism>
                        <code class="source-code language-markup language-js language-html language-css"
                        ><!--
                            <mob-input-tag ng-model="batchInputValue"
                                           batch-input-title="输入多个商城店铺ID"></mob-input-tag>
                        --></code>
                    </pre>
            </div>
        </div>

        <h3>自定义前缀和后缀</h3>
        <div class="mob-demo-block">
            <div class="mob-demo-example">
                <mob-input-tag style="display:block;width: 320px;" ng-model="slotValue" clearable="true">
                    <mob-icon-search slot="prefix"></mob-icon-search>
                    <mob-icon-calendar slot="suffix"></mob-icon-calendar>
                </mob-input-tag>
            </div>
            <div class="meta">
                <pre prism>
                        <code class="source-code language-markup language-js language-html language-css"
                        ><!--
                            <mob-input-tag ng-model="slotValue">
                                <mob-icon-search slot="prefix"></mob-icon-search>
                                <mob-icon-calendar slot="suffix"></mob-icon-calendar>
                            </mob-input-tag>
                        --></code>
                    </pre>
            </div>
        </div>


    </div>
</section>
