
/* select */


.mob-timepicker {
    width: 100%;
    position: relative;
    font-size: 14px;
    /* display: inline-block; */
    vertical-align: middle;
    transition: border-color var(--mob-transition-duration) cubic-bezier(.645, .045, .355, 1);
    --mob-input-icon-color: var(--mob-text-color-placeholder)
}

.mob-timepicker .mob-timepicker__wrapper:focus-within {
    outline: none;
    border-color: var(--mob-active-border-color)
}
.mob-timepicker .mob-timepicker__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    transition: border-color var(--mob-transition-duration) cubic-bezier(.645, .045, .355, 1);
    color: var(--mob-input-color);
    padding: 0 12px;
    cursor: pointer;
    box-shadow: 0 0 0 1px var(--el-border-color) inset;
    cursor: pointer;
}

.mob-timepicker .mob-timepicker__selection{
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
}

.mob-timepicker .mob-timepicker__selected-item.mob-timepicker__input-wrapper,
.mob-timepicker .mob-timepicker__selected-item.is-hidden{
    width: 1px;
    overflow: hidden;
    z-index: 0;
    height: 40px;

}
.mob-timepicker .mob-timepicker__selected-item {
    position: relative;
    width: 100%;
    background-color: #fff;
    height: 40px;
    line-height: 40px;
    z-index: 1;
}
.mob-timepicker .mob-input__inner {
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    color: var(--mob-input-color);
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: none;
    /*width: 1px;*/
    width: 100%;
}
.mob-timepicker .mob-input__inner.mob-input-filterable{
    padding: 12px;
    cursor: pointer;
}
.mob-timepicker .mob-timepicker__selected-item.mob-timepicker__input-wrapper .mob-input__inner,
.mob-timepicker .mob-timepicker__selected-item.is-hidden.mob-timepicker__input-wrapper .mob-input__inner{
    width: 1px;
}
.mob-timepicker .mob-timepicker__selected-item span{
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    white-space: nowrap;
}

.mob-timepicker .mob-timepicker__suffix{
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    flex-shrink: 0;
    flex-wrap: nowrap;
    height: 100%;
    text-align: center;
    color: var(--mob-text-color-placeholder);
    transition: all var(--mob-transition-duration);
}
.mob-timepicker .mob-timepicker__suffix-inner{
    position: relative;
}
.mob-timepicker  .mob-timepicker__suffix .is_hidden{
    display: none;
}
.mob-timepicker .mob-icon__down-arrow.is_popper .mob-icon{
    transform: rotate(180deg);
}
.mob-timepicker .mob-select__wrapper__clearable:hover .mob-icon__clean{
    display: inline-flex;
}
.mob-timepicker .mob-icon__close .mob-icon svg{
    width: 1.2em;
    height: 1.2em;
}
.mob-timepicker .mob-icon__close .mob-icon {
    padding: 1px;
    border-radius: 50%;
}
.mob-timepicker .mob-icon__close  .mob-icon:hover {
    background-color: #909399 ;
}
.mob-timepicker .mob-icon__close  .mob-icon:hover svg path{
    fill: #fff;
}
.mob-timepicker .mob-timepicker__suffix-inner.mob-icon__clean{
    display: none;
}

.mob-timepicker:not(.is_disabled) .mob-timepicker__wrapper:hover .mob-timepicker__suffix-inner.is_hide_able {
    display: none;
}

.mob-timepicker:not(.is_disabled) .mob-timepicker__wrapper:hover .mob-timepicker__suffix-inner.mob-icon__clean {
    display: block;
}

.mob-timepicker .mob-timepicker__selected-item.mob-timepicker-placeholder {
    padding-left: 10px;
}


/*禁用状态*/
.mob-timepicker.is_disabled *{
    cursor: not-allowed;
}
.mob-timepicker.is_disabled .mob-timepicker__wrapper {
    background-color: var(--mob-disabled-background-color);
}
.mob-timepicker.is_disabled .mob-timepicker__selected-item {
    color: var(--mob-disabled-text-color);
    background-color: var(--mob-disabled-background-color);
}
.mob-timepicker.is_disabled .mob-input__inner {
    background-color: var(--mob-disabled-background-color);
}


/*可过滤的*/
/*.mob-timepicker.is_filterable .mob-timepicker__selected-item.mob-timepicker__input-wrapper{*/
/*    width: 100%;*/

/*}*/
/*.mob-timepicker.is_filterable .mob-input__inner{*/
/*    text-indent: 8px;*/
/*    width: 100%;*/
/*}*/
