<div class="mob-date mob-date-range mob-date-year-range mob-unselect-text"
     ng-class="{'shortcuts':$ctrl.shortcuts && $ctrl.shortcuts.length}">

    <div class="mob-date__container__wrapper">
        <div class="mob-date__sidebar" ng-if="$ctrl.shortcuts">
            <button ng-repeat="shortcut in $ctrl.shortcuts" ng-bind="shortcut.text"
                    ng-click="$ctrl.shortcutClickHandle(shortcut)"></button>
        </div>
        <div class="mob-date__body">
            <div class="mob-date__container is-left">
                <mob-date-year ng-model="leftCalendar.ngModel"
                               range-model="$ctrl.potentialModel"
                               attachment="'leftCalendar'"
                               increase-year-disabled="$ctrl.isDisabledCalendarChange()"
                               panel-change="$ctrl.panelChangeHandle(opt)"
                               calendar-hover="$ctrl.calendarHoverHandle(opt)"
                               calendar-click="$ctrl.calendarClickHandle(opt)"
                ></mob-date-year>
            </div>
            <mob-divider vertical="true"></mob-divider>
            <div class="mob-date__container is-right">
                <mob-date-year ng-model="rightCalendar.ngModel"
                               range-model="$ctrl.potentialModel"
                               attachment="'rightCalendar'"
                               panel-change="$ctrl.panelChangeHandle(opt)"
                               decrease-year-disabled="$ctrl.isDisabledCalendarChange()"
                               calendar-hover="$ctrl.calendarHoverHandle(opt)"
                               calendar-click="$ctrl.calendarClickHandle(opt)"
                ></mob-date-year>
            </div>
        </div>
    </div>
</div>
