<div class="mob-tree-select"
     ng-class="{
     'is_clearable':$ctrl.clearable,
     'is_disabled':$ctrl.ngDisabled,
     'is_multiple':$ctrl.multiple,
     'is_collapseTag':$ctrl.collapseTag,
     'is_filterable':$ctrl.filterable,
     'is_loading':$ctrl.loadStatus === 2
     }"
>
    <div class="mob-tree-select__wrapper mob_popper__target" popper-group="selectDrown" ng-click="clickHandler()">

        <!-- 右侧的ICON -->
        <div class="mob-tree-select__suffix" ng-class="{'is_hidden':!$slot.slotSet.has('prefix')}">
            <slot name="prefix"></slot>
        </div>

        <!-- 展示区域 -->
        <div class="mob-tree-select__selection">

            <!-- 多选select -->
            <!-- 合并 -->
            <div class="mob-tree-select__selected-item__collapse-contain"
                 ng-if="$ctrl.multiple && $ctrl.ngModel.length > 0 && !$ctrl.collapseTag">
                <div class="mob-tree-select__selected-item__collapse" ng-repeat="item in collapseTagsList">
                    <span ng-bind="item[$ctrl.props['label']]"></span>
                    <!-- TreeSelect暂时不支持通过Tag移除 -->
                    <!--                    <mob-icon-close class="mob-icon__close" stop-bubbling ng-click="collapseRemove(item)"></mob-icon-close>-->
                </div>

            </div>
            <!-- 合并，无工具箱 -->
            <div class="mob-tree-select__selected-item__collapse-contain" ng-show="isCollapseTagsNoTooltip()">
                <!-- 首个tag -->
                <div class="mob-tree-select__selected-item__collapse">
                    <span ng-bind="collapseTagsList[0][$ctrl.props['label']]"></span>
                    <!-- TreeSelect暂时不支持通过Tag移除 -->
                    <!--                    <mob-icon-close class="mob-icon__close"-->
                    <!--                                    ng-click="collapseRemove(collapseTagsList[0])"></mob-icon-close>-->
                </div>
                <!-- 未展示tags的数量 -->
                <div class="mob-tree-select__selected-item__collapse" ng-if="isCollapseTagsHasRedundant()">
                    <span ng-bind="'+' + (collapseTagsList.length - 1)"></span>
                </div>
            </div>

            <!-- 合并，有工具箱 -->
            <div class="mob-tree-select__selected-item__collapse-contain" ng-show="isCollapseTagsHasTooltip()">
                <!-- 首个tag -->
                <div class="mob-tree-select__selected-item__collapse">
                    <span ng-bind="collapseTagsList[0][$ctrl.props['label']]"></span>
                    <!-- TreeSelect暂时不支持通过Tag移除 -->
                    <!--                    <mob-icon-close class="mob-icon__close"-->
                    <!--                                    ng-click="collapseRemove(collapseTagsList[0])"></mob-icon-close>-->
                </div>
                <!-- 未展示tags的数量 -->
                <div class="mob-tree-select__selected-item__collapse mob_popper__target" popper-group="tooltip" stop-bubbling
                     ng-show="isCollapseTagsHasRedundant()">
                    <span ng-bind="'+' + (collapseTagsList.length - 1)"></span>
                </div>

            </div>

            <div class="mob-tree-select__selected-item mob-tree-select__input-wrapper"
                 ng-class="{'is-hidden':$ctrl.filterable }">
                <input readonly type="text" autocomplete="off" placeholder="{{placeholder}}"
                       class="mob-input__inner custom" ng-model="$ctrl.model">
            </div>
            <div class="mob-tree-select__selected-item mob-tree-select__filterable-input-wrapper"
                 ng-class="{'is-hidden':!$ctrl.filterable }">
                <input type="text" autocomplete="off" placeholder="{{placeholder}}" ng-readonly="!$ctrl.filterable"
                       class="mob-input__inner mob-input-filterable  custom" ng-model="filterableText">
            </div>
            <div class="mob-tree-select__selected-item mob-tree-select-placeholder" ng-if="isSpanPlaceholder()">
                <span class="mob-unselect-text" ng-bind="placeholder"></span>
            </div>
        </div>


        <!-- 右侧的ICON -->
        <div class="mob-tree-select__suffix">
                <span class="mob-tree-select__suffix-inner" ng-class="{'is_hide_able':showClear()}">
                    <mob-Icon-arrow-down class="mob-icon__down-arrow" ng-if="$ctrl.loadStatus !== 2"
                                         ng-class="{'is_popper':popperShow}"></mob-Icon-arrow-down>
                    <mob-icon-loading ng-if="$ctrl.loadStatus === 2"></mob-icon-loading>
                </span>
            <span class="mob-tree-select__suffix-inner mob-icon__clean" ng-if="showClear()">
                    <mob-icon-circle-close ng-class="{'is_popper':popperShow}"
                                           ng-click="clean()"></mob-icon-circle-close>
                </span>
        </div>
    </div>

</div>
