<div class="mob-popper">
    <div class="mob-popper-target popper-target" popper-group="drop-down">
        <ng-transclude ng-transclude-slot="popperTarget"></ng-transclude>
    </div>

    <div class="mob-popper-down popper-down" popper-group="drop-down">
        <div class="mob-popper-down__wrapper">
            <span class="mob-popper-down__arrow"></span>
            <div class="mob-popper-down__inner">
                <ng-transclude ng-transclude-slot="popperDown"></ng-transclude>
            </div>
        </div>
    </div>
</div>
