mob-date, .mob-date {
    background-color: var(--mob-blank-light-fill-color);
    color: var(--mob-regular-text-color);
}

.mob-date > div {
    position: relative;
}

.mob-date > div mob-date-year, .mob-date > div mob-date-month {
    position: absolute;
    top: 0;
    left: 0;
}

.mob-date .mob-date__header {
    display: flex;
    position: relative;
    box-sizing: border-box;
    padding: 5px 5px 10px 5px;
    border-bottom: 1px solid var(--mob-lighter-border-color);
}

.mob-date .mob-date__header .button {
    cursor: pointer;
}

.mob-date .mob-date__header .button:hover {
    color: var(--mob-primary-color)
}

.mob-date .mob-date__header .content {
    flex-grow: 1;
    margin: 0;
    padding: 0;
    text-align: center;
}

.mob-date .mob-date__header .content span {
    font-size: 1.2rem;
}

.mob-date .mob-date__header .content span:hover {
    color: var(--mob-primary-color);
    cursor: pointer;
}

.mob-date .mob-date__container__wrapper {
    width: 100%;
    display: flex;
}

.mob-date .mob-date__container__wrapper .mob-date__sidebar {
    width: 110px;
    overflow: auto;
    padding-top: 6px;
    border-right: 1px solid var(--mob-border-color);
}

.mob-date .mob-date__container__wrapper .mob-date__sidebar button {
    width: 100%;
    line-height: 28px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    text-align: left;
    outline: none;
    color: var(--mob-regular-text-color);
}
.mob-date .mob-date__container__wrapper .mob-date__sidebar button:hover{
    color: var(--mob-primary-color);
}

.mob-date .mob-date__container {
    width: 320px;
    padding: 0 10px;
    flex-grow: 1;
}

.mob-date .mob-date__container .button.is_disabled {
    color: var(--mob-date-off-text-color);
    cursor: not-allowed;
}

.mob-date .mob-date__container .mob-date__content {
    width: 100%;
    display: grid;
    grid-row-gap: 10px;
}

.mob-date .mob-date__container .mob-date__content .row {
    width: 100%;
    display: grid;
    /*box-sizing: border-box;*/
    gap: 0;
    grid-gap: 0;
    grid-column-gap: 0;
}

.mob-date .mob-date-year .mob-date__container > .mob-date__content .row,
.mob-date .mob-date-year-range .mob-date__container > .mob-date__content .row,
.mob-date .mob-date-month .mob-date__container > .mob-date__content .row ,
.mob-date .mob-date-month-range .mob-date__container > .mob-date__content .row {
    grid-template-rows:auto auto auto;
    grid-template-columns: repeat(4, 1fr);
}

.mob-date .mob-date__content .col {
    display: flex;
    /*width: 80px;*/
    height: 60px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.mob-date .mob-date__content .col span {
    box-sizing: border-box;
    padding: 5px 12px;
    border-radius: 12px;
}

.mob-date .mob-date__content .col.prev span, .mob-date .mob-date__content .col.next span {
    color: var(--mob-date-off-text-color);
}

.mob-date .mob-date__content .col:not(.disabled,.active,.potential,.prev,.next).today span {
    color: var(--mob-active-text-color);
}

.mob-date .mob-date__content .col:not(.disabled).active span {
    background-color: var(--mob-active-text-color);
    color: var(--mob-basic-white-color);
}
.mob-date .mob-date__content .col:not(.disabled).potential {
    background-color: var(--mob-extra-lighter-border-color);
}
.mob-date .mob-date__content .col:not(.disabled,.active).potential-active span {
    background-color: var(--mob-active-text-color);
    color: var(--mob-basic-white-color);
}


.mob-date .mob-date__content .col.disabled {
    background-color: var(--mob-light-fill-color);
    color: var(--mob-date-off-text-color);
    cursor: not-allowed;
}

.mob-date .mob-date__content .col:not(.disabled,.active,.prev,.next):hover {
    color: var(--mob-active-text-color);
}


.mob-date-date {
    width: 100%;

}

/** mob-date-date 样式 **/
.mob-date .mob-date-date .mob-date__content .col {
    /*width: 40px;*/
    height: 40px;
}

.mob-date .mob-date-date .mob-date__container > .mob-date__content > .row {
    grid-template-columns: repeat(7, 1fr);
}

.mob-date .mob-date-date mob-date {
    width: 100%;
    height: 100%;

}

.mob-date .mob-date-date .mob-date__content .col {
    width: 100%;
}

.mob-date .mob-date-date .mob-date__content .col:not(.disabled) span {
    display: inline-block;
    text-align: center;
    line-height: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    font-size: 13px;
    border-radius: 50%;
}
