<div
        class="mob-tree-node"
        ng-class="{
        'is_expand':$ctrl.data.expand,
        'is_loading':$ctrl.data.loadStatus === 2
        }"
>
    <div class="mob-tree-node-content" ng-click="$ctrl.nodeClickHandler($event)"
         ng-style="{'padding-left': 16 * ($ctrl.data.level) +'px', 'padding-right': ($ctrl.data.children && $ctrl.data.children.length > 0) ? 0 + 'px' : 16 + 'px'}">
        <!-- icon -->
        <div class="mob-tree-node-expand">
            <mob-icon-caret-right ng-if="$ctrl.canExpand()"
                                  ng-click="$ctrl.expandIconClickHandler()" stop-bubbling></mob-icon-caret-right>
            <mob-icon-loading ng-if="$ctrl.data.loadStatus === 2" stop-bubbling></mob-icon-loading>
        </div>
        <!-- checkBox -->
        <div class="mob-tree-node-operate">
            <mob-check-box  stop-bubbling
                            ng-if="$ctrl.showCheckbox !== false && $ctrl.allowCheck !== false"
                            ng-model="$ctrl.data.check"
                            indeterminate="$ctrl.data.indeterminate"
                            ng-click="$ctrl.checkBoxClickHandler()"
                            ng-disabled="$ctrl.data.disabled"
            ></mob-check-box>
        </div>
        <div class="mob-tree-node-label">
            <span ng-bind="$ctrl.data[$ctrl.props['label']]"></span>
        </div>
    </div>
    <!-- 子节点 -->
    <div class="mob-tree-node-children" ng-if="$ctrl.data.children && $ctrl.data.children.length > 0">
        <mob-tree-node ng-if="$ctrl.data.expand"
                       ng-repeat="node in $ctrl.data.children"
                       show-checkbox="node.showCheckbox"
                       allow-check="node.allowCheck"
                       data="node"
                       node-key="$ctrl.nodeKey"
                       props="$ctrl.props"
                       expand-on-click-node="$ctrl.expandOnClickNode"
                       check-on-click-node="$ctrl.checkOnClickNode"
                       on-repeat-finish="treeNodeRepeatFinish"></mob-tree-node>
    </div>
</div>
