<section class="mob-doc content ignore">

    <h2>Switch 开关</h2>

    <div class="mob-doc content" style="position: relative">

        {{currentDayStartTimeStamp}}
        {{nexDayStartTimeStamp}}

<!--        <h3>基础用法</h3>-->
<!--        <div class="mob-demo-block">-->
<!--            <div class="mob-demo-example">-->
<!--                <mob-switch ng-model="value"></mob-switch>-->
<!--            </div>-->
<!--            <div class="meta">-->
<!--                <pre prism>-->
<!--                        <code class="source-code language-markup language-js language-html language-css"-->
<!--                        >&lt;!&ndash;-->
<!--                            <mob-switch ng-model="value"></mob-switch>-->
<!--                        &ndash;&gt;</code>-->
<!--                    </pre>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</section>
