<section class="mob-doc content ignore" ng-controller="InputNumberCtrl as ctrl">

    <h2>Input Number 输入框</h2>

    <p class="tips  tips-success"> 需依赖 <code>Decimal.js</code> 保证计算精度</p>

    <div class="mob-doc content">

        <h3>基础用法</h3>
        <div class="mob-demo-block">
            <div class="mob-demo-example">

                <div class="mob-demo-example-child">
                    <mob-input-number min="1" max="10" style="display:block;width: 250px;" ng-model="ctrl.value"></mob-input-number>
                </div>
                <mob-divider></mob-divider>
                <p>
                    默认的 <code>step</code> 为 1， <code>precision</code>为0
                </p>
            </div>
            <div class="meta">
                <pre prism>
                        <code class="source-code language-markup language-js language-html language-css"
                        ><!--
                            <mob-input-number min="1" max="10" style="display:block;width: 250px;" ng-model="value"></mob-input-number>
                        --></code>
                    </pre>
            </div>
        </div>

        <h3>禁用状态</h3>
        <div class="mob-demo-block">
            <div class="mob-demo-example">

                <div class="mob-demo-example-child">
                    <mob-input-number min="1" max="10" style="display:block;width: 250px;" ng-model="ctrl.value2" ng-disabled="true"></mob-input-number>
                </div>
            </div>
            <div class="meta">
                <pre prism>
                        <code class="source-code language-markup language-js language-html language-css"
                        ><!--
                            <mob-input-number min="1" max="10" style="display:block;width: 250px;" ng-model="value" ng-disabled="true"></mob-input-number>
                        --></code>
                    </pre>
            </div>
        </div>

        <h3>指定步数</h3>
        <div class="mob-demo-block">
            <div class="mob-demo-example">
                <div class="mob-demo-example-child">
                    <mob-input-number style="display:block;width: 250px;"  min="1" max="10" step="2" ng-model="ctrl.value3" ></mob-input-number>
                </div>
            </div>
            <div class="meta">
                <pre prism>
                        <code class="source-code language-markup language-js language-html language-css"
                        ><!--
                            <mob-input-number style="display:block;width: 250px;"  min="1" max="10" step="2" ng-model="ctrl.value3" ></mob-input-number>
                        --></code>
                    </pre>
            </div>
        </div>

        <h3>严格步数</h3>
        <div class="mob-demo-block">
            <div class="mob-demo-example">
                <div class="mob-demo-example-child">
                    <mob-input-number style="display:block;width: 250px;"  min="1" max="10" step="2" step-strictly="true" ng-model="ctrl.value4" ></mob-input-number>
                </div>
            </div>
            <div class="meta">
                <pre prism>
                        <code class="source-code language-markup language-js language-html language-css"
                        ><!--
                            <mob-input-number style="display:block;width: 250px;"  min="1" max="10" step="2" step-strictly="true" ng-model="ctrl.value4" ></mob-input-number>
                        --></code>
                    </pre>
            </div>
        </div>

    </div>
</section>
